Repository pgflow-dev/pgflow: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck, pyright, poetry

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

typecheck:
  run: ./node_modules/.bin/tsc --noEmit

pyright:
  run: poetry run pyright {staged_files}

poetry:
  run: poetry check

ai-tools: sort out extras
  ai-tools/poetry.lock
  ai-tools/pyproject.toml
Due: none

lefthook: fix paths
  lefthook.yml
Due: none

lefthook: disable tsc, fix glob paths
  lefthook.yml
Due: none

supabase: add prompt.aichat
  supabase/prompt.aichat
Due: none

update prompt.aichat
  supabase/migrations/20240103215448_create_raws.sql
  supabase/prompt.aichat
Due: none

remove old migrations
  supabase/migrations/20240103214856_add_pgvector.sql
  supabase/migrations/20240103215349_add_uuid.sql
  supabase/migrations/20240103215448_create_documents.sql
  supabase/migrations/20240103215758_create_match_documents_fn.sql
Due: none

supabase: corrected migration
  supabase/migrations/20240103215448_create_raws.sql
Due: none

frontend: rename PUBLIC_SUPABASE_PROJECT_ID to *_URL
  frontend/.env.example
  frontend/src/lib/supabaseClient.ts
Due: eslint, prettier, typecheck

rename supabase/types.ts to supabase/types.d.ts
  supabase/types.d.ts
Due: none

lefthook: add hook for ensuring supabase types are exported with migrations
  lefthook.yml
Due: none

supabase: update types.d.ts
  supabase/types.d.ts
Due: none

lefthook: disable supabase-types
  lefthook.yml
Due: none

Add frontend/.envrc
  frontend/.envrc
Due: none

supabase: rename raws to chunks and simplify
  supabase/migrations/20240103215448_create_chunks.sql
  supabase/migrations/20240103215448_create_raws.sql
  supabase/types.d.ts
Due: none

Enable supabase-types hook
  lefthook.yml
Due: none

Squashed commit of the following:
  frontend/src/app.html
  frontend/src/routes/+page.svelte
Due: prettier, typecheck

properly setup .editorconfig files
  .editorconfig
  frontend/.editorconfig
  supabase/.editorconfig
Due: none

prettier --write . (spaces=>tabs mostly)
  frontend/.eslintrc.cjs
  frontend/.storybook/preview.ts
  frontend/.vscode/settings.json
  frontend/package.json
  frontend/postcss.config.cjs
  frontend/src/app.html
  frontend/src/app.postcss
  frontend/src/lib/userStore.ts
  frontend/src/stories/Button.stories.ts
  frontend/src/stories/Button.svelte
  frontend/src/stories/Configure.mdx
  frontend/src/stories/Header.stories.ts
  frontend/src/stories/Header.svelte
  frontend/src/stories/Page.stories.ts
  frontend/src/stories/Page.svelte
  frontend/src/stories/button.css
  frontend/src/stories/header.css
  frontend/src/stories/page.css
  frontend/svelte.config.js
  frontend/tailwind.config.ts
  frontend/vite.config.ts
Due: eslint, prettier, typecheck

frontend: add format-staged script
  frontend/package-lock.json
  frontend/package.json
Due: prettier, typecheck

lefthook: run svelte-check only if svelte files changed
  lefthook.yml
Due: none

frontend: change theme to crimson
  frontend/src/app.html
Due: none

create a shared top level .envrc
  .envrc
  ai-tools/.envrc
  frontend/.envrc
  supabase/.envrc
Due: none

.envrc: also source direnv
  .envrc
Due: none

frontend: add pnpm-lock.yaml
  frontend/pnpm-lock.yaml
Due: none

use pnpm everywhere
  frontend/package.json
Due: prettier, typecheck

Setup turborepo and rewrite lefthook to use it
  .envrc
  .gitignore
  ai-tools/package.json
  ai-tools/poetry.lock
  ai-tools/pyproject.toml
  ai-tools/requirements.txt
  frontend/package.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  supabase/package.json
  turbo.json
Due: prettier, typecheck

add vercel cli
  package.json
  pnpm-lock.yaml
Due: none

remove package-lock.json leftovers
  frontend/package-lock.json
  supabase/package-lock.json
Due: prettier, typecheck

frontend: setup @supabase/ssr client
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app.d.ts
  frontend/src/routes/+layout.server.ts
  frontend/src/routes/+layout.ts
  frontend/src/routes/hooks.server.ts
Due: eslint, prettier, typecheck

add auth/confirm/+server.ts
  frontend/src/routes/auth/confirm/+server.ts
Due: eslint, prettier, typecheck

Fix hooks.server.ts
  frontend/package.json
  frontend/src/hooks.server.ts
  pnpm-lock.yaml
Due: eslint, prettier, typecheck

move root route as /sign-up
  frontend/src/routes/sign-up/+page.svelte
Due: prettier, typecheck

.envrc: use .env.local too
  .envrc
Due: none

finally a simple centered input
  frontend/src/routes/+page.svelte
Due: prettier, typecheck

small change to sentiment fn
  supabase/functions/sentiment/index.ts
Due: none

imporove functions/call a bit
  supabase/functions/call
Due: none

add _shared/cors.ts
  supabase/functions/_shared/cors.ts
Due: none

Simple sentiment checker
  frontend/src/routes/+page.svelte
  supabase/functions/sentiment/index.ts
Due: prettier, typecheck

extract component for testing out
  frontend/src/routes/+page.svelte
  frontend/src/routes/SubmittableInput.svelte
Due: prettier, typecheck

add badge
  frontend/src/routes/+page.svelte
Due: prettier, typecheck

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx} and ^frontend/
  prettier: any of: *.{js,jsx,ts,tsx,json,svelte,css} and ^frontend/
  typecheck: any of: *.{js,jsx,ts,tsx,json,svelte,css} and ^frontend/
  pyright: any of: **/*.py and ^ai\-tools/
  poetry: any of: (pyproject.toml|poetry.lock) and ^ai\-tools/
