Repository pgflow-dev/pgflow: changes, and which lefthook commands are due for each by the changed paths.
All: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, edulaw-ai-backend/docker-build, backend/check, backend/gen-types

frontend/check:
  run: 'turbo run check --scope=frontend
  
    '

frontend/lint:
  run: 'turbo run lint --scope=frontend
  
    '

edulaw-ai-backend/check:
  run: 'turbo run check --scope=edulaw-ai-backend
  
    '

edulaw-ai-backend/test:
  run: 'turbo run test --scope=edulaw-ai-backend
  
    '

edulaw-ai-backend/isort:
  run: 'pdm run isort {staged_files}
  
    '
  stage_fixed: true

edulaw-ai-backend/docker-build:
  run: 'docker compose build
  
    '

backend/check:
  run: '# turbo run check --scope=supabase {staged_files}
  
    deno check {staged_files}
  
    '

backend/gen-types:
  run: 'pnpm gen-types && git add types.d.ts
  
    '

chore: update multiple npm packages
  pkgs/frontend/package.json
  pnpm-lock.yaml
Due: frontend/check, frontend/lint

feat(feed): add delete note functionality with real-time updates
  pkgs/frontend/src/routes/feed/add-note/+page.svelte
Due: frontend/check, frontend/lint

feat: add paste handling functionality to note input textarea
  pkgs/frontend/src/routes/feed/add-note/+page.svelte
Due: frontend/check, frontend/lint

feat(feed): add isHeaderReady function to improve header visibility logic
  pkgs/frontend/src/routes/feed/NoteRow.svelte
Due: frontend/check, frontend/lint

feat: implement PWA using vite-pwa
  pkgs/frontend/.tool-versions
  pkgs/frontend/package.json
  pkgs/frontend/src/app.html
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/static/apple-touch-icon-180x180.png
  pkgs/frontend/static/favicon.ico
  pkgs/frontend/static/logo.svg
  pkgs/frontend/static/maskable-icon-512x512.png
  pkgs/frontend/static/pwa-192x192.png
  pkgs/frontend/static/pwa-512x512.png
  pkgs/frontend/static/pwa-64x64.png
  pkgs/frontend/static/robots.txt
  pkgs/frontend/tsconfig.json
  pkgs/frontend/vite.config.ts
  pnpm-lock.yaml
Due: frontend/check, frontend/lint

feat: update share_target for file uploads and add share page with updated Vite config
  pkgs/frontend/src/routes/share/+page.server.ts
  pkgs/frontend/src/routes/share/+page.svelte
  pkgs/frontend/vite.config.ts
Due: frontend/check, frontend/lint

fix(seed.sql): remove email entries from superadmin_emails
  pkgs/supabase/seed.sql
Due: backend/gen-types

fix: update favicon link to use ICO format instead of SVG
  pkgs/frontend/src/app.html
Due: frontend/check, frontend/lint

feat(feed): change add-note to leverage forms and actions
  pkgs/frontend/src/routes/feed/add-note/+page.server.ts
  pkgs/frontend/src/routes/feed/add-note/+page.svelte
Due: frontend/check, frontend/lint

refactor(seed.sql): remove redundant insert statements for superadmin_emails and notes
  pkgs/supabase/seed.sql
Due: backend/gen-types

fix(migrations): correct SQL syntax and formatting in feed.sql
  pkgs/supabase/migrations/20240828120414_feed.sql
Due: backend/gen-types

fix(migration): update variable name in cron.schedule to improve clarity
  pkgs/supabase/migrations/20240828120414_feed.sql
Due: backend/gen-types

fix(migrations): correct comment formatting in feed.sql
  pkgs/supabase/migrations/20240828120414_feed.sql
Due: backend/gen-types

chore: rename frontend tool-versions file to root directory
  .tool-versions
Due: none

feat: add development script to package.json for local function testing:wq
  pkgs/supabase/package.json
Due: none

feat: add extract-features function for analyzing text and generating metrics
  pkgs/supabase/functions/extract-features/index.ts
Due: backend/check

chore: remove dead code and cleanup migration code
  pkgs/edulaw-ai-backend/chains/hierarchical_retriever.py
  pkgs/edulaw-ai-backend/spikes/embed_questions.py
  pkgs/edulaw-ai-backend/spikes/openwebui_tool.py
  pkgs/supabase/hierarchical_match_lex_docs.aichat
  pkgs/supabase/migrations/20240116091812_create_documents.sql
  pkgs/supabase/migrations/20240124170131_create_no_to_int.sql
  pkgs/supabase/migrations/20240124203021_create_lex_helper_views.sql
  pkgs/supabase/migrations/20240124205749_create_match_lex_docs.sql
  pkgs/supabase/migrations/20240303164641_acl.sql
  pkgs/supabase/migrations/20240314103649_chat_messages.sql
  pkgs/supabase/migrations/20240419113220_embeddings.sql
  pkgs/supabase/migrations/20240828120400_cron.sql
  pkgs/supabase/migrations/20241002082346_utils.sql
  pkgs/supabase/migrations/20241002083724_documents.sql
  pkgs/supabase/migrations/20241002084127_chat.sql
  pkgs/supabase/migrations/20241002091329_feed.sql
  pkgs/supabase/queries/loader.sql
  pkgs/supabase/queries/match_lex_docs.sql
  pkgs/supabase/types.d.ts
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, backend/gen-types

refactor: remove AuthIndicator component and integrate its functionality into AppBar
  pkgs/frontend/src/lib/components/AuthIndicator.svelte
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

feat: add drawer component with navigation links in layout
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

feat: implement google and github oauth sign in
  pkgs/frontend/package.json
  pkgs/frontend/src/hooks.server.ts
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/+layout.ts
  pkgs/frontend/src/routes/auth/callback/+server.ts
  pkgs/frontend/src/routes/auth/sign-in-2/+page.svelte
  pkgs/supabase/.env.vault
  pkgs/supabase/bin/supabase
  pkgs/supabase/config.toml
  pkgs/supabase/package.json
  pnpm-lock.yaml
Due: frontend/check, frontend/lint

fix(frontend): fix magic link/email login
  pkgs/frontend/src/lib/texts.ts
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/auth/sign-in-2/+page.svelte
  pkgs/frontend/vite.config.ts
Due: frontend/check, frontend/lint

chore(frontend): replace routes: /auth/sign-in with /auth/sign-in-2
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/auth/sign-in-2/+page.svelte
  pkgs/frontend/src/routes/auth/sign-in/+page.svelte
Due: frontend/check, frontend/lint

chore(env): update production vault configuration and version
  pkgs/frontend/.env.vault
Due: none

feat: remove supabase client implementation from frontend library
  pkgs/frontend/src/lib/supabaseClient.ts
Due: frontend/check, frontend/lint

feat(auth): enable session detection in URL for Supabase client
  pkgs/frontend/src/hooks.server.ts
  pkgs/frontend/src/routes/+layout.ts
Due: frontend/check, frontend/lint

refactor: remove unused current store and related functions
  pkgs/frontend/src/hooks.server.ts
  pkgs/frontend/src/lib/stores/current.ts
  pkgs/frontend/src/routes/+layout.ts
Due: frontend/check, frontend/lint

feat(auth): add detailed logging for auth callback process
  pkgs/frontend/src/routes/auth/callback/+server.ts
Due: frontend/check, frontend/lint

feat: enable console.log in production for debugging purposes in Vite config
  pkgs/frontend/vite.config.ts
Due: frontend/check, frontend/lint

chore: update dependencies to latest versions
  pnpm-lock.yaml
Due: none

chore: refactor SSR authentication and protected routes
  pkgs/frontend/package.json
  pkgs/frontend/src/app.d.ts
  pkgs/frontend/src/app.html
  pkgs/frontend/src/hooks.server.ts
  pkgs/frontend/src/routes/(private)/+layout.server.ts
  pkgs/frontend/src/routes/(private)/conversations/+page.svelte
  pkgs/frontend/src/routes/(private)/conversations/+page.ts
  pkgs/frontend/src/routes/(private)/conversations/[conversationId]/+page.svelte
  pkgs/frontend/src/routes/(private)/conversations/[conversationId]/+page.ts
  pkgs/frontend/src/routes/(private)/conversations/[conversationId]/Page.svelte
  pkgs/frontend/src/routes/(private)/conversations/old-version/[conversationId]/+page.svelte
  pkgs/frontend/src/routes/(private)/conversations/old-version/[conversationId]/Page.svelte
  pkgs/frontend/src/routes/(private)/documents/+page.svelte
  pkgs/frontend/src/routes/(private)/documents/search/+page.svelte
  pkgs/frontend/src/routes/(private)/feed/+layout.svelte
  pkgs/frontend/src/routes/(private)/feed/NoteRow.svelte
  pkgs/frontend/src/routes/(private)/feed/add-note/+page.server.ts
  pkgs/frontend/src/routes/(private)/feed/add-note/+page.svelte
  pkgs/frontend/src/routes/(private)/feed/notes/+page.svelte
  pkgs/frontend/src/routes/(private)/share/+page.server.ts
  pkgs/frontend/src/routes/(private)/share/+page.svelte
  pkgs/frontend/src/routes/+layout.server.ts
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/+layout.ts
  pkgs/frontend/src/routes/auth/confirm/+server.ts
  pkgs/frontend/src/routes/conversations/+layout.ts
  pkgs/frontend/vite.config.ts
  pkgs/supabase/package.json
  pnpm-lock.yaml
Due: frontend/check, frontend/lint

feat(texts): update taglines for improved messaging
  pkgs/frontend/src/lib/texts.ts
Due: frontend/check, frontend/lint

feat(auth): update redirect path after sign out to '/auth/sign-in'
  pkgs/frontend/src/routes/auth/sign-out/+server.ts
Due: frontend/check, frontend/lint

fix: update button styles in layout
  pkgs/frontend/src/lib/texts.ts
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

refactor(texts): reduce tagline list to improve clarity and focus
  pkgs/frontend/src/lib/texts.ts
Due: frontend/check, frontend/lint

refactor(texts): reorder and update taglines for clarity and relevance
  pkgs/frontend/src/lib/texts.ts
Due: frontend/check, frontend/lint

fix(auth): update text color and placeholder in sign-in page
  pkgs/frontend/src/routes/auth/sign-in/+page.svelte
Due: frontend/check, frontend/lint

chore: remove unused share page server file
  pkgs/frontend/src/routes/(private)/share/+page.server.ts
Due: frontend/check, frontend/lint

feat: add title to layout for improved SEO and branding
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

feat: enhance layout with icons for sign in/out buttons
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

feat: add bars icon to AppBar button in layout component
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

Path conditions:
  frontend/check: any of: *.{svelte,js,ts,html,css,json} and ^pkgs/frontend/
  frontend/lint: any of: *.{svelte,js,ts,html,css,json} and ^pkgs/frontend/
  edulaw-ai-backend/check: any of: {*pyproject.toml,*pdm.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  edulaw-ai-backend/test: any of: {*pyproject.toml,*pdm.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  edulaw-ai-backend/isort: any of: {*pyproject.toml,*pdm.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  edulaw-ai-backend/docker-build: any of: {*Dockerfile,*compose.yaml} and ^pkgs/edulaw\-ai\-backend/
  backend/check: any of: *.ts and ^pkgs/supabase/functions/
  backend/gen-types: any of: *.sql and ^pkgs/supabase/
