Repository pgflow-dev/pgflow: changes, and which lefthook commands are due for each by the changed paths.
All: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, edulaw-ai-backend/docker-build, backend/check, backend/gen-types

lefthook.yml:

pre-commit:
  parallel: true
  follow: false
  commands:
    # This task is skipped by default, un-skip it to debug the inputs
    debug:
      skip: true
      run: |
        echo staged_files="{staged_files}"
        exit 1

    frontend/check:
      root: "pkgs/frontend"
      glob: "*.{svelte,js,ts,html,css,json}"
      run: |
        turbo run check --scope=frontend

    frontend/lint:
      root: "pkgs/frontend"
      glob: "*.{svelte,js,ts,html,css,json}"
      run: |
        turbo run lint --scope=frontend

    # TODO: fix glob pattern for pdm.lock
    #       the problem is that globs without asterist or other special chars
    #       does not not work, so literal 'pdm.lock' is not picked up
    #       the workaround is to prepend the literal filename with '*'
    edulaw-ai-backend/check:
      root: "pkgs/edulaw-ai-backend"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        turbo run check --scope=edulaw-ai-backend

    edulaw-ai-backend/test:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        turbo run test --scope=edulaw-ai-backend

    edulaw-ai-backend/isort:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        pdm run isort {staged_files}
      stage_fixed: true

    edulaw-ai-backend/docker-build:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*Dockerfile,*compose.yaml}"
      run: |
        docker compose build

    backend/check:
      root: "pkgs/supabase/functions/"
      glob: "*.ts"
      run: |
        # turbo run check --scope=supabase {staged_files}
        deno check {staged_files}

    backend/gen-types:
      root: "pkgs/supabase/"
      glob: "*.sql"
      run: |
        pnpm gen-types && git add types.d.ts

feat(cors): add CORS support for API routes in hooks.server.ts
  pkgs/frontend/src/hooks.server.ts
Due: frontend/check, frontend/lint

feat: saving shared content from PWA app
  pkgs/frontend/package.json
  pkgs/frontend/src/app.html
  pkgs/frontend/src/hooks.server.ts
  pkgs/frontend/src/routes/(private)/feed/add-note/+page.server.ts
  pkgs/frontend/src/routes/(private)/share/+page.server.ts
  pkgs/frontend/src/routes/(private)/share/+page.svelte
  pkgs/frontend/svelte.config.js
  pkgs/frontend/vite.config.ts
  pkgs/supabase/config.toml
  pnpm-lock.yaml
Due: frontend/check, frontend/lint

feat(feed): enhance NoteRow styling and add footer for inferred type display
  pkgs/frontend/src/routes/(private)/feed/NoteRow.svelte
  pkgs/frontend/src/routes/(private)/feed/add-note/+page.svelte
Due: frontend/check, frontend/lint

feat(metadata): enhance UI schema with additional types and improve documentation
  pkgs/supabase/functions/infer-metadata/index.ts
Due: backend/check

refactor(layout): remove signIn button and update signOut placement
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

fix(theme): change theme from 'crimson' to 'hamlindigo'
  pkgs/frontend/histoire-setup.ts
  pkgs/frontend/src/app.html
  pkgs/frontend/src/app.postcss
Due: frontend/check, frontend/lint

feat: enhance layout with new icons and improved button styles
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

fix: remove unnecessary padding from ChatLayout component
  pkgs/frontend/src/lib/components/ChatLayout.svelte
Due: frontend/check, frontend/lint

style: update ChatLayout to use flexbox for better layout management
  pkgs/frontend/src/lib/components/ChatLayout.svelte
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

feat: add sign-in option to layout with signIn icon
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

refactor: rename feed.notes to feed.shares
  pkgs/frontend/src/lib/components/NewConversationButton.svelte
  pkgs/frontend/src/lib/db.ts
  pkgs/frontend/src/routes/(private)/conversations/+page.svelte
  pkgs/frontend/src/routes/(private)/conversations/new/+page.ts
  pkgs/frontend/src/routes/(private)/feed/ShareRow.svelte
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
  pkgs/frontend/src/routes/(private)/feed/shares/+page.svelte
  pkgs/frontend/src/routes/(private)/share/+page.server.ts
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/supabase/migrations/20241002091329_feed.sql
  pkgs/supabase/types.d.ts
Due: frontend/check, frontend/lint, backend/gen-types

feat: add ui for different types of contents, infer types using ai
  .envrc
  .gitignore
  pkgs/frontend/.envrc
  pkgs/frontend/.gitignore
  pkgs/frontend/package.json
  pkgs/frontend/src/lib/components/UiBookmark.svelte
  pkgs/frontend/src/lib/components/ui/Bookmark.svelte
  pkgs/frontend/src/lib/components/ui/Component.svelte
  pkgs/frontend/src/lib/components/ui/Event.svelte
  pkgs/frontend/src/lib/components/ui/Snippet.svelte
  pkgs/frontend/src/lib/components/ui/Text.svelte
  pkgs/frontend/src/lib/db.ts
  pkgs/frontend/src/lib/shareMetadataSchema.ts
  pkgs/frontend/src/routes/(private)/feed/ShareRow.svelte
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
  pkgs/frontend/src/routes/(private)/share/+page.server.ts
  pkgs/frontend/src/routes/(private)/share/+page.svelte
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/stories/ui/Bookmark.story.svelte
  pkgs/frontend/src/stories/ui/Event.story.svelte
  pkgs/frontend/src/stories/ui/Snippet.story.svelte
  pkgs/frontend/src/stories/ui/Text.story.svelte
  pkgs/supabase/.env.vault
  pkgs/supabase/functions/_shared/shareMetadataSchema.ts
  pkgs/supabase/functions/embed/index.ts
  pkgs/supabase/functions/import_map.json
  pkgs/supabase/functions/infer-metadata/index.ts
  pkgs/supabase/migrations/20241002091329_feed.sql
  pkgs/supabase/queries/seed_bookmarks.sql
  pkgs/supabase/types.d.ts
  pnpm-lock.yaml
Due: frontend/check, frontend/lint, backend/check, backend/gen-types

fix: update model version in extract-features and infer-metadata functions
  pkgs/supabase/functions/extract-features/index.ts
  pkgs/supabase/functions/infer-metadata/index.ts
Due: backend/check

fix(theme): change theme from 'hamlindigo' to 'crimson'
  pkgs/frontend/histoire-setup.ts
  pkgs/frontend/src/app.html
  pkgs/frontend/src/app.postcss
Due: frontend/check, frontend/lint

feat(feed): enhance share form layout and button styling
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
Due: frontend/check, frontend/lint

feat(texts): add new taglines to the TAGLINES array
  pkgs/frontend/src/lib/texts.ts
Due: frontend/check, frontend/lint

feat(supabase): add new superadmin email to seed data
  pkgs/supabase/seed.sql
Due: backend/gen-types

feat: add feed-processor package with job queuing and metadata inference
  .lefthook/prepare-commit-msg/generate-commit-msg.sh
  lefthook.yml
  pkgs/feed-processor/.env.vault
  pkgs/feed-processor/.gitignore
  pkgs/feed-processor/README.md
  pkgs/feed-processor/bin/pgqueuer
  pkgs/feed-processor/package.json
  pkgs/feed-processor/pdm.lock
  pkgs/feed-processor/pyproject.toml
  pkgs/feed-processor/src/feed_processor/__init__.py
  pkgs/feed-processor/src/feed_processor/actors/infer_type.py
  pkgs/feed-processor/src/feed_processor/actors/infer_ui.py
  pkgs/feed-processor/src/feed_processor/chains/infer_type_chain.py
  pkgs/feed-processor/src/feed_processor/chains/infer_ui_chain.py
  pkgs/feed-processor/src/feed_processor/models.py
  pkgs/feed-processor/src/feed_processor/producer.py
  pkgs/feed-processor/src/feed_processor/spikes/with_types.py
  pkgs/feed-processor/src/feed_processor/supabase.py
  pkgs/feed-processor/src/feed_processor/utils.py
  pkgs/feed-processor/tests/__init__.py
  pkgs/frontend/src/lib/components/ui/Component.svelte
  pkgs/frontend/src/lib/db.ts
  pkgs/frontend/src/lib/shareMetadataSchema.ts
  pkgs/frontend/src/routes/(private)/feed/ShareRow.svelte
  pkgs/supabase/functions/infer-metadata/index.ts
  pkgs/supabase/functions/infer-type/index.ts
  pkgs/supabase/migrations/20240303100000_pgqueuer.sql
  pkgs/supabase/migrations/20241002082346_utils.sql
  pkgs/supabase/migrations/20241002091329_feed.sql
  pkgs/supabase/package.json
  pkgs/supabase/queries/feed_shares_triggers_and_pgqueuer.sql
  pkgs/supabase/types.d.ts
  pnpm-lock.yaml
Due: frontend/check, frontend/lint, backend/check, backend/gen-types

feat: setup fly.io deployment for feed-processor
  pkgs/feed-processor/.dockerignore
  pkgs/feed-processor/.env.vault
  pkgs/feed-processor/Dockerfile
  pkgs/feed-processor/compose.yaml
  pkgs/feed-processor/fly.toml
  pkgs/feed-processor/pdm.lock
  pkgs/feed-processor/src/feed_processor/actors/infer_type.py
  pkgs/feed-processor/src/feed_processor/actors/infer_ui.py
Due: none

feat(ci): add deployment configuration for feed-processor to production
  .gitlab-ci.yml
Due: none

fix: remove unused variable `record_uuid` from `infer_type.py`
  pkgs/feed-processor/src/feed_processor/actors/infer_type.py
Due: none

chore(env): update dotenv vault values for development, ci, staging, and production
  pkgs/feed-processor/.env.vault
Due: none

chore(env): update production vault configuration
  pkgs/feed-processor/.env.vault
Due: none

chore(env): update production vault configuration and version
  pkgs/feed-processor/.env.vault
Due: none

feat: log DATABASE_URL in get_connection function for debugging purposes
  pkgs/feed-processor/src/feed_processor/utils.py
Due: none

chore(deps): update supabase to version 1.204.3
  pkgs/supabase/package.json
  pnpm-lock.yaml
Due: none

fix(env): update production vault configuration and version
  pkgs/feed-processor/.env.vault
Due: none

feat(auth): update OAuth afte-redirect URL ('next') for OAuth sign-in
  pkgs/frontend/src/routes/auth/sign-in/+page.svelte
Due: frontend/check, frontend/lint

chore: update production vault configuration
  pkgs/feed-processor/.env.vault
Due: none

fix(feed-processor): style
  pkgs/feed-processor/src/feed_processor/utils.py
Due: none

refactor: rename json_content to content in feed processor and frontend and make it text
  pkgs/feed-processor/src/feed_processor/actors/infer_type.py
  pkgs/feed-processor/src/feed_processor/actors/infer_ui.py
  pkgs/frontend/src/routes/(private)/share/+page.server.ts
  pkgs/supabase/migrations/20241002091329_feed.sql
  pkgs/supabase/types.d.ts
Due: frontend/check, frontend/lint, backend/gen-types

feat: replace loading indicator with Text component in Component.svelte
  pkgs/frontend/src/lib/components/ui/Component.svelte
Due: frontend/check, frontend/lint

feat: add loading state to Text component
  pkgs/frontend/src/lib/components/ui/Component.svelte
  pkgs/frontend/src/lib/components/ui/Text.svelte
Due: frontend/check, frontend/lint

chore: update .gitignore files to not ignore .envrc*
  .gitignore
  pkgs/edulaw-ai-backend/.gitignore
  pkgs/feed-processor/.envrc
  pkgs/feed-processor/.gitignore
  pkgs/frontend/.gitignore
  pkgs/supabase/.gitignore
Due: none

feat(feed-processor): setup LangSmith tracing
  pkgs/feed-processor/.env.vault
  pkgs/feed-processor/pdm.lock
  pkgs/feed-processor/pyproject.toml
Due: none

chore: update dotenv vault values for development, ci, staging, and production
  pkgs/feed-processor/.env.vault
Due: none

chore(feed-processor): simplify db init, remove dead code
  pkgs/feed-processor/src/feed_processor/__init__.py
  pkgs/feed-processor/src/feed_processor/producer.py
  pkgs/feed-processor/src/feed_processor/utils.py
Due: none
