Repository pgflow-dev/pgflow: changes, and which lefthook commands are due for each by the changed paths.
All: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, edulaw-ai-backend/docker-build, backend/check, backend/gen-types

lefthook.yml:

pre-commit:
  parallel: true
  follow: false
  commands:
    # This task is skipped by default, un-skip it to debug the inputs
    debug:
      skip: true
      run: |
        echo staged_files="{staged_files}"
        exit 1

    frontend/check:
      root: "pkgs/frontend"
      glob: "*.{svelte,js,ts,html,css,json}"
      run: |
        turbo run check --scope=frontend

    frontend/lint:
      root: "pkgs/frontend"
      glob: "*.{svelte,js,ts,html,css,json}"
      run: |
        turbo run lint --scope=frontend

    # TODO: fix glob pattern for pdm.lock
    #       the problem is that globs without asterist or other special chars
    #       does not not work, so literal 'pdm.lock' is not picked up
    #       the workaround is to prepend the literal filename with '*'
    edulaw-ai-backend/check:
      root: "pkgs/edulaw-ai-backend"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        turbo run check --scope=edulaw-ai-backend

    edulaw-ai-backend/test:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        turbo run test --scope=edulaw-ai-backend

    edulaw-ai-backend/isort:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        pdm run isort {staged_files}
      stage_fixed: true

    edulaw-ai-backend/docker-build:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*Dockerfile,*compose.yaml}"
      run: |
        docker compose build

    backend/check:
      root: "pkgs/supabase/functions/"
      glob: "*.ts"
      run: |
        # turbo run check --scope=supabase {staged_files}
        deno check {staged_files}

    backend/gen-types:
      root: "pkgs/supabase/"
      glob: "*.sql"
      run: |
        pnpm gen-types && git add types.d.ts

refactor(pgflow): replace '__step__' with 'step' in payloads
  pkgs/feed-processor/pgflow_dsl.md
  pkgs/feed-processor/src/feed_processor/spikes/pgflow.py
  pkgs/supabase/functions/pgflow/index.ts
  pkgs/supabase/migrations/20241027172320_pgflow_start_step.sql
  pkgs/supabase/tests/pgflow/02_start_step.sql
  pkgs/supabase/tests/pgflow/03_complete_step.sql
Due: backend/check, backend/gen-types

chore(migrations): fix formatting in SQL migration files
  pkgs/supabase/migrations/20241020203900_feed_recordings.sql
  pkgs/supabase/migrations/20241106123035_pgflow_indexes.sql
  pkgs/supabase/types.d.ts
Due: backend/gen-types

feat(docs): add new sections for AI Generated Docs and React support
  pkgs/pgflow.dev/astro.config.mjs
  pkgs/pgflow.dev/src/content/docs/explain_in_a_simple_way.md
  pkgs/pgflow.dev/src/content/docs/from_frontend_perspective.mdx
  pkgs/pgflow.dev/src/content/docs/sidebar.md
Due: none

fix(supabase): update function call in migration script
  pkgs/supabase/migrations/20241027172315_pgflow_enqueue_job.sql
Due: backend/gen-types

feat(docs): add "From frontend perspective" section with React example
  pkgs/pgflow.dev/astro.config.mjs
  pkgs/pgflow.dev/src/content/docs/from_frontend_perspective.mdx
Due: none

fix(pgflow.dev): override SiteTitle so it points to /sidebar
  pkgs/pgflow.dev/astro.config.mjs
  pkgs/pgflow.dev/src/components/SiteTitle.astro
Due: none

fix(docs): correct code snippet in frontend perspective guide
  pkgs/pgflow.dev/src/content/docs/from_frontend_perspective.mdx
Due: none

docs: update React example in pgflow documentation
  pkgs/pgflow.dev/src/content/docs/starting_with_react.mdx
Due: none

fix(docs): correct button functionality in React example
  pkgs/pgflow.dev/src/content/docs/starting_with_react.mdx
Due: none

feat: disable input and button during flow execution
  pkgs/pgflow.dev/src/content/docs/starting_with_react.mdx
Due: none

feat(pgflow.dev): disable button during flow execution
  pkgs/pgflow.dev/src/content/docs/starting_with_react.mdx
Due: none

refactor: replace `stripSetupCode` with `CodeAfterMarker` component
  pkgs/pgflow.dev/src/components/CodeAfterMarker.astro
  pkgs/pgflow.dev/src/content/config.ts
  pkgs/pgflow.dev/src/content/docs/helpers.ts
  pkgs/pgflow.dev/src/content/docs/index.mdx
Due: none

feat(docs): add "Test Multifile Code" section
  pkgs/pgflow.dev/astro.config.mjs
  pkgs/pgflow.dev/src/content/docs/test_multifile_code.mdx
Due: none

chore(supabase): update esbuild imports and deno loader
  pkgs/supabase/bin/pgflow-bundle
  pkgs/supabase/functions/build.ts
Due: backend/check

refactor: update build script entry and output files
  pkgs/supabase/functions/build.ts
Due: backend/check

refactor(pgflow.dev): reorganize content structure
  pkgs/pgflow.dev/astro.config.mjs
  pkgs/pgflow.dev/src/content/docs/ideas/test_multifile_code.mdx
  pkgs/pgflow.dev/src/content/docs/ideas/versioning_always_new_flow.md
  pkgs/pgflow.dev/src/content/docs/ideas/versioning_migrate_payload.md
Due: none

fix(cli): correct argument parsing and output directory
  pkgs/pgflow-cli/package.json
  pkgs/pgflow-cli/src/index.ts
  pkgs/pgflow-cli/tsconfig.json
Due: none

chore(pgflow-core): initial
  pkgs/pgflow-core/LICENSE
  pkgs/pgflow-core/README.md
  pkgs/pgflow-core/__tests__/unit/main.test.ts
  pkgs/pgflow-core/eslint.config.mjs
  pkgs/pgflow-core/package-lock.json
  pkgs/pgflow-core/package.json
  pkgs/pgflow-core/src/main.ts
  pkgs/pgflow-core/tsconfig.json
  pkgs/pgflow-core/tsconfig.release.json
  pnpm-lock.yaml
Due: none

test(pgflow-core): setup a simple commander.js program
  pkgs/pgflow-core/.gitignore
  pkgs/pgflow-core/__tests__/unit/main.test.ts
  pkgs/pgflow-core/__tests__/unit/program.test.ts
  pkgs/pgflow-core/package.json
  pkgs/pgflow-core/src/main.ts
  pkgs/pgflow-core/src/program.ts
  pkgs/pgflow-core/tsconfig.json
  pnpm-lock.yaml
Due: none

fix(program): ensure program exits correctly in test environment
  pkgs/pgflow-core/__tests__/unit/program.test.ts
  pkgs/pgflow-core/src/program.ts
Due: none

refactor(cli): move program test to cli/commands directory
  pkgs/pgflow-core/__tests__/unit/cli/commands/program.test.ts
  pkgs/pgflow-core/src/cli/commands/install.ts
  pkgs/pgflow-core/src/program.ts
Due: none

chore: remove commented out code in InngestFlow.ts
  pkgs/supabase/functions/_flows/InngestFlow.ts
Due: backend/check

feat(cli): update install command to support supabase
  pkgs/pgflow-core/src/cli/commands/install.ts
  pkgs/pgflow-core/src/main.ts
  pkgs/pgflow-core/src/program.ts
  pkgs/pgflow-core/tsconfig.json
  pkgs/supabase/deno.lock
  pkgs/supabase/generate-schema.ts
Due: none

refactor: update Json type definition for better JSONB serialization
  pkgs/supabase/functions/_flows/Flow.ts
Due: backend/check

feat(supabase): add types for chat conversations and messages
  pkgs/supabase/types.d.ts
Due: none

refactor(ProcessVoiceMemo): rename tasks for clarity and update flow
  pkgs/supabase/functions/_flows/ProcessVoiceMemo.ts
Due: backend/check

feat: add voice memo summarization task
  pkgs/supabase/functions/_flows/ProcessVoiceMemo.ts
Due: backend/check

fix(supabase): correct function call in pgflow_enqueue_job.sql
  pkgs/supabase/migrations/20241027172315_pgflow_enqueue_job.sql
Due: backend/gen-types

feat(pgflow): introduce schema for flow management
  pkgs/supabase/migrations/20241027172100_pgflow_schema.sql
Due: backend/gen-types
