Repository pgflow-dev/pgflow: changes, and which lefthook commands are due for each by the changed paths.
All: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, edulaw-ai-backend/docker-build, backend/check, backend/gen-types

frontend/check:
  run: 'turbo run check --scope=frontend
  
    '

frontend/lint:
  run: 'turbo run lint --scope=frontend
  
    '

edulaw-ai-backend/check:
  run: 'turbo run check --scope=edulaw-ai-backend
  
    '

edulaw-ai-backend/test:
  run: 'turbo run test --scope=edulaw-ai-backend
  
    '

edulaw-ai-backend/isort:
  run: 'pdm run isort {staged_files}
  
    '
  stage_fixed: true

edulaw-ai-backend/docker-build:
  run: 'docker compose build
  
    '

backend/check:
  run: '# turbo run check --scope=supabase {staged_files}
  
    deno check {staged_files}
  
    '

backend/gen-types:
  run: 'pnpm gen-types && git add types.d.ts
  
    '

feat(docs): add 'Flow DSL crash course' to navigation
  pkgs/pgflow.dev/astro.config.mjs
  pkgs/pgflow.dev/src/content/docs/index.md
  pkgs/pgflow.dev/src/content/docs/landing_pages/flow_usage/01_flow_entrypoint.ts.raw
  pkgs/pgflow.dev/src/content/docs/landing_pages/flow_usage/02_parallel_processing.ts.raw
  pkgs/pgflow.dev/src/content/docs/landing_pages/flow_usage/03_combine.ts.raw
  pkgs/pgflow.dev/src/content/docs/landing_pages/flow_usage/05_trigger.ts.raw
  pkgs/pgflow.dev/src/content/docs/landing_pages/flow_usage/index.mdx
Due: none

fix(docs): enhance documentation for "Frontend simplicity"
  pkgs/pgflow.dev/src/content/docs/index.md
Due: none

docs: update title in documentation index page
  pkgs/pgflow.dev/src/content/docs/index.md
Due: none

feat(pgflow.dev): add "HuggingFace Abilities" step type
  pkgs/pgflow.dev/astro.config.mjs
  pkgs/pgflow.dev/src/content/docs/ai_generated/huggingface_abilities.md
Due: none

fix(docs): correct import path for CodeAfterMarker component
  pkgs/pgflow.dev/src/content/docs/landing_pages/flow_usage/index.mdx
Due: none

fix(migrations): remove redundant aliases in pgflow_fail_step.sql
  pkgs/supabase/migrations/20241122103044_pgflow_fail_step.sql
Due: backend/gen-types

feat(supabase): add memoized context creation for Groq integration
  pkgs/supabase/functions/_resources/createMemoizedContext.ts
  pkgs/supabase/functions/_resources/groq.ts
  pkgs/supabase/functions/_steps/SummarizeWithGroq.ts
Due: backend/check

refactor: move Flow related files to _pgflow directory
  pkgs/supabase/functions/_flows/BasicFlow.ts
  pkgs/supabase/functions/_flows/HatchetFlow.ts
  pkgs/supabase/functions/_flows/InngestFlow.ts
  pkgs/supabase/functions/_flows/LandingPageFlow.ts
  pkgs/supabase/functions/_flows/ProcessVoiceMemo.ts
  pkgs/supabase/functions/_flows/ProcessVoiceMemo2.ts
  pkgs/supabase/functions/_pgflow/Flow.ts
  pkgs/supabase/functions/_pgflow/completeStep.ts
  pkgs/supabase/functions/_pgflow/failStep.ts
  pkgs/supabase/functions/_pgflow/handleInput.ts
  pkgs/supabase/functions/pgflow/index.ts
Due: backend/check

feat(supabase): add edge runtime policy and background task handler
  pkgs/supabase/config.toml
  pkgs/supabase/functions/_pgflow/SupabaseBackgroundTask.ts
  pkgs/supabase/functions/pgflow-2/deno.json
  pkgs/supabase/functions/pgflow-2/deno.lock
  pkgs/supabase/functions/pgflow-2/index.ts
  pkgs/supabase/migrations/20241027172203_pgflow_edgefn_event.sql
  pkgs/supabase/migrations/20241027172315_pgflow_enqueue_job.sql
  pkgs/supabase/types.d.ts
Due: backend/check, backend/gen-types

feat(nlp-pipeline): update step slugs to snake_case
  pkgs/supabase/fixtures/nlp-pipeline.sql
  pkgs/supabase/functions/_flows/NlpPipeline.ts
  pkgs/supabase/functions/_pgflow/SupabaseBackgroundTask.ts
  pkgs/supabase/functions/_pgflow/handleInput.ts
Due: backend/check, backend/gen-types

feat(supabase): enable database seeding configuration
  pkgs/supabase/config.toml
  pkgs/supabase/types.d.ts
Due: none

feat(pgflow): add flowToRows function to transform flow data into database rows
  pkgs/supabase/functions/_pgflow/flowToRows.ts
Due: backend/check

feat(pgflow): add initial Flow2 class with task management
  pkgs/supabase/functions/_pgflow/Flow2.ts
Due: backend/check

refactor: rename flow_slug from 'nlp-pipeline' to 'NlpPipeline' in SQL fixtures
  pkgs/supabase/fixtures/NlpPipeline.sql
Due: backend/gen-types

feat(pgflow): enhance event handling and flow management
  pkgs/supabase/functions/_pgflow/SupabaseBackgroundTask.ts
  pkgs/supabase/functions/_pgflow/handleInput.ts
  pkgs/supabase/functions/pgflow-2/index.ts
Due: backend/check

feat(supabase): rename basic.sql to BasicFlow.sql
  pkgs/supabase/fixtures/BasicFlow.sql
  pkgs/supabase/fixtures/basic.sql
Due: backend/gen-types

feat(pgflow): add BasicFlow to FlowDefs in handleInput.ts
  pkgs/supabase/functions/_pgflow/handleInput.ts
Due: backend/check

fix(pgflow): update payload input in run_flow RPC call
  pkgs/frontend/src/routes/(private)/pgflow/[flowSlug]/new/+page.ts
Due: frontend/check, frontend/lint

refactor(pgflow): replace SupabaseBackgroundTask with BackgroundTaskHandler
  pkgs/supabase/functions/_pgflow/BackgroundTaskHandler.ts
  pkgs/supabase/functions/_pgflow/SupabaseBackgroundTask.ts
  pkgs/supabase/functions/_pgflow/completeStep.ts
  pkgs/supabase/functions/pgflow-2/index.ts
Due: backend/check

fix(supabase): comment out duplicate function call in enqueue_job migration
  pkgs/supabase/migrations/20241027172315_pgflow_enqueue_job.sql
Due: backend/gen-types

feat(supabase): add authorization header to pgflow edge function event
  pkgs/supabase/migrations/20241027172203_pgflow_edgefn_event.sql
Due: backend/gen-types

refactor: update Supabase client creation with environment variables
  pkgs/supabase/functions/_resources/createMemoizedContext.ts
  pkgs/supabase/functions/_shared/supabaseClient.ts
  pkgs/supabase/functions/pgflow-2/index.ts
Due: backend/check

fix(pgflow): specify error type as unknown in catch block
  pkgs/supabase/functions/pgflow/index.ts
Due: backend/check

refactor(pgflow): replace BackgroundTaskHandler with BackgroundTask
  pkgs/supabase/functions/_pgflow/BackgroundTask.ts
  pkgs/supabase/functions/_pgflow/BackgroundTaskHandler.ts
  pkgs/supabase/functions/_pgflow/failStep.ts
  pkgs/supabase/functions/pgflow-2/index.ts
Due: backend/check

fix(pgflow): ensure completeStep is called after handling input
  pkgs/supabase/functions/_pgflow/BackgroundTask.ts
Due: backend/check

fix(migrations): handle 'failed' status in step completion check
  pkgs/supabase/migrations/20241027172330_pgflow_complete_step.sql
Due: backend/gen-types

fix(migrations): handle unique_violation without raising exception
  pkgs/supabase/migrations/20241027172320_pgflow_start_step.sql
Due: backend/gen-types

feat(flows): add random sleep to tasks in BasicFlow and NlpPipeline
  pkgs/supabase/functions/_flows/BasicFlow.ts
  pkgs/supabase/functions/_flows/NlpPipeline.ts
Due: backend/check

refactor(migrations): comment out unique_violation handling in pgflow_start_step.sql
  pkgs/supabase/migrations/20241027172320_pgflow_start_step.sql
  pkgs/supabase/migrations/20241027172330_pgflow_complete_step.sql
Due: backend/gen-types

refactor: remove BackgroundTask.ts and update pgflow-2/index.ts
  pkgs/supabase/functions/_flows/BasicFlow.ts
  pkgs/supabase/functions/_flows/NlpPipeline.ts
  pkgs/supabase/functions/_pgflow/BackgroundTask.ts
  pkgs/supabase/functions/pgflow-2/index.ts
Due: backend/check

chore(logging): add debug logs to completeStep and performTask functions
  pkgs/supabase/functions/_pgflow/completeStep.ts
  pkgs/supabase/functions/pgflow-2/index.ts
Due: backend/check

fix(migrations): optimize advisory lock for pgflow step completion
  pkgs/supabase/migrations/20241027172330_pgflow_complete_step.sql
Due: backend/gen-types

fix(logging): remove supabase from console log in completeStep function
  pkgs/supabase/functions/_pgflow/completeStep.ts
Due: backend/check

docs: update title and tagline in pgflow documentation
  pkgs/pgflow.dev/src/content/docs/index.md
Due: none

Path conditions:
  frontend/check: any of: *.{svelte,js,ts,html,css,json} and ^pkgs/frontend/
  frontend/lint: any of: *.{svelte,js,ts,html,css,json} and ^pkgs/frontend/
  edulaw-ai-backend/check: any of: {*pyproject.toml,*pdm.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  edulaw-ai-backend/test: any of: {*pyproject.toml,*pdm.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  edulaw-ai-backend/isort: any of: {*pyproject.toml,*pdm.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  edulaw-ai-backend/docker-build: any of: {*Dockerfile,*compose.yaml} and ^pkgs/edulaw\-ai\-backend/
  backend/check: any of: *.ts and ^pkgs/supabase/functions/
  backend/gen-types: any of: *.sql and ^pkgs/supabase/
