Repository pgflow-dev/pgflow: changes, and which lefthook commands are due for each by the changed paths.
All: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, backend/check, backend/gen-types

frontend/check:
  run: 'turbo run check --scope=frontend
  
    '

frontend/lint:
  run: 'turbo run lint --scope=frontend
  
    '

edulaw-ai-backend/check:
  run: 'turbo run check --scope=edulaw-ai-backend
  
    '

edulaw-ai-backend/test:
  run: 'turbo run test --scope=edulaw-ai-backend
  
    '

edulaw-ai-backend/isort:
  run: 'poetry run isort {staged_files} && git add {staged_files}
  
    '

backend/check:
  run: '# turbo run check --scope=supabase {staged_files}
  
    deno check {staged_files}
  
    '

backend/gen-types:
  run: 'node_modules/.bin/supabase gen types typescript --local > types.d.ts && git add types.d.ts
  
    '

adds bin/run-aider
  .envrc
  bin/run-aider
Due: none

fix missing endline escape
  bin/run-aider
Due: none

fix gen-types with required schemas, gen new types
  pkgs/supabase/package.json
  pkgs/supabase/types.d.ts
Due: none

run aider without autocommits
  bin/run-aider
Due: none

add dotenv-vault (only for edulaw-ai-backend @ dev)
  pkgs/edulaw-ai-backend/.dockerignore
  pkgs/edulaw-ai-backend/.env.vault
  pkgs/edulaw-ai-backend/.gitignore
Due: none

add production env for edulaw-ai-backend
  pkgs/edulaw-ai-backend/.env.vault
Due: none

add .env and .env.production for frontend
  pkgs/frontend/.env.vault
  pkgs/frontend/.gitignore
Due: none

Fix some offences
  lefthook.yml
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/documents/search/+page.svelte
  pkgs/frontend/src/routes/mvp/+page.svelte
Due: frontend/check, frontend/lint

chore: add commitlint
  commitlint.config.ts
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: none

chore: update naming of task
  lefthook.yml
Due: none

feat: add script to auto-generate commit messages based on staged changes
  .lefthook/prepare-commit-msg/generate-commit-msg.sh
  lefthook.yml
Due: none

feat: enhance commit message generation script
  .lefthook/prepare-commit-msg/generate-commit-msg.sh
Due: none

refactor: update commit message generation script
  .lefthook/prepare-commit-msg/generate-commit-msg.sh
Due: none

chore: update commit message generation script
  .lefthook/prepare-commit-msg/generate-commit-msg.sh
Due: none

feat: update commit message generation script to use gpt-4o-mini model
  .lefthook/prepare-commit-msg/generate-commit-msg.sh
Due: none

fix(supabase): update config.toml to remove unused API port and schemas
  pkgs/supabase/config.toml
Due: none

chore: remove S3 configuration from Supabase config file
  pkgs/supabase/config.toml
Due: none

fix(supabase): update deno script to include index.ts files in cache command
  pkgs/supabase/package.json
Due: none

feat: add post-commit hook to push changes to origin
  lefthook.yml
Due: none

chore(supabase): update supabase and adjust binaries
  pkgs/supabase/.envrc
  pkgs/supabase/bin/supabase
  pkgs/supabase/package.json
  pnpm-lock.yaml
Due: none

feat: simplify embedding function in embed/index.ts
  pkgs/supabase/functions/deno.lock
  pkgs/supabase/functions/embed/index.ts
Due: backend/check

fix: update deno check command to use config file
  lefthook.yml
Due: none

feat: add .env.vault for cloud-agnostic vaulting configuration
  pkgs/supabase/.env.vault
  pkgs/supabase/.gitignore
Due: none

feat(supabase): add functions script to package.json
  pkgs/supabase/package.json
Due: none

feat: add dotenv support for .env.local
  .envrc
Due: none

feat(supabase): add new scripts for managing supabase services
  pkgs/supabase/package.json
Due: none

feat: load environment variables from ~/.env.local if it exists
  bin/run-aider
Due: none

feat(supabase): auto embedding of content in feed.notes
  pkgs/supabase/.envrc
  pkgs/supabase/functions/embed/index.ts
  pkgs/supabase/migrations/20240828120400_cron.sql
  pkgs/supabase/migrations/20240828120414_feed.sql
  pkgs/supabase/package.json
  pkgs/supabase/seed.sql
  pkgs/supabase/types.d.ts
Due: backend/check, backend/gen-types

feat: search UI
  pkgs/frontend/src/routes/feed/notes/+page.svelte
Due: frontend/check, frontend/lint

fix(feed): rename threshold to match_threshold in easy_match_notes RPC call
  pkgs/frontend/src/routes/feed/notes/+page.svelte
Due: frontend/check, frontend/lint

refactor(feed): update layout and structure of notes page
  pkgs/frontend/src/routes/feed/notes/+page.svelte
Due: frontend/check, frontend/lint

fix(feed): adjust layout of notes page for better responsiveness
  pkgs/frontend/src/routes/feed/notes/+page.svelte
Due: frontend/check, frontend/lint

feat(feed): implement semantic search with results display
  pkgs/frontend/src/routes/feed/notes/+page.svelte
Due: frontend/check, frontend/lint

feat(feed): refactor showResults to writable store and add searchInProgress state
  pkgs/frontend/src/routes/feed/notes/+page.svelte
Due: frontend/check, frontend/lint

fix: add missing user and fix auth indicator
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

feat: add metadata infering and proper realtime comm for notes
  MVP.md
  pkgs/frontend/src/lib/db.ts
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/feed/+layout.svelte
  pkgs/frontend/src/routes/feed/NoteRow.svelte
  pkgs/frontend/src/routes/feed/add-note/+page.svelte
  pkgs/frontend/src/routes/feed/notes/+page.svelte
  pkgs/frontend/src/routes/mvp/+page.svelte
  pkgs/frontend/src/routes/mvp/RealtimeFeed.svelte
  pkgs/supabase/.env.example
  pkgs/supabase/.env.vault
  pkgs/supabase/functions/call
  pkgs/supabase/functions/deno.lock
  pkgs/supabase/functions/embed/index.ts
  pkgs/supabase/functions/infer-metadata/index.ts
  pkgs/supabase/migrations/20240828120414_feed.sql
  pkgs/supabase/tests/acl-is-superadmin_test.sql
  pkgs/supabase/tests/feed_edge_fn_test.sql
  pkgs/supabase/types.d.ts
Due: frontend/check, frontend/lint, backend/check, backend/gen-types

feat(feed): reset input after saving
  pkgs/frontend/src/routes/feed/add-note/+page.svelte
Due: frontend/check, frontend/lint

feat: bind textarea element to focus on note input after update
  pkgs/frontend/src/routes/feed/add-note/+page.svelte
Due: frontend/check, frontend/lint

feat(feed): add keyboard shortcut for creating notes in textarea
  pkgs/frontend/src/routes/feed/add-note/+page.svelte
Due: frontend/check, frontend/lint

fix(feed): adjust ProgressRadial component sizes in NoteRow.svelte
  pkgs/frontend/src/routes/feed/NoteRow.svelte
Due: frontend/check, frontend/lint

Path conditions:
  frontend/check: any of: *.{svelte,js,ts,html,css,json} and ^pkgs/frontend/
  frontend/lint: any of: *.{svelte,js,ts,html,css,json} and ^pkgs/frontend/
  edulaw-ai-backend/check: any of: {*pyproject.toml,*poetry.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  edulaw-ai-backend/test: any of: {*pyproject.toml,*poetry.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  edulaw-ai-backend/isort: any of: {*pyproject.toml,*poetry.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  backend/check: any of: *.ts and ^pkgs/supabase/functions/
  backend/gen-types: any of: *.sql and ^pkgs/supabase/
