Repository pgflow-dev/pgflow: changes, and which lefthook commands are due for each by the changed paths.
All: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, edulaw-ai-backend/docker-build, backend/check, backend/gen-types

frontend/check:
  run: 'turbo run check --scope=frontend
  
    '

frontend/lint:
  run: 'turbo run lint --scope=frontend
  
    '

edulaw-ai-backend/check:
  run: 'turbo run check --scope=edulaw-ai-backend
  
    '

edulaw-ai-backend/test:
  run: 'turbo run test --scope=edulaw-ai-backend
  
    '

edulaw-ai-backend/isort:
  run: 'pdm run isort {staged_files}
  
    '
  stage_fixed: true

edulaw-ai-backend/docker-build:
  run: 'docker compose build
  
    '

backend/check:
  run: '# turbo run check --scope=supabase {staged_files}
  
    deno check {staged_files}
  
    '

backend/gen-types:
  run: 'pnpm gen-types && git add types.d.ts
  
    '

feat(docs): update tagline for pgflow
  pkgs/pgflow.dev/src/content/docs/index.md
Due: none

refactor(supabase): reorganize schema generation files
  pkgs/supabase/package.json
  pkgs/supabase/schema-generator/generate-schema.ts
  pkgs/supabase/schema-generator/tsconfig.json
Due: none

chore(pgflow-2): remove unused TypeScript reference comments
  pkgs/supabase/functions/pgflow-2/deno.json
  pkgs/supabase/functions/pgflow-2/index.ts
  pkgs/supabase/functions/pgflow/index.ts
Due: backend/check

fix(types): simplify MergeObjects utility type
  pkgs/supabase/functions/_pgflow/Flow.ts
Due: backend/check

feat(flows): add MonstrousFlow and WideFlow implementations
  pkgs/supabase/functions/_flows/MonstrousFlow.ts
  pkgs/supabase/functions/_flows/WideFlow.ts
Due: backend/check

feat(pgflow): add executions tracking
  pkgs/frontend/src/routes/(private)/pgflow/_spikes/workflowDsl.ts
  pkgs/supabase/bin/benchmark-locks
  pkgs/supabase/fixtures/AdvancedFlow.sql
  pkgs/supabase/fixtures/HatchetFlow.sql
  pkgs/supabase/fixtures/InngestFlow.sql
  pkgs/supabase/fixtures/advanced.sql
  pkgs/supabase/functions/_flows/AdvancedFlow.ts
  pkgs/supabase/functions/_flows/LandingPageFlow.ts
  pkgs/supabase/functions/_flows/MonstrousFlow.ts
  pkgs/supabase/functions/_flows/WideFlow.ts
  pkgs/supabase/functions/_pgflow/Flow.ts
  pkgs/supabase/functions/_pgflow/completeStepExecution.ts
  pkgs/supabase/functions/_pgflow/failStepExecution.ts
  pkgs/supabase/functions/_pgflow/handleInput.ts
  pkgs/supabase/functions/_pgflow/startStepExecution.ts
  pkgs/supabase/functions/pgflow-2/index.ts
  pkgs/supabase/migrations/20241027172100_pgflow_schema.sql
  pkgs/supabase/migrations/20241027172110_pgflow_utils.sql
  pkgs/supabase/migrations/20241027172120_pgflow_locks.sql
  pkgs/supabase/migrations/20241027172203_pgflow_edgefn_event.sql
  pkgs/supabase/migrations/20241027172220_pgflow_enqueue_job.sql
  pkgs/supabase/migrations/20241027172230_pgflow_run_flow.sql
  pkgs/supabase/migrations/20241027172260_pgflow_start_step_execution.sql
  pkgs/supabase/migrations/20241027172270_pgflow_complete_step_execution.sql
  pkgs/supabase/migrations/20241027172280_pgflow_fail_step_execution.sql
  pkgs/supabase/migrations/20241027172300_pgflow_start_step.sql
  pkgs/supabase/migrations/20241027172330_pgflow_complete_step.sql
  pkgs/supabase/queries/trigger_NlpPipeline.sql
  pkgs/supabase/types.d.ts
Due: frontend/check, frontend/lint, backend/check, backend/gen-types

Squashed commit of the following:
  pkgs/supabase/config.toml
  pkgs/supabase/migrations/20241027172120_pgflow_locks.sql
  pkgs/supabase/migrations/20241027172203_pgflow_edgefn_event.sql
  pkgs/supabase/migrations/20241027172330_pgflow_complete_step.sql
  pkgs/supabase/package.json
  pkgs/supabase/types.d.ts
Due: backend/gen-types

fix(migrations): add permissions to pgflow_locks schema
  pkgs/supabase/migrations/20241027172120_pgflow_locks.sql
Due: backend/gen-types

feat(supabase): add Sequential flow SQL fixture and TypeScript implementation
  pkgs/supabase/fixtures/Sequential.sql
  pkgs/supabase/fixtures/sequential.sql
  pkgs/supabase/functions/_flows/Sequential.ts
Due: backend/check, backend/gen-types

fix(pgflow): handle null step result in completeStep function
  pkgs/supabase/functions/_pgflow/completeStep.ts
  pkgs/supabase/functions/pgflow-2/index.ts
  pkgs/supabase/migrations/20241027172230_pgflow_run_flow.sql
  pkgs/supabase/migrations/20241027172280_pgflow_fail_step_execution.sql
  pkgs/supabase/migrations/20241027172300_pgflow_start_step.sql
  pkgs/supabase/migrations/20241027172330_pgflow_complete_step.sql
  pkgs/supabase/migrations/20241122103044_pgflow_fail_step.sql
Due: backend/check, backend/gen-types

refactor(flows): add StepsType export to flow files
  pkgs/supabase/functions/_flows/AdvancedFlow.ts
  pkgs/supabase/functions/_flows/BasicFlow.ts
  pkgs/supabase/functions/_flows/InngestFlow.ts
  pkgs/supabase/functions/_flows/MonstrousFlow.ts
  pkgs/supabase/functions/_flows/NlpPipeline.ts
  pkgs/supabase/functions/_flows/ProcessVoiceMemo2.ts
  pkgs/supabase/functions/_flows/Sequential.ts
  pkgs/supabase/functions/_flows/WideFlow.ts
  pkgs/supabase/functions/_flows/index.ts
  pkgs/supabase/functions/_pgflow/failStep.ts
  pkgs/supabase/functions/_pgflow/handleInput.ts
  pkgs/supabase/functions/pgflow-2/index.ts
Due: backend/check

feat: extract randomSleep utility function to utils.ts
  pkgs/supabase/functions/_flows/AdvancedFlow.ts
  pkgs/supabase/functions/_pgflow/utils.ts
Due: backend/check

refactor(pgflow): consolidate imports in index.ts and cleanup old stuff
  pkgs/supabase/functions/_pgflow/BackgroundTask.ts
  pkgs/supabase/functions/_pgflow/Flow2.ts
  pkgs/supabase/functions/_pgflow/flowToRows.ts
  pkgs/supabase/functions/_pgflow/handleInput.ts
  pkgs/supabase/functions/_pgflow/index.ts
  pkgs/supabase/functions/pgflow-2/index.ts
  pkgs/supabase/functions/pgflow/index.ts
Due: backend/check

refactor(flows): import randomSleep from utils
  pkgs/supabase/functions/_flows/BasicFlow.ts
  pkgs/supabase/functions/_flows/MonstrousFlow.ts
  pkgs/supabase/functions/_flows/NlpPipeline.ts
  pkgs/supabase/functions/_flows/Sequential.ts
  pkgs/supabase/functions/_flows/WideFlow.ts
Due: backend/check

fix(utils): adjust randomSleep range calculation
  pkgs/supabase/functions/_pgflow/utils.ts
Due: backend/check

fix(types): preserve required properties in MergeObjects utility type
  pkgs/supabase/functions/_pgflow/Flow.ts
Due: backend/check

chore(deps): update supabase to version 1.226.3
  pkgs/supabase/package.json
  pnpm-lock.yaml
Due: none

refactor(pgflow_locks): update lock hash to include function name
  pkgs/supabase/migrations/20241027172120_pgflow_locks.sql
  pkgs/supabase/types.d.ts
Due: backend/gen-types

feat(pgflow): add retry/error handling for failed steps
  pkgs/pgflow.dev/bin/mmdc-watch
  pkgs/pgflow.dev/src/content/docs/ai_generated/anatomy_of_a_flow.md
  pkgs/pgflow.dev/src/content/docs/ai_generated/explain_in_a_simple_way.md
  pkgs/pgflow.dev/src/content/docs/ai_generated/from_frontend_perspective.mdx
  pkgs/pgflow.dev/src/content/docs/ai_generated/step_type_upsert_row.md
  pkgs/pgflow.dev/src/content/docs/guides/example.md
  pkgs/pgflow.dev/src/content/docs/ideas/js_api.md
  pkgs/pgflow.dev/src/content/docs/landing_pages/flow_usage/01_flow_entrypoint.ts.raw
  pkgs/pgflow.dev/src/content/docs/landing_pages/flow_usage/02_parallel_processing.ts.raw
  pkgs/pgflow.dev/src/content/docs/landing_pages/flow_usage/03_combine.ts.raw
Due: none

refactor(pgflow): rename function and related references
  pkgs/supabase/migrations/20241027172203_pgflow_enqueue_step_task.sql
  pkgs/supabase/migrations/20241027172220_pgflow_enqueue_job.sql
  pkgs/supabase/migrations/20241202174330_pgflow_retry_step_task.sql
  pkgs/supabase/types.d.ts
Due: backend/gen-types

refactor(pgflow): use waitUntil instead of dispatchEvent in /pgflow-3
  pkgs/supabase/deno.lock
  pkgs/supabase/functions/_pgflow/executeTask.ts
  pkgs/supabase/functions/pgflow-3/deno.json
  pkgs/supabase/functions/pgflow-3/deno.lock
  pkgs/supabase/functions/pgflow-3/index.ts
  pkgs/supabase/migrations/20241027172203_pgflow_enqueue_step_task.sql
Due: backend/check, backend/gen-types

fix: bump supabase package version to ^1.226.4 for latest updates
  pkgs/supabase/package.json
  pnpm-lock.yaml
Due: none

chore: update supabase to v2 (proper this time)
  pkgs/supabase/package.json
  pnpm-lock.yaml
Due: none

feat(pgflow): extract finders
  pkgs/supabase/migrations/20241027172110_pgflow_utils.sql
  pkgs/supabase/migrations/20241027172130_pgflow_finders.sql
  pkgs/supabase/migrations/20241027172203_pgflow_enqueue_step_task.sql
  pkgs/supabase/migrations/20241027172260_pgflow_start_step_task.sql
  pkgs/supabase/migrations/20241027172300_pgflow_start_step.sql
  pkgs/supabase/migrations/20241027172330_pgflow_complete_step.sql
  pkgs/supabase/migrations/20241202174330_pgflow_retry_step_task.sql
  pkgs/supabase/types.d.ts
Due: backend/gen-types

refactor(migrations): remove redundant variable v_flow_slug
  pkgs/supabase/migrations/20241027172203_pgflow_enqueue_step_task.sql
  pkgs/supabase/migrations/20241027172260_pgflow_start_step_task.sql
Due: backend/gen-types

refactor(pgflow): add timestamps to step_states and use to compute status
  pkgs/supabase/migrations/20241027172100_pgflow_schema.sql
  pkgs/supabase/migrations/20241027172203_pgflow_enqueue_step_task.sql
  pkgs/supabase/migrations/20241027172220_pgflow_enqueue_job.sql
  pkgs/supabase/migrations/20241027172330_pgflow_complete_step.sql
  pkgs/supabase/migrations/20241122103044_pgflow_fail_step.sql
  pkgs/supabase/types.d.ts
Due: backend/gen-types

fix(pgflow): update failed attempt icon from dot to 'X' and add random failures
  pkgs/frontend/src/routes/(private)/pgflow/[runId]/StepStateNode.svelte
  pkgs/supabase/functions/_flows/NlpPipeline.ts
Due: frontend/check, frontend/lint, backend/check

fix(nlp-pipeline): adjust error simulation probability and sleep duration
  pkgs/supabase/functions/_flows/NlpPipeline.ts
Due: backend/check

refactor(schema-generator): update tsconfig path and rename typeToJsonSchema
  pkgs/supabase/schema-generator/generate-schema.ts
  pkgs/supabase/schema-generator/typeToJsonSchema.ts
Due: none

feat(nlp-pipeline): update error simulation function
  pkgs/supabase/functions/_flows/NlpPipeline.ts
  pkgs/supabase/functions/_pgflow/utils.ts
Due: backend/check

feat(ui): add avatar, hover-card, and tooltip components
  pkgs/frontend/src/lib/components/ui/avatar/avatar-fallback.svelte
  pkgs/frontend/src/lib/components/ui/avatar/avatar-image.svelte
  pkgs/frontend/src/lib/components/ui/avatar/avatar.svelte
  pkgs/frontend/src/lib/components/ui/avatar/index.ts
  pkgs/frontend/src/lib/components/ui/hover-card/hover-card-content.svelte
  pkgs/frontend/src/lib/components/ui/hover-card/index.ts
  pkgs/frontend/src/lib/components/ui/tooltip/index.ts
  pkgs/frontend/src/lib/components/ui/tooltip/tooltip-content.svelte
  pkgs/frontend/src/routes/(private)/pgflow/[runId]/StepResultHoverCard.svelte
  pkgs/frontend/src/routes/(private)/pgflow/[runId]/StepStateNode.svelte
  pnpm-lock.yaml
Due: frontend/check, frontend/lint

chore(deps): update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix(hook): include changed files in commit message generation
  .lefthook/prepare-commit-msg/generate-commit-msg.sh
Due: none

fix: update supabase package to version 2.0.2 for bug fixes and improvements
  pkgs/supabase/package.json
  pnpm-lock.yaml
Due: none

feat(supabase): add pgmq extension and web authn fields
  pkgs/supabase/migrations/20241027172100_pgflow_schema.sql
  pkgs/supabase/types.d.ts
Due: backend/gen-types

chore(supabase): remove deno.lock file
  pkgs/supabase/deno.lock
Due: none

feat(pgflow): add pgflow-pgmq with a simple postgres connection
  pkgs/supabase/functions/pgflow-pgmq/deno.json
  pkgs/supabase/functions/pgflow-pgmq/deno.lock
  pkgs/supabase/functions/pgflow-pgmq/index.ts
  pkgs/supabase/migrations/20241027172203_pgflow_enqueue_step_task.sql
Due: backend/check, backend/gen-types

feat(supabase): add wait-forever function for background processing
  pkgs/supabase/functions/wait-forever/index.ts
Due: backend/check

Path conditions:
  frontend/check: any of: *.{svelte,js,ts,html,css,json} and ^pkgs/frontend/
  frontend/lint: any of: *.{svelte,js,ts,html,css,json} and ^pkgs/frontend/
  edulaw-ai-backend/check: any of: {*pyproject.toml,*pdm.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  edulaw-ai-backend/test: any of: {*pyproject.toml,*pdm.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  edulaw-ai-backend/isort: any of: {*pyproject.toml,*pdm.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  edulaw-ai-backend/docker-build: any of: {*Dockerfile,*compose.yaml} and ^pkgs/edulaw\-ai\-backend/
  backend/check: any of: *.ts and ^pkgs/supabase/functions/
  backend/gen-types: any of: *.sql and ^pkgs/supabase/
