Repository pgflow-dev/pgflow: changes, and which lefthook commands are due for each by the changed paths.
All: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, backend/check, backend/gen-types

lefthook.yml:

pre-commit:
  parallel: true
  follow: true
  commands:
    # This task is skipped by default, un-skip it to debug the inputs
    debug:
      skip: true
      run: |
        echo staged_files="{staged_files}"
        exit 1

    frontend/check:
      root: "pkgs/frontend"
      glob: "*.{svelte,js,ts,html,css,json}"
      run: |
        turbo run check --scope=frontend

    frontend/lint:
      root: "pkgs/frontend"
      glob: "*.{svelte,js,ts,html,css,json}"
      run: |
        turbo run lint --scope=frontend

    # TODO: fix glob pattern for poetry.lock
    #       the problem is that globs without asterist or other special chars
    #       does not not work, so literal 'poetry.lock' is not picked up
    #       the workaround is to prepend the literal filename with '*'
    edulaw-ai-backend/check:
      root: "pkgs/edulaw-ai-backend"
      glob: "{*pyproject.toml,*poetry.lock,*.py}"
      run: |
        turbo run check --scope=edulaw-ai-backend

    edulaw-ai-backend/test:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*pyproject.toml,*poetry.lock,*.py}"
      run: |
        turbo run test --scope=edulaw-ai-backend

    edulaw-ai-backend/isort:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*pyproject.toml,*poetry.lock,*.py}"
      run: |
        poetry run isort {staged_files} && git add {staged_files}

    backend/check:
      root: "pkgs/supabase/functions/"
      glob: "*.ts"
      run: |
        # turbo run check --scope=supabase {staged_files}
        deno check {staged_files}

    backend/gen-types:
      root: "pkgs/supabase/"
      glob: "*.sql"
      run: |
        node_modules/.bin/supabase gen types typescript --local > types.d.ts && git add types.d.ts

Added naive retrieval chain and some tests
  pkgs/edulaw-ai-backend/app/server.py
  pkgs/edulaw-ai-backend/chains/hypothetical_answers_test.py
  pkgs/edulaw-ai-backend/chains/naive_retrieval.py
  pkgs/edulaw-ai-backend/chains/naive_retrieval_test.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

setup super simple .gitlab-ci.yml
  pkgs/edulaw-ai-backend/.gitlab-ci.yml
Due: none

move .gitlab-ci.yml to the root
  .gitlab-ci.yml
Due: none

setup flyio deployment
  .gitlab-ci.yml
Due: none

loosen requirements to run job, just for tests
  .gitlab-ci.yml
Due: none

fix fly command
  .gitlab-ci.yml
Due: none

fix path
  .gitlab-ci.yml
Due: none

fix path to config
  .gitlab-ci.yml
Due: none

cd into directory manually
  .gitlab-ci.yml
Due: none

test with exporting
  .gitlab-ci.yml
Due: none

check if changes rule works to only deploy if edulaw-ai-backend changes
  .gitlab-ci.yml
Due: none

run fly deploy only on main branch
  .gitlab-ci.yml
Due: none

reenable old chains in app/server.py
  pkgs/edulaw-ai-backend/app/server.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

debug ci vars
  .gitlab-ci.yml
Due: none

remove unnecessary before_script
  .gitlab-ci.yml
Due: none

reorder and add comments
  pkgs/edulaw-ai-backend/app/server.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

add missing rich module
  pkgs/edulaw-ai-backend/pdm.lock
  pkgs/edulaw-ai-backend/pyproject.toml
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

auto stop machines
  pkgs/edulaw-ai-backend/fly.toml
Due: none

fix while True loop when importing
  pkgs/edulaw-ai-backend/chains/qa_chain.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

remove dead code
  pkgs/edulaw-ai-backend/chains/qa_chain.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

simpolify /qa chain
  pkgs/edulaw-ai-backend/chains/qa_chain.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

add some tries with sql
  pkgs/supabase/queries/loader.sql
Due: backend/gen-types

Extract utils.parsers
  pkgs/edulaw-ai-backend/chains/hypothetical_answers.py
  pkgs/edulaw-ai-backend/utils/parsers.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

add utils
  pkgs/edulaw-ai-backend/chains/__init__.py
  pkgs/edulaw-ai-backend/chains/question_generator.py
  pkgs/edulaw-ai-backend/chains/utils.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

add embed_questions spike
  pkgs/edulaw-ai-backend/spikes/embed_questions.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

embed without duplicates (do not keep separator)
  pkgs/edulaw-ai-backend/lex_parser/embed.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

extract LexModel to models.py
  pkgs/edulaw-ai-backend/lex_parser/lex_parser_loader.py
  pkgs/edulaw-ai-backend/lex_parser/models.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

some work on db
  pkgs/edulaw-ai-backend/lex_parser/db.py
  pkgs/edulaw-ai-backend/lex_parser/db_test.py
  pkgs/edulaw-ai-backend/lex_parser/parser.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

wip
  pkgs/edulaw-ai-backend/lex_parser/db.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

relation getters
  pkgs/edulaw-ai-backend/lex_parser/db.py
  pkgs/edulaw-ai-backend/lex_parser/models.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

add readme tips
  pkgs/edulaw-ai-backend/README.md
Due: none

somewhat working registry
  pkgs/edulaw-ai-backend/lex_parser/db.py
  pkgs/edulaw-ai-backend/lex_parser/models.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

proper equality checks by ids
  pkgs/edulaw-ai-backend/lex_parser/db.py
  pkgs/edulaw-ai-backend/lex_parser/models.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

wip
  pkgs/edulaw-ai-backend/lex_parser/db.py
  pkgs/edulaw-ai-backend/lex_parser/db_test.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

Add some more tests, fix smallish bugs
  pkgs/edulaw-ai-backend/lex_parser/db.py
  pkgs/edulaw-ai-backend/lex_parser/db_test.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

add points and subpoints methods
  pkgs/edulaw-ai-backend/lex_parser/db.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

lefthook: do not follow output
  lefthook.yml
Due: none

make repl output for .db colorful
  pkgs/edulaw-ai-backend/lex_parser/db.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

add pretty output for db repl
  pkgs/edulaw-ai-backend/lex_parser/db.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

expose /models/ChatOpenAI runnable
  pkgs/edulaw-ai-backend/app/server.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort
