Repository pgflow-dev/pgflow: changes, and which lefthook commands are due for each by the changed paths.
All: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, edulaw-ai-backend/docker-build, backend/check, backend/gen-types

lefthook.yml:

pre-commit:
  parallel: true
  follow: false
  commands:
    # This task is skipped by default, un-skip it to debug the inputs
    debug:
      skip: true
      run: |
        echo staged_files="{staged_files}"
        exit 1

    frontend/check:
      root: "pkgs/frontend"
      glob: "*.{svelte,js,ts,html,css,json}"
      run: |
        turbo run check --scope=frontend

    frontend/lint:
      root: "pkgs/frontend"
      glob: "*.{svelte,js,ts,html,css,json}"
      run: |
        turbo run lint --scope=frontend

    # TODO: fix glob pattern for pdm.lock
    #       the problem is that globs without asterist or other special chars
    #       does not not work, so literal 'pdm.lock' is not picked up
    #       the workaround is to prepend the literal filename with '*'
    edulaw-ai-backend/check:
      root: "pkgs/edulaw-ai-backend"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        turbo run check --scope=edulaw-ai-backend

    edulaw-ai-backend/test:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        turbo run test --scope=edulaw-ai-backend

    edulaw-ai-backend/isort:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        pdm run isort {staged_files}
      stage_fixed: true

    edulaw-ai-backend/docker-build:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*Dockerfile,*compose.yaml}"
      run: |
        docker compose build

    backend/check:
      root: "pkgs/supabase/functions/"
      glob: "*.ts"
      run: |
        # turbo run check --scope=supabase {staged_files}
        deno check {staged_files}

    backend/gen-types:
      root: "pkgs/supabase/"
      glob: "*.sql"
      run: |
        pnpm gen-types && git add types.d.ts

fix(sign-in): update redirect URL to use dynamic next path
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/auth/sign-in/+page.svelte
Due: frontend/check, frontend/lint

feat: add run_name configuration to infer_type and infer_ui chains
  pkgs/feed-processor/src/feed_processor/actors/infer_type.py
  pkgs/feed-processor/src/feed_processor/actors/infer_ui.py
Due: none

feat(feed): add hidden input for source tracking in share form
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
  pkgs/frontend/src/routes/(private)/share/+page.server.ts
Due: frontend/check, frontend/lint

feat: add Prettier configuration for frontend files in lefthook.yml
  lefthook.yml
Due: none

fix: enable staging of fixed files in lefthook configuration
  lefthook.yml
Due: none

feat(frontend): rewrite to ShadCN
  pkgs/frontend/components.json
  pkgs/frontend/package.json
  pkgs/frontend/src/app.html
  pkgs/frontend/src/app.postcss
  pkgs/frontend/src/lib/components/InlineStatusIndicator.svelte
  pkgs/frontend/src/lib/components/Prompt.svelte
  pkgs/frontend/src/lib/components/ui/Bookmark.svelte
  pkgs/frontend/src/lib/components/ui/Snippet.svelte
  pkgs/frontend/src/lib/components/ui/Text.svelte
  pkgs/frontend/src/lib/components/ui/button/button.svelte
  pkgs/frontend/src/lib/components/ui/button/index.ts
  pkgs/frontend/src/lib/components/ui/card/card-content.svelte
  pkgs/frontend/src/lib/components/ui/card/card-description.svelte
  pkgs/frontend/src/lib/components/ui/card/card-footer.svelte
  pkgs/frontend/src/lib/components/ui/card/card-header.svelte
  pkgs/frontend/src/lib/components/ui/card/card-title.svelte
  pkgs/frontend/src/lib/components/ui/card/card.svelte
  pkgs/frontend/src/lib/components/ui/card/index.ts
  pkgs/frontend/src/lib/components/ui/drawer/drawer-content.svelte
  pkgs/frontend/src/lib/components/ui/drawer/drawer-description.svelte
  pkgs/frontend/src/lib/components/ui/drawer/drawer-footer.svelte
  pkgs/frontend/src/lib/components/ui/drawer/drawer-header.svelte
  pkgs/frontend/src/lib/components/ui/drawer/drawer-nested.svelte
  pkgs/frontend/src/lib/components/ui/drawer/drawer-overlay.svelte
  pkgs/frontend/src/lib/components/ui/drawer/drawer-title.svelte
  pkgs/frontend/src/lib/components/ui/drawer/drawer.svelte
  pkgs/frontend/src/lib/components/ui/drawer/index.ts
  pkgs/frontend/src/lib/components/ui/textarea/index.ts
  pkgs/frontend/src/lib/components/ui/textarea/textarea.svelte
  pkgs/frontend/src/lib/utils.ts
  pkgs/frontend/src/routes/(private)/conversations/old-version/[conversationId]/Page.svelte
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/auth/sign-in/+page.svelte
  pkgs/frontend/tailwind.config.ts
  pnpm-lock.yaml
Due: frontend/check, frontend/lint

feat: remove add-share page and integrate its functionality into share page
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
  pkgs/frontend/src/routes/(private)/share/+layout.svelte
  pkgs/frontend/src/routes/(private)/share/+page.svelte
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/auth/sign-in/+page.svelte
Due: frontend/check, frontend/lint

fix(magic_link): append next parameter to magic link URL
  pkgs/frontend/src/routes/auth/sign-in/+page.svelte
  pkgs/supabase/templates/magic_link.html
Due: frontend/check, frontend/lint

refactor: simplify infer_type, remove ui for now
  pkgs/feed-processor/src/feed_processor/__init__.py
  pkgs/feed-processor/src/feed_processor/actors/infer_type.py
  pkgs/feed-processor/src/feed_processor/actors/infer_type/__init__.py
  pkgs/feed-processor/src/feed_processor/actors/infer_type/chain.py
  pkgs/feed-processor/src/feed_processor/actors/infer_type/worker.py
  pkgs/feed-processor/src/feed_processor/models.py
  pkgs/frontend/src/lib/components/ui/Component.svelte
  pkgs/frontend/src/routes/(private)/share/+page.svelte
Due: frontend/check, frontend/lint

feat(tests): add unit test for infer_type functionality
  pkgs/feed-processor/package.json
  pkgs/feed-processor/tests/feed_processor/actors/infer_type_test.py
Due: none

test: migrate from unittest to pytest for infer_type tests, add more examples
  pkgs/feed-processor/package.json
  pkgs/feed-processor/pdm.lock
  pkgs/feed-processor/pyproject.toml
  pkgs/feed-processor/tests/feed_processor/actors/infer_type_test.py
Due: none

refactor(frontend): improve naming of database types
  pkgs/frontend/src/lib/chat_histories/SupabaseChatMessageHistory.ts
  pkgs/frontend/src/lib/components/ui/Component.svelte
  pkgs/frontend/src/lib/db.ts
  pkgs/frontend/src/lib/db/chat.ts
  pkgs/frontend/src/lib/db/feed.ts
  pkgs/frontend/src/lib/db/public.ts
  pkgs/frontend/src/lib/helpers/createConversationForMessage.ts
  pkgs/frontend/src/lib/models.ts
  pkgs/frontend/src/lib/useRetriever.ts
  pkgs/frontend/src/routes/(private)/conversations/+page.svelte
  pkgs/frontend/src/routes/(private)/conversations/+page.ts
  pkgs/frontend/src/routes/(private)/feed/ShareRow.svelte
  pkgs/frontend/src/routes/(private)/feed/shares/+page.svelte
  pkgs/frontend/src/routes/(private)/share/+page.svelte
Due: frontend/check, frontend/lint

refactor: rename share route to feed/add-share and update references
  pkgs/frontend/src/routes/(private)/feed/add-share/+layout.svelte
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.server.ts
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/auth/sign-in/+page.svelte
  pkgs/frontend/vite.config.ts
Due: frontend/check, frontend/lint

refactor(feed): update form action path in add-share page
  pkgs/frontend/src/routes/(private)/feed/add-share/+layout.svelte
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
Due: frontend/check, frontend/lint

feat: adding share now extracts various types of information
  pkgs/feed-processor/src/feed_processor/__init__.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entities/__init__.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entities/chain.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entities/prompt.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entities/schema.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entities/worker.py
  pkgs/frontend/src/lib/components/feed/BookmarkComponent.svelte
  pkgs/frontend/src/lib/components/feed/CodeSnippetComponent.svelte
  pkgs/frontend/src/lib/components/feed/EntityComponent.svelte
  pkgs/frontend/src/lib/components/feed/EventComponent.svelte
  pkgs/frontend/src/lib/components/feed/NoteComponent.svelte
  pkgs/frontend/src/lib/components/feed/TodoComponent.svelte
  pkgs/frontend/src/lib/components/ui/Component.svelte
  pkgs/frontend/src/lib/db/feed.ts
  pkgs/frontend/src/lib/stores/supabaseEntityStore.ts
  pkgs/frontend/src/routes/(private)/feed/ShareRow.svelte
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.sveltesrc/routes/(private)/feed/models.ts
  pkgs/frontend/src/routes/(private)/feed/shares/+page.svelte
  pkgs/frontend/tests/supabaseEntityStore.test.ts
  pkgs/supabase/migrations/20241002091329_feed.sql
  pkgs/supabase/migrations/20241016173049_feed_entities.sql
  pkgs/supabase/types.d.ts
Due: frontend/check, frontend/lint, backend/gen-types

refactor: remove unused pprint imports and commented print statements
  pkgs/feed-processor/src/feed_processor/actors/extract_entities/__init__.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entities/worker.py
Due: none

style: update border color from gray-800 to gray-600 in multiple components
  pkgs/frontend/src/lib/components/feed/BookmarkComponent.svelte
  pkgs/frontend/src/lib/components/feed/CodeSnippetComponent.svelte
  pkgs/frontend/src/lib/components/feed/EventComponent.svelte
  pkgs/frontend/src/lib/components/feed/NoteComponent.svelte
  pkgs/frontend/src/lib/components/feed/TodoComponent.svelte
Due: frontend/check, frontend/lint

chore: remove unused models file from feed add-share route
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.sveltesrc/routes/(private)/feed/models.ts
Due: frontend/check, frontend/lint

feat(migrations): add trigger to enforce superadmin email validation in auth.users table
  pkgs/supabase/migrations/20240303164641_acl.sql
Due: backend/gen-types

fix: update gen-types script to include 'acl' schema only once
  pkgs/supabase/package.json
Due: none

feat: add timestamp to InputType in entity extraction chain
  pkgs/feed-processor/src/feed_processor/actors/extract_entities/chain.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entities/prompt.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entities/worker.py
Due: none

fix: remove unused SupabaseClient parameter from worker function:wq
  pkgs/feed-processor/src/feed_processor/actors/extract_entities/__init__.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entities/worker.py
Due: none

feat: add owner_id to entity selection in extract_entities function
  pkgs/feed-processor/src/feed_processor/actors/extract_entities/__init__.py
Due: none

chore(tests): remove obsolete infer_type_test.py file
  pkgs/feed-processor/tests/feed_processor/actors/infer_type_test.py
Due: none

feat: add animations to entity display in add-share page
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
Due: frontend/check, frontend/lint

fix(feed): increase margin for share entities in add-share page
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
Due: frontend/check, frontend/lint

feat: add initial long_o1preview.txt dataset with personal notes and reminders
  pkgs/feed-processor/datasets/long_o1preview.txt
Due: none

refactor(layout): remove commented-out code in feed layout
  pkgs/frontend/src/routes/(private)/feed/+layout.svelte
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

chore: improve visual style, sort out layouts
  pkgs/feed-processor/package.json
  pkgs/feed-processor/src/feed_processor/actors/extract_entities/__init__.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entities/chain.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entities/prompt.py
  pkgs/feed-processor/tests/__init__.py
  pkgs/frontend/package.json
  pkgs/frontend/src/lib/components/LayoutWithHeaderAndSidebar.svelte
  pkgs/frontend/src/lib/components/feed/ChatLayout.svelte
  pkgs/frontend/src/lib/components/ui/sheet/index.ts
  pkgs/frontend/src/lib/components/ui/sheet/sheet-content.svelte
  pkgs/frontend/src/lib/components/ui/sheet/sheet-description.svelte
  pkgs/frontend/src/lib/components/ui/sheet/sheet-footer.svelte
  pkgs/frontend/src/lib/components/ui/sheet/sheet-header.svelte
  pkgs/frontend/src/lib/components/ui/sheet/sheet-overlay.svelte
  pkgs/frontend/src/lib/components/ui/sheet/sheet-portal.svelte
  pkgs/frontend/src/lib/components/ui/sheet/sheet-title.svelte
  pkgs/frontend/src/routes/(private)/+layout.server.ts
  pkgs/frontend/src/routes/(private)/feed/+layout.svelte
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
  pkgs/frontend/src/routes/+layout.server.ts
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/+page.svelte
  pkgs/frontend/src/routes/auth/sign-in/+page.svelte
  pkgs/frontend/src/routes/spikes/+layout@.svelte
  pkgs/frontend/src/routes/spikes/new-ui/+page.svelte
  pkgs/frontend/src/routes/spikes/new-ui/ChatLayout.svelte
  pnpm-lock.yaml
Due: frontend/check, frontend/lint

chore: go back to regular textarea element
  pkgs/frontend/src/lib/components/feed/ChatLayout.svelte
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
Due: frontend/check, frontend/lint

fix(layout): adjust height and overflow properties for better layout management
  pkgs/frontend/src/lib/components/LayoutWithHeaderAndSidebar.svelte
  pkgs/frontend/src/lib/components/feed/ChatLayout.svelte
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
Due: frontend/check, frontend/lint

feat(feed): enhance scroll behavior on share addition
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
Due: frontend/check, frontend/lint

feat: add textarea visibility toggle and focus handling in add-share component
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
Due: frontend/check, frontend/lint

feat(feed): add fetchEntities function and upsertEntities for related entities
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
Due: frontend/check, frontend/lint

feat(feed): enhance share fetching with related entities and increase limit
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
Due: frontend/check, frontend/lint

fix(feed): remove transition effect from share component in add-share page
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
Due: frontend/check, frontend/lint

feat: add Spinner component and integrate it into add-share page
  pkgs/frontend/src/lib/components/Spinner.svelte
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
Due: frontend/check, frontend/lint

feat: replace custom Button component with native button element in add-share page
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
Due: frontend/check, frontend/lint

fix: correct setTimeout delay in add-share page
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
Due: frontend/check, frontend/lint

fix: update EventComponent styling to include border on the card element
  pkgs/frontend/src/lib/components/feed/EventComponent.svelte
Due: frontend/check, frontend/lint
