Repository pgflow-dev/pgflow: changes, and which lefthook commands are due for each by the changed paths.
All: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, edulaw-ai-backend/docker-build, backend/check, backend/gen-types

lefthook.yml:

pre-commit:
  parallel: true
  follow: false
  commands:
    # This task is skipped by default, un-skip it to debug the inputs
    debug:
      skip: true
      run: |
        echo staged_files="{staged_files}"
        exit 1

    frontend/check:
      root: "pkgs/frontend"
      glob: "*.{svelte,js,ts,html,css,json}"
      run: |
        turbo run check --scope=frontend

    frontend/lint:
      root: "pkgs/frontend"
      glob: "*.{svelte,js,ts,html,css,json}"
      run: |
        turbo run lint --scope=frontend

    # TODO: fix glob pattern for pdm.lock
    #       the problem is that globs without asterist or other special chars
    #       does not not work, so literal 'pdm.lock' is not picked up
    #       the workaround is to prepend the literal filename with '*'
    edulaw-ai-backend/check:
      root: "pkgs/edulaw-ai-backend"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        turbo run check --scope=edulaw-ai-backend

    edulaw-ai-backend/test:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        turbo run test --scope=edulaw-ai-backend

    edulaw-ai-backend/isort:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        pdm run isort {staged_files}
      stage_fixed: true

    edulaw-ai-backend/docker-build:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*Dockerfile,*compose.yaml}"
      run: |
        docker compose build

    backend/check:
      root: "pkgs/supabase/functions/"
      glob: "*.ts"
      run: |
        # turbo run check --scope=supabase {staged_files}
        deno check {staged_files}

    backend/gen-types:
      root: "pkgs/supabase/"
      glob: "*.sql"
      run: |
        pnpm gen-types && git add types.d.ts

chore(feed-processor): set batch_size to 1 for dev and prod
  pkgs/feed-processor/Dockerfile
  pkgs/feed-processor/src/feed_processor/dev.py
  pkgs/supabase/queries/clear_feed.sql
Due: backend/gen-types

fix(feed-processor): set batch_size to 1 to make workers more parallel
  pkgs/feed-processor/src/feed_processor/__init__.py
  pkgs/feed-processor/src/feed_processor/dev.py
Due: none

feat: add SQL script to clear feed data from multiple tables
  pkgs/supabase/queries/clear_feed.sql
Due: backend/gen-types

feat: skip commit message linting in lefthook configuration
  lefthook.yml
Due: none

fix: update lefthook.yml to run git push in the background
  lefthook.yml
Due: none

fix: skip push command in lefthook configuration
  lefthook.yml
Due: none

feat: add null-ls to .gitignore
  .gitignore
Due: none

fix: remove skip option from commit-msg hook in lefthook configuration
  lefthook.yml
Due: none

chore: update supabase to version 1.207.9
  pkgs/supabase/package.json
  pkgs/supabase/types.d.ts
  pnpm-lock.yaml
Due: none

feat: add proof of concept of Workflow Engine - pgflow
  .lefthook/prepare-commit-msg/generate-commit-msg.sh
  pkgs/feed-processor/pgflow_dsl.md
  pkgs/feed-processor/src/feed_processor/__init__.py
  pkgs/feed-processor/src/feed_processor/models.py
  pkgs/feed-processor/src/feed_processor/pgflow_executor.py
  pkgs/feed-processor/src/feed_processor/spikes/pgflow.py
  pkgs/supabase/.sqlfluff
  pkgs/supabase/bin/psql
  pkgs/supabase/bin/sqlfluff-fix
  pkgs/supabase/bin/test
  pkgs/supabase/config.toml
  pkgs/supabase/functions/deno.lock
  pkgs/supabase/functions/execute-step/index.ts
  pkgs/supabase/migrations/20241027172000_pgflow_schema.sql
  pkgs/supabase/migrations/20241027172010_pgflow_utils.sql
  pkgs/supabase/migrations/20241027172015_pgflow_queue_adapters.sql
  pkgs/supabase/migrations/20241027172020_pgflow_get_ready_dependants_of.sql
  pkgs/supabase/migrations/20241027172100_pgflow_run_workflow.sql
  pkgs/supabase/migrations/20241027172200_pgflow_start_step.sql
  pkgs/supabase/migrations/20241027172300_pgflow_complete_step.sql
  pkgs/supabase/package.json
  pkgs/supabase/pgflow.md
  pkgs/supabase/queries/benchmark_pgflow_edge_fn.sql
  pkgs/supabase/queries/feed_shares_triggers_and_pgqueuer.sql
  pkgs/supabase/queries/workflows.sql
  pkgs/supabase/tests/feed_edge_fn_test.sql
  pkgs/supabase/tests/pgflow/01_run_workflow.sql
  pkgs/supabase/tests/pgflow/02_start_step.sql
  pkgs/supabase/tests/pgflow/03_complete_step.sql
  pkgs/supabase/tests/pgflow/04_get_ready_dependants_of.sql
  pkgs/supabase/types.d.ts
  pnpm-lock.yaml
Due: backend/check, backend/gen-types

fix(migrations): filter step_state_requests by successful status
  pkgs/supabase/migrations/20241027172015_pgflow_queue_adapters.sql
Due: backend/gen-types

refactor(functions): sort out problems with calling edge functions from supabase
  pkgs/supabase/functions/execute-step/index.ts
  pkgs/supabase/migrations/20241027172015_pgflow_queue_adapters.sql
  pkgs/supabase/types.d.ts
Due: backend/check, backend/gen-types

fix(migrations): handle failed step in pgflow queue adapters
  pkgs/supabase/migrations/20241027172015_pgflow_queue_adapters.sql
Due: backend/gen-types

fix(migrations): comment out unused trigger in pgflow_queue_adapters.sql
  pkgs/supabase/migrations/20241027172015_pgflow_queue_adapters.sql
Due: backend/gen-types

feat(supabase): add SQL script to create secrets
  pkgs/supabase/queries/secrets.sql
Due: backend/gen-types

feat(functions): integrate step completion with Supabase RPC
  pkgs/supabase/functions/execute-step/index.ts
  pkgs/supabase/migrations/20241027172000_pgflow_schema.sql
Due: backend/check, backend/gen-types

refactor(pgflow): split migration files for edge function and pgqueuer workers
  pkgs/supabase/migrations/20241027172015_pgflow_edgefn_worker.sql
  pkgs/supabase/migrations/20241027172015_pgflow_queue_adapters.sql
  pkgs/supabase/migrations/20241027172018_pgflow_pgqueuer_worker.sql
Due: backend/gen-types

refactor(pgflow): remove duplicate enqueue_job function
  pkgs/supabase/migrations/20241027172018_pgflow_pgqueuer_worker.sql
  pkgs/supabase/migrations/20241027172200_pgflow_start_step.sql
Due: backend/gen-types

feat(migrations): add new pgflow queue adapters and update pgqueuer function
  pkgs/supabase/migrations/20241027172100_pgflow_schema.sql
  pkgs/supabase/migrations/20241027172110_pgflow_utils.sql
  pkgs/supabase/migrations/20241027172200_pgflow_edgefn_worker.sql
  pkgs/supabase/migrations/20241027172210_pgflow_pgqueuer_worker.sql
  pkgs/supabase/migrations/20241027172220_pgflow_queue_adapters.sql
  pkgs/supabase/migrations/20241027172300_pgflow_get_ready_dependants_of.sql
  pkgs/supabase/migrations/20241027172310_pgflow_run_workflow.sql
  pkgs/supabase/migrations/20241027172320_pgflow_start_step.sql
  pkgs/supabase/migrations/20241027172330_pgflow_complete_step.sql
  pkgs/supabase/types.d.ts
Due: backend/gen-types

fix(migrations): correct SQL syntax in pgflow.enqueue_job_pgqueuer function
  pkgs/supabase/migrations/20241027172210_pgflow_pgqueuer_worker.sql
Due: backend/gen-types

feat: add voice memo with transcriptions
  pkgs/feed-processor/pdm.lock
  pkgs/feed-processor/pyproject.toml
  pkgs/feed-processor/src/feed_processor/__init__.py
  pkgs/feed-processor/src/feed_processor/spikes/download_and_transcribe.py
  pkgs/feed-processor/src/feed_processor/spikes/recording.webm
  pkgs/feed-processor/src/feed_processor/spikes/transcribe_audio.py
  pkgs/feed-processor/src/feed_processor/tasks/extract_entity_by_type/chain.py
  pkgs/feed-processor/src/feed_processor/tasks/transcribe_recording/__init__.py
  pkgs/frontend/.eslintignore
  pkgs/frontend/.prettierignore
  pkgs/frontend/package.json
  pkgs/frontend/src/lib/components/Recorder.svelte
  pkgs/frontend/src/lib/components/SimpleUploader.svelte
  pkgs/frontend/src/lib/components/VoiceMemo.svelte
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
  pkgs/frontend/src/routes/spikes/uppy/+layout.ts
  pkgs/frontend/src/routes/spikes/uppy/+page.svelte
  pkgs/frontend/src/stories/Recorder.story.svelte
  pkgs/supabase/migrations/20241020203900_feed_recordings.sql
  pnpm-lock.yaml
Due: frontend/check, frontend/lint, backend/gen-types

fix(transcribe_recording): remove dotenv and use context for API key
  pkgs/feed-processor/src/feed_processor/tasks/transcribe_recording/__init__.py
Due: none

feat(recorder): change styling of feed/add-page
  pkgs/frontend/src/lib/components/Recorder.svelte
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
Due: frontend/check, frontend/lint

feat(supabase): remove pgflow queue adapters
  pkgs/supabase/migrations/20241027172220_pgflow_queue_adapters.sql
  pkgs/supabase/types.d.ts
Due: backend/gen-types

feat(supabase): add pgflow Hacker News post
  pkgs/supabase/pgflow_hackernews_post.md
Due: none

feat(supabase): update pgflow post for Supabase integration
  pkgs/supabase/pgflow_hackernews_post.md
Due: none

feat(supabase): add pgflow timeline documentation
  pkgs/supabase/pgflow_timeline.md
Due: none

feat(docs): add QUICK_SETUP.md for project setup instructions
  QUICK_SETUP.md
Due: none

fix: ensure script exits if sgpt command is unavailable
  .lefthook/prepare-commit-msg/generate-commit-msg.sh
Due: none

chore(lefthook): skip post-commit push on main branch
  lefthook.yml
Due: none

feat: add JSON Schema generation from type inference
  lefthook.yml
  pkgs/supabase/docs/ts-json-schema-genrator.md
  pkgs/supabase/flows/Flow.ts
  pkgs/supabase/flows/ProcessVoiceMemo.ts
  pkgs/supabase/flows/deno.json
  pkgs/supabase/flows/deno.lock
  pkgs/supabase/flows/steps/summarize.ts
  pkgs/supabase/functions/deno.json
  pkgs/supabase/functions/deno.lock
  pkgs/supabase/functions/embed/deno.json
  pkgs/supabase/functions/embed/deno.lock
  pkgs/supabase/functions/embed/index.ts
  pkgs/supabase/functions/execute-step/deno.json
  pkgs/supabase/functions/execute-step/deno.lock
  pkgs/supabase/functions/execute-step/index.ts
  pkgs/supabase/functions/extract-features/deno.json
  pkgs/supabase/functions/extract-features/deno.lock
  pkgs/supabase/functions/extract-features/index.ts
  pkgs/supabase/functions/import_map.json
  pkgs/supabase/functions/infer-metadata/deno.json
  pkgs/supabase/functions/infer-metadata/deno.lock
  pkgs/supabase/functions/infer-metadata/index.ts
  pkgs/supabase/functions/infer-type/deno.json
  pkgs/supabase/functions/infer-type/deno.lock
  pkgs/supabase/functions/infer-type/index.ts
  pkgs/supabase/functions/models-chat-openai/index.ts
  pkgs/supabase/functions/sentiment/README.md
  pkgs/supabase/functions/sentiment/index.ts
  pkgs/supabase/generate-schema.ts
  pkgs/supabase/package.json
  pkgs/supabase/tsconfig.json
  pkgs/supabase/typeToJsonSchema.ts
  pnpm-lock.yaml
Due: backend/check

fix(supabase): remove unused imports and refactor function signatures
  pkgs/supabase/generate-schema.ts
  pkgs/supabase/typeToJsonSchema.ts
Due: none

feat(supabase): enhance schema generation with JSONSchema7 mapping
  pkgs/supabase/generate-schema.ts
Due: none

fix(ProcessVoiceMemo): correct merge step to return array of summary and capitalized text
  pkgs/supabase/flows/ProcessVoiceMemo.ts
Due: none

feat(docs): add initial documentation for pgflow-docs-md
  pkgs/pgflow-docs-md/README.md
  pkgs/pgflow-docs-md/prompts/catch-phrases-01.md
  pkgs/pgflow-docs-md/prompts/catch-phrases.md
Due: none

Fixed JSON Schema generation for tuples.
  pkgs/supabase/flows/Flow.ts
  pkgs/supabase/flows/ProcessVoiceMemo.ts
  pkgs/supabase/generate-schema.ts
  pkgs/supabase/typeToJsonSchema.ts
Due: none

feat(supabase): add BasicFlow implementation and integrate with execute-step
  pkgs/supabase/flows/BasicFlow.ts
  pkgs/supabase/functions/execute-step/deno.json
  pkgs/supabase/functions/execute-step/index.ts
Due: backend/check

refactor(supabase): rename 'execute-step' function to 'pgflow'
  pkgs/supabase/functions/pgflow/deno.json
  pkgs/supabase/functions/pgflow/deno.lock
  pkgs/supabase/functions/pgflow/index.ts
  pkgs/supabase/migrations/20241027172200_pgflow_edgefn_worker.sql
Due: backend/check, backend/gen-types
