Repository pgflow-dev/pgflow: changes, and which lefthook commands are due for each by the changed paths.
All: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, edulaw-ai-backend/docker-build, backend/check, backend/gen-types

frontend/check:
  run: 'turbo run check --scope=frontend
  
    '

frontend/lint:
  run: 'turbo run lint --scope=frontend
  
    '

edulaw-ai-backend/check:
  run: 'turbo run check --scope=edulaw-ai-backend
  
    '

edulaw-ai-backend/test:
  run: 'turbo run test --scope=edulaw-ai-backend
  
    '

edulaw-ai-backend/isort:
  run: 'pdm run isort {staged_files}
  
    '
  stage_fixed: true

edulaw-ai-backend/docker-build:
  run: 'docker compose build
  
    '

backend/check:
  run: '# turbo run check --scope=supabase {staged_files}
  
    deno check {staged_files}
  
    '

backend/gen-types:
  run: 'pnpm gen-types && git add types.d.ts
  
    '

refactor(pgflow): replace BasicFlow with ProcessVoiceMemo
  pkgs/supabase/functions/pgflow/index.ts
Due: backend/check

chore(deps): bump supabase from 1.219.0 to 1.223.10
  pkgs/supabase/package.json
  pnpm-lock.yaml
Due: none

fix(layout): adjust padding in footer slot for better alignment
  pkgs/frontend/src/routes/(private)/pgflow/+layout.svelte
Due: frontend/check, frontend/lint

chore(env): update DOTENV_VAULT_CI, STAGING, and DEVELOPMENT keys
  pkgs/supabase/.env.vault
Due: none

chore(deps): update supabase and groq-sdk dependencies
  pkgs/supabase/deno.lock
  pkgs/supabase/functions/pgflow/deno.json
Due: none

feat(supabase): reset and initialize ProcessVoiceMemo flow
  pkgs/supabase/fixtures/ProcessVoiceMemo.sql
Due: backend/gen-types

fix: correct environment variable names for Supabase client
  pkgs/supabase/functions/_flows/ProcessVoiceMemo.ts
  pkgs/supabase/functions/_shared/supabaseClient.ts
Due: backend/check

fix(layout): correct slot closing tag in LayoutWithHeaderAndSidebar.svelte
  pkgs/frontend/src/lib/components/LayoutWithHeaderAndSidebar.svelte
Due: frontend/check, frontend/lint

Revert "feat(pgflow): introduce schema for flow management"
  pkgs/supabase/migrations/20241027172100_pgflow_schema.sql
Due: backend/gen-types

fix(pgflow): correct variable usage and improve payload handling
  pkgs/supabase/functions/pgflow/index.ts
  pkgs/supabase/migrations/20241027172320_pgflow_start_step.sql
Due: backend/check, backend/gen-types

refactor(flows): update task handler signature to use destructured run payload
  pkgs/supabase/functions/_flows/BasicFlow.ts
  pkgs/supabase/functions/_flows/Flow.ts
  pkgs/supabase/functions/_flows/InngestFlow.ts
  pkgs/supabase/functions/_flows/LandingPageFlow.ts
  pkgs/supabase/functions/_flows/ProcessVoiceMemo.ts
Due: backend/check

fix(prepare-commit-msg): include unified diff format in commit message generation
  .lefthook/prepare-commit-msg/generate-commit-msg.sh
Due: none

fix: correct database column name in ProcessVoiceMemo function
  pkgs/supabase/functions/_flows/ProcessVoiceMemo.ts
Due: backend/check

refactor: move RunPayload type definition to top of file
  pkgs/supabase/functions/_flows/ProcessVoiceMemo.ts
Due: backend/check

refactor(migrations): replace utils.enqueue_job with pgflow.run_flow for feed_recordings
  pkgs/supabase/migrations/20241020203900_feed_recordings.sql
Due: backend/gen-types

feat(supabase): add SQL trigger for processing voice memos
  pkgs/supabase/queries/trigger_ProcessVoiceMemo.sql
Due: backend/gen-types

chore: remove unused import of SupabaseClient in ProcessVoiceMemo.ts
  pkgs/supabase/functions/_flows/ProcessVoiceMemo.ts
Due: backend/check

feat(supabase): add type annotations to Supabase client functions
  pkgs/supabase/functions/_shared/supabaseClient.ts
Due: backend/check

fix: correct variable reference in SummarizeWithGroq.ts
  pkgs/supabase/functions/_flows/ProcessVoiceMemo2.ts
  pkgs/supabase/functions/_steps/SummarizeWithGroq.ts
Due: backend/check

refactor(pgflow): simplify Supabase client creation
  pkgs/supabase/functions/pgflow/index.ts
Due: backend/check

fix(pgflow): remove debug logs and handle errors in step completion
  pkgs/supabase/functions/pgflow/index.ts
Due: backend/check

feat(pgflow): add completeStep and failStep functions
  pkgs/supabase/functions/pgflow/completeStep.ts
  pkgs/supabase/functions/pgflow/failStep.ts
  pkgs/supabase/functions/pgflow/handleInput.ts
  pkgs/supabase/functions/pgflow/index.ts
  pkgs/supabase/migrations/20241122103044_pgflow_fail_step.sql
  pkgs/supabase/types.d.ts
Due: backend/check, backend/gen-types

refactor(pgflow): simplify handler invocation in handleInput function
  pkgs/supabase/functions/pgflow/handleInput.ts
Due: backend/check

fix(supabase): adjust ProcessVoiceMemo trigger to handle multiple objects
  pkgs/supabase/queries/trigger_ProcessVoiceMemo.sql
Due: backend/gen-types

fix(pgflow): handle step completion and failure
  pkgs/supabase/functions/pgflow/index.ts
Due: backend/check

fix(migrations): correct variable assignment in pgflow_fail_step.sql
  pkgs/supabase/migrations/20241122103044_pgflow_fail_step.sql
Due: backend/gen-types

fix(ProcessVoiceMemo): update transcription model to whisper-large-v3
  pkgs/supabase/functions/_flows/ProcessVoiceMemo.ts
Due: backend/check

docs: add "An Anatomy of a Flow" guide
  pkgs/pgflow.dev/src/content/docs/ai_generated/anatomy_of_a_flow.md
  pkgs/pgflow.dev/src/content/docs/ai_generated/explain_in_a_simple_way.md
  pkgs/pgflow.dev/src/content/docs/ai_generated/from_frontend_perspective.mdx
Due: none

feat(pgflow): add new AI-generated content for flow lifecycle
  pkgs/pgflow.dev/astro.config.mjs
  pkgs/pgflow.dev/src/content/docs/ai_generated/flow_lifecycle.md
Due: none

feat(supabase): add pgflow:gen-schema script to package.json
  pkgs/supabase/package.json
Due: none

refactor: export Json and StepDefinition types in Flow.ts
  pkgs/supabase/functions/_flows/Flow.ts
Due: backend/check

fix(flow): update type definitions for stepDefinitions
  pkgs/supabase/functions/_flows/Flow.ts
Due: backend/check

feat(supabase): add script to clip pgflow code
  pkgs/supabase/bin/clip-pgflow-code
Due: none

feat(pgflow.dev): add new flow ideas and documentation
  pkgs/pgflow.dev/astro.config.mjs
  pkgs/pgflow.dev/src/content/docs/ai_generated/step_type_upsert_row.md
  pkgs/pgflow.dev/src/content/docs/ai_generated/supabase_rows_as_first_class_citizen.md
  pkgs/pgflow.dev/src/content/docs/ideas/js_api.md
Due: none

feat(docs): remove Supabase integration guide
  pkgs/pgflow.dev/src/content/docs/ai_generated/supabase_rows_as_first_class_citizen.md
Due: none

feat(supabase): add prompt-context-clip script
  pkgs/supabase/bin/prompt-context-clip
Due: none

Path conditions:
  frontend/check: any of: *.{svelte,js,ts,html,css,json} and ^pkgs/frontend/
  frontend/lint: any of: *.{svelte,js,ts,html,css,json} and ^pkgs/frontend/
  edulaw-ai-backend/check: any of: {*pyproject.toml,*pdm.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  edulaw-ai-backend/test: any of: {*pyproject.toml,*pdm.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  edulaw-ai-backend/isort: any of: {*pyproject.toml,*pdm.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  edulaw-ai-backend/docker-build: any of: {*Dockerfile,*compose.yaml} and ^pkgs/edulaw\-ai\-backend/
  backend/check: any of: *.ts and ^pkgs/supabase/functions/
  backend/gen-types: any of: *.sql and ^pkgs/supabase/
