Repository pgflow-dev/pgflow: changes, and which lefthook commands are due for each by the changed paths.
All: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, edulaw-ai-backend/docker-build, backend/check, backend/gen-types

lefthook.yml:

pre-commit:
  parallel: true
  follow: false
  commands:
    # This task is skipped by default, un-skip it to debug the inputs
    debug:
      skip: true
      run: |
        echo staged_files="{staged_files}"
        exit 1

    frontend/check:
      root: "pkgs/frontend"
      glob: "*.{svelte,js,ts,html,css,json}"
      run: |
        turbo run check --scope=frontend

    frontend/lint:
      root: "pkgs/frontend"
      glob: "*.{svelte,js,ts,html,css,json}"
      run: |
        turbo run lint --scope=frontend

    # TODO: fix glob pattern for pdm.lock
    #       the problem is that globs without asterist or other special chars
    #       does not not work, so literal 'pdm.lock' is not picked up
    #       the workaround is to prepend the literal filename with '*'
    edulaw-ai-backend/check:
      root: "pkgs/edulaw-ai-backend"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        turbo run check --scope=edulaw-ai-backend

    edulaw-ai-backend/test:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        turbo run test --scope=edulaw-ai-backend

    edulaw-ai-backend/isort:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        pdm run isort {staged_files}
      stage_fixed: true

    edulaw-ai-backend/docker-build:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*Dockerfile,*compose.yaml}"
      run: |
        docker compose build

    backend/check:
      root: "pkgs/supabase/functions/"
      glob: "*.ts"
      run: |
        # turbo run check --scope=supabase {staged_files}
        deno check {staged_files}

    backend/gen-types:
      root: "pkgs/supabase/"
      glob: "*.sql"
      run: |
        pnpm gen-types && git add types.d.ts

feat(supabase): BasicFlow handlers ran by edge fucntions
  pkgs/supabase/deno.lock
  pkgs/supabase/functions/_flows/BasicFlow.ts
  pkgs/supabase/functions/_flows/Flow.ts
  pkgs/supabase/functions/_flows/ProcessVoiceMemo.ts
  pkgs/supabase/functions/_flows/deno.json
  pkgs/supabase/functions/_flows/deno.lock
  pkgs/supabase/functions/_flows/prompt_to_create_flow_type.md
  pkgs/supabase/functions/_flows/prompt_to_create_flow_type_short.md
  pkgs/supabase/functions/_flows/steps/summarize.ts
  pkgs/supabase/functions/_shared/deno.json
  pkgs/supabase/functions/pgflow/index.ts
  pkgs/supabase/generate-schema.ts
Due: backend/check

docs: add pgflow_simple_pitch.md for PGFlow introduction
  pkgs/supabase/docs/pgflow_simple_pitch.md
Due: none

chore(pgflow-cli): add initial configuration files and GitHub workflows
  pkgs/pgflow-cli/.eslintignore
  pkgs/pgflow-cli/.eslintrc.json
  pkgs/pgflow-cli/.github/workflows/onPushToMain.yml
  pkgs/pgflow-cli/.github/workflows/onRelease.yml
  pkgs/pgflow-cli/.github/workflows/test.yml
  pkgs/pgflow-cli/.gitignore
  pkgs/pgflow-cli/.mocharc.json
  pkgs/pgflow-cli/.prettierrc.json
  pkgs/pgflow-cli/.vscode/launch.json
  pkgs/pgflow-cli/README.md
  pkgs/pgflow-cli/bin/dev.cmd
  pkgs/pgflow-cli/bin/dev.js
  pkgs/pgflow-cli/bin/run.cmd
  pkgs/pgflow-cli/bin/run.js
  pkgs/pgflow-cli/package.json
  pkgs/pgflow-cli/src/commands/hello/index.ts
  pkgs/pgflow-cli/src/commands/hello/world.ts
  pkgs/pgflow-cli/src/index.ts
  pkgs/pgflow-cli/test/commands/hello/index.test.ts
  pkgs/pgflow-cli/test/commands/hello/world.test.ts
  pkgs/pgflow-cli/test/tsconfig.json
  pkgs/pgflow-cli/tsconfig.json
  pkgs/pgflow-cli/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Due: none

refactor(fixtures): rename SQL fixture files for clarity
  pkgs/supabase/fixtures/nlp-pipeline-2.sql
  pkgs/supabase/fixtures/nlp-pipeline.sql
Due: backend/gen-types

feat: add InngestFlow for video processing
  pkgs/supabase/functions/_flows/InngestFlow.ts
Due: backend/check

feat: add HatchetFlow for document processing
  pkgs/supabase/functions/_flows/HatchetFlow.ts
Due: backend/check

chore: remove oclif implementation of pgflow-cli
  pkgs/pgflow-cli/.eslintignore
  pkgs/pgflow-cli/.eslintrc.json
  pkgs/pgflow-cli/.github/workflows/onPushToMain.yml
  pkgs/pgflow-cli/.github/workflows/onRelease.yml
  pkgs/pgflow-cli/.github/workflows/test.yml
  pkgs/pgflow-cli/.gitignore
  pkgs/pgflow-cli/.mocharc.json
  pkgs/pgflow-cli/.prettierrc.json
  pkgs/pgflow-cli/.vscode/launch.json
  pkgs/pgflow-cli/README.md
  pkgs/pgflow-cli/bin/dev.cmd
  pkgs/pgflow-cli/bin/dev.js
  pkgs/pgflow-cli/bin/run.cmd
  pkgs/pgflow-cli/bin/run.js
  pkgs/pgflow-cli/package.json
  pkgs/pgflow-cli/src/commands/hello/index.ts
  pkgs/pgflow-cli/src/commands/hello/world.ts
  pkgs/pgflow-cli/src/index.ts
  pkgs/pgflow-cli/test/commands/hello/index.test.ts
  pkgs/pgflow-cli/test/commands/hello/world.test.ts
  pkgs/pgflow-cli/test/tsconfig.json
  pkgs/pgflow-cli/tsconfig.json
  pkgs/pgflow-cli/tsconfig.tsbuildinfo
Due: none

chore(pgflow-cli): add TypeScript as a dev dependency
  pkgs/pgflow-cli/package.json
  pkgs/pgflow-cli/tsconfig.json
  pnpm-lock.yaml
Due: none

feat(pgflow-cli): setup simple node/ts project
  pkgs/pgflow-cli/.gitignore
  pkgs/pgflow-cli/package.json
  pkgs/pgflow-cli/src/index.ts
  pkgs/pgflow-cli/tsconfig.json
  pnpm-lock.yaml
Due: none

feat(pgflow.dev): add initial project setup with Astro and Starlight
  pkgs/pgflow.dev/.gitignore
  pkgs/pgflow.dev/.vscode/extensions.json
  pkgs/pgflow.dev/.vscode/launch.json
  pkgs/pgflow.dev/README.md
  pkgs/pgflow.dev/astro.config.mjs
  pkgs/pgflow.dev/package.json
  pkgs/pgflow.dev/public/favicon.svg
  pkgs/pgflow.dev/src/assets/houston.webp
  pkgs/pgflow.dev/src/content/config.ts
  pkgs/pgflow.dev/src/content/docs/guides/example.md
  pkgs/pgflow.dev/src/content/docs/index.mdx
  pkgs/pgflow.dev/src/content/docs/reference/example.md
  pkgs/pgflow.dev/src/env.d.ts
  pkgs/pgflow.dev/tsconfig.json
  pnpm-lock.yaml
Due: none

feat(pgflow.dev): add initial project setup with Astro and Starlight
  pkgs/pgflow.dev/.gitignore
  pkgs/pgflow.dev/.vscode/extensions.json
  pkgs/pgflow.dev/.vscode/launch.json
  pkgs/pgflow.dev/README.md
  pkgs/pgflow.dev/astro.config.mjs
  pkgs/pgflow.dev/package.json
  pkgs/pgflow.dev/public/favicon.svg
  pkgs/pgflow.dev/src/assets/houston.webp
  pkgs/pgflow.dev/src/content/config.ts
  pkgs/pgflow.dev/src/content/docs/guides/example.md
  pkgs/pgflow.dev/src/content/docs/index.mdx
  pkgs/pgflow.dev/src/content/docs/reference/example.md
  pkgs/pgflow.dev/src/env.d.ts
  pkgs/pgflow.dev/tsconfig.json
Due: none

feat(assets): add nodes-group-logo.svg for pgflow branding
  pkgs/pgflow.dev/src/assets/nodes-group-logo.svg
  pkgs/pgflow.dev/src/content/docs/index.mdx
Due: none

Squashed commit of the following:
  pkgs/pgflow.dev/.prettierrc.mjs
  pkgs/pgflow.dev/astro.config.mjs
  pkgs/pgflow.dev/package.json
  pkgs/pgflow.dev/src/content/docs/01_flow_entrypoint.ts
  pkgs/pgflow.dev/src/content/docs/02_parallel_processing.ts
  pkgs/pgflow.dev/src/content/docs/03_combine.ts
  pkgs/pgflow.dev/src/content/docs/05_trigger.ts
  pkgs/pgflow.dev/src/content/docs/helpers.ts
  pkgs/pgflow.dev/src/content/docs/index.mdx
  pkgs/supabase/functions/_flows/LandingPageFlow.ts
  pnpm-lock.yaml
Due: backend/check

Squashed commit of the following:
  pkgs/pgflow.dev/.prettierrc.mjs
  pkgs/pgflow.dev/astro.config.mjs
  pkgs/pgflow.dev/package.json
  pkgs/pgflow.dev/src/content/docs/01_flow_entrypoint.ts
  pkgs/pgflow.dev/src/content/docs/02_parallel_processing.ts
  pkgs/pgflow.dev/src/content/docs/03_combine.ts
  pkgs/pgflow.dev/src/content/docs/05_trigger.ts
  pkgs/pgflow.dev/src/content/docs/helpers.ts
  pkgs/pgflow.dev/src/content/docs/index.mdx
Due: none

style(docs): unify import statement quotes in index.mdx
  pkgs/pgflow.dev/src/content/docs/index.mdx
Due: none

chore(pgflow.dev): update astro.config.mjs
  pkgs/pgflow.dev/astro.config.mjs
Due: none

fix(docs): update hero section text and action link
  pkgs/pgflow.dev/src/content/docs/index.mdx
Due: none

refactor(docs): rename TypeScript files to raw format
  pkgs/pgflow.dev/src/content/docs/01_flow_entrypoint.raw.ts
  pkgs/pgflow.dev/src/content/docs/02_parallel_processing.raw.ts
  pkgs/pgflow.dev/src/content/docs/03_combine.raw.ts
  pkgs/pgflow.dev/src/content/docs/05_trigger.raw.ts
  pkgs/pgflow.dev/src/content/docs/index.mdx
  pkgs/pgflow.dev/tsconfig.json
Due: none

refactor(docs): rename .raw.ts files to .ts.raw
  pkgs/pgflow.dev/src/content/docs/01_flow_entrypoint.ts.raw
  pkgs/pgflow.dev/src/content/docs/02_parallel_processing.ts.raw
  pkgs/pgflow.dev/src/content/docs/03_combine.ts.raw
  pkgs/pgflow.dev/src/content/docs/05_trigger.ts.raw
  pkgs/pgflow.dev/src/content/docs/index.mdx
  pkgs/pgflow.dev/tsconfig.json
Due: none

fix(docs): correct method chaining in flow entrypoint
  pkgs/pgflow.dev/src/content/docs/01_flow_entrypoint.ts.raw
Due: none

fix(pgflow.dev): correct syntax error in addStep function
  pkgs/pgflow.dev/src/content/docs/03_combine.ts.raw
Due: none

docs: update steps formatting in index.mdx
  pkgs/pgflow.dev/src/content/docs/index.mdx
Due: none

refactor(docs): update type definition and improve documentation
  pkgs/pgflow.dev/src/content/docs/01_flow_entrypoint.ts.raw
  pkgs/pgflow.dev/src/content/docs/index.mdx
Due: none

fix(docs): correct typos in index.mdx
  pkgs/pgflow.dev/src/content/docs/index.mdx
Due: none

chore(pgflow): rename addStep and addRootStep to overloaded task method
  pkgs/pgflow.dev/src/content/docs/01_flow_entrypoint.ts.raw
  pkgs/pgflow.dev/src/content/docs/02_parallel_processing.ts.raw
  pkgs/pgflow.dev/src/content/docs/03_combine.ts.raw
Due: none

chore(pgflow): rename addStep and addRootStep to overloaded task method
  pkgs/pgflow.dev/src/content/docs/01_flow_entrypoint.ts.raw
  pkgs/pgflow.dev/src/content/docs/02_parallel_processing.ts.raw
  pkgs/pgflow.dev/src/content/docs/03_combine.ts.raw
  pkgs/supabase/functions/_flows/BasicFlow.ts
  pkgs/supabase/functions/_flows/Flow.ts
  pkgs/supabase/functions/_flows/HatchetFlow.ts
  pkgs/supabase/functions/_flows/InngestFlow.ts
  pkgs/supabase/functions/_flows/LandingPageFlow.ts
  pkgs/supabase/functions/_flows/ProcessVoiceMemo.ts
  pkgs/supabase/generate-schema.ts
Due: backend/check

fix: remove redundant return statement in InngestFlow task
  pkgs/supabase/functions/_flows/InngestFlow.ts
Due: backend/check

fix(feed-processor): update payload key from '__run__' to 'run'
  pkgs/feed-processor/pgflow_dsl.md
  pkgs/feed-processor/src/feed_processor/spikes/pgflow.py
  pkgs/pgflow.dev/src/content/docs/03_combine.ts.raw
  pkgs/supabase/docs/ts-json-schema-genrator.md
  pkgs/supabase/functions/_flows/BasicFlow.ts
  pkgs/supabase/functions/_flows/Flow.ts
  pkgs/supabase/functions/_flows/InngestFlow.ts
  pkgs/supabase/functions/_flows/ProcessVoiceMemo.ts
  pkgs/supabase/functions/_flows/prompt_to_create_flow_type.md
  pkgs/supabase/functions/_flows/prompt_to_create_flow_type_short.md
  pkgs/supabase/functions/_flows/steps/summarize.ts
  pkgs/supabase/functions/pgflow/index.ts
  pkgs/supabase/migrations/20241027172320_pgflow_start_step.sql
  pkgs/supabase/tests/pgflow/02_start_step.sql
  pkgs/supabase/tests/pgflow/03_complete_step.sql
Due: backend/check, backend/gen-types

fix(feed-processor): update payload key from '__run__' to 'run'
  pkgs/pgflow.dev/src/content/docs/03_combine.ts.raw
Due: none
