Repository pgflow-dev/pgflow: changes, and which lefthook commands are due for each by the changed paths.
All: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, backend/check, backend/gen-types

lefthook.yml:

pre-commit:
  parallel: true
  follow: true
  commands:
    # This task is skipped by default, un-skip it to debug the inputs
    debug:
      skip: true
      run: |
        echo staged_files="{staged_files}"
        exit 1

    frontend/check:
      root: "pkgs/frontend"
      glob: "*.{svelte,js,ts,html,css,json}"
      run: |
        turbo run check --scope=frontend

    frontend/lint:
      root: "pkgs/frontend"
      glob: "*.{svelte,js,ts,html,css,json}"
      run: |
        turbo run lint --scope=frontend

    # TODO: fix glob pattern for poetry.lock
    #       the problem is that globs without asterist or other special chars
    #       does not not work, so literal 'poetry.lock' is not picked up
    #       the workaround is to prepend the literal filename with '*'
    edulaw-ai-backend/check:
      root: "pkgs/edulaw-ai-backend"
      glob: "{*pyproject.toml,*poetry.lock,*.py}"
      run: |
        turbo run check --scope=edulaw-ai-backend

    edulaw-ai-backend/test:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*pyproject.toml,*poetry.lock,*.py}"
      run: |
        turbo run test --scope=edulaw-ai-backend

    edulaw-ai-backend/isort:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*pyproject.toml,*poetry.lock,*.py}"
      run: |
        poetry run isort {staged_files} && git add {staged_files}

    backend/check:
      root: "pkgs/supabase/functions/"
      glob: "*.ts"
      run: |
        # turbo run check --scope=supabase {staged_files}
        deno check {staged_files}

    backend/gen-types:
      root: "pkgs/supabase/"
      glob: "*.sql"
      run: |
        node_modules/.bin/supabase gen types typescript --local > types.d.ts && git add types.d.ts

sdxl spike in svelte (wip)
  pkgs/frontend/src/routes/spikes/sdxl/+page.svelte
Due: frontend/check, frontend/lint

refactor Makefile to use dotenv
  pkgs/edulaw-ai-backend/Makefile
Due: none

convert Makefile entries to package.json scripts
  pkgs/edulaw-ai-backend/Makefile
  pkgs/edulaw-ai-backend/package.json
Due: none

fix input to qa_chain
  pkgs/edulaw-ai-backend/chains/qa_chain.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

supabase: add readme
  pkgs/supabase/README.md
Due: none

supabase: add queries/table_size
  pkgs/supabase/queries/table_size.sql
Due: backend/gen-types

downgrade pydantic to 10.13.1
  pkgs/edulaw-ai-backend/pdm.lock
  pkgs/edulaw-ai-backend/pyproject.toml
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

rename task from dev:server to dev
  pkgs/edulaw-ai-backend/package.json
Due: none

fix remote runnable path for edulaw-qa
  pkgs/frontend/src/routes/edulaw-qa/+page.svelte
Due: frontend/check, frontend/lint

add working spike for remote openai model
  pkgs/frontend/package.json
  pkgs/frontend/src/routes/spikes/openai_runnable/+page.svelte
  pnpm-lock.yaml
Due: frontend/check, frontend/lint

extract some remote chains (edulaw-qa does not work yet)
  pkgs/frontend/src/lib/remoteRunnables.ts
  pkgs/frontend/src/routes/edulaw-qa/+page.svelte
  pkgs/frontend/src/routes/spikes/openai_runnable/+page.svelte
Due: frontend/check, frontend/lint

reorder runnables
  pkgs/frontend/src/lib/remoteRunnables.ts
Due: frontend/check, frontend/lint

Setup Magic Link Auth
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/auth/auth-code-error/+page.svelte
  pkgs/frontend/src/routes/auth/sign-in/+page.svelte
  pkgs/frontend/src/routes/auth/success/+page.svelte
  pkgs/supabase/config.toml
  pkgs/supabase/templates/magic_link.html
Due: frontend/check, frontend/lint

Improve Layout
  pkgs/frontend/src/app.html
  pkgs/frontend/src/app.postcss
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/+page.svelte
  pkgs/frontend/src/routes/check-sentiment/+page.svelte
  pkgs/frontend/src/routes/edulaw-qa/+page.svelte
  pkgs/frontend/src/routes/flexbox/+page.svelte
  pkgs/frontend/src/routes/spikes/openai_runnable/+page.svelte
  pkgs/frontend/src/routes/spikes/sdxl/+page.svelte
Due: frontend/check, frontend/lint

cleanup footer
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

Add ChatPage component
  pkgs/frontend/src/lib/chatTypes.ts
  pkgs/frontend/src/lib/components/ChatPage.svelte
  pkgs/frontend/src/routes/spikes/chat-layout/+layout.svelte
  pkgs/frontend/src/routes/spikes/chat-layout/+page.svelte
Due: frontend/check, frontend/lint

Add chat with simple memory
  pkgs/frontend/.env.example
  pkgs/frontend/package.json
  pkgs/frontend/src/routes/spikes/chat-with-simple-memory/+page.svelte
  pnpm-lock.yaml
Due: frontend/check, frontend/lint

add links on top of page
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

prettify links in header
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

change timeout to 30s (lol)
  pkgs/frontend/src/routes/edulaw-qa/+page.svelte
Due: frontend/check, frontend/lint

add Debug component
  pkgs/frontend/src/lib/components/Debug.svelte
Due: frontend/check, frontend/lint

Add /spikes/chat-with-simple-memory
  pkgs/frontend/package.json
  pkgs/frontend/src/lib/components/Debug.svelte
  pkgs/frontend/src/routes/spikes/chat-with-simple-memory/+page.svelte
  pnpm-lock.yaml
Due: frontend/check, frontend/lint

Add RemoteEmbeddings and chat-with-vector-memory
  pkgs/edulaw-ai-backend/app/remote_embeddings.py
  pkgs/edulaw-ai-backend/app/server.py
  pkgs/frontend/src/lib/remoteEmbeddings.ts
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/spikes/chat-with-vector-memory/+page.svelte
Due: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

add vector queries chain (commented out for now)
  pkgs/frontend/src/routes/spikes/chat-with-vector-memory/+page.svelte
Due: frontend/check, frontend/lint

fix supabase/.envrc
  pkgs/supabase/.envrc
Due: none

supabase: add get gen-types task and use it in lefthook.yml
  lefthook.yml
  pkgs/supabase/package.json
Due: none

supabase: Add acl schema and simple acl edge function
  pkgs/supabase/functions/README.md
  pkgs/supabase/functions/_shared/isSuperadmin.ts
  pkgs/supabase/functions/_shared/supabaseClient.ts
  pkgs/supabase/functions/deno.lock
  pkgs/supabase/functions/import_map.json
  pkgs/supabase/functions/models-chat-openai/index.ts
  pkgs/supabase/migrations/20240303164641_acl.sql
  pkgs/supabase/package.json
  pkgs/supabase/seed.sql
  pkgs/supabase/tests/acl-is-superadmin_test.sql
  pkgs/supabase/types.d.ts
Due: backend/check, backend/gen-types

add layout.ts for /spikes routes
  pkgs/frontend/src/routes/spikes/+layout.ts
Due: frontend/check, frontend/lint

Add Makefile that splits edulaw to chunks based on lines
  pkgs/edulaw-ai-backend/Makefile
  pkgs/edulaw-ai-backend/README.md
Due: none

setup groq
  pkgs/edulaw-ai-backend/.env.example
  pkgs/edulaw-ai-backend/app/server.py
  pkgs/edulaw-ai-backend/chains/naive_retrieval_test.py
  pkgs/edulaw-ai-backend/pdm.lock
  pkgs/edulaw-ai-backend/pyproject.toml
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

Add supabase authentication to edulaw-ai-backend
  pkgs/edulaw-ai-backend/.env.example
  pkgs/edulaw-ai-backend/Makefile
  pkgs/edulaw-ai-backend/README.md
  pkgs/edulaw-ai-backend/app/server.py
  pkgs/edulaw-ai-backend/app/utils.py
  pkgs/edulaw-ai-backend/pdm.lock
  pkgs/edulaw-ai-backend/pyproject.toml
  pkgs/frontend/src/lib/remoteEmbeddings.ts
  pkgs/frontend/src/lib/remoteRunnables.ts
  pkgs/frontend/src/routes/+layout.ts
  pkgs/frontend/src/routes/auth/sign-in/+page.svelte
  pkgs/frontend/src/routes/edulaw-qa/+page.svelte
  pkgs/frontend/src/routes/spikes/+layout.ts
  pkgs/frontend/src/routes/spikes/chat-with-simple-memory/+page.svelte
  pkgs/frontend/src/routes/spikes/chat-with-vector-memory/+page.svelte
  pkgs/frontend/src/routes/spikes/openai_runnable/+page.svelte
Due: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

edulaw-ai-backend: add Makefile that splits data files
  pkgs/edulaw-ai-backend/Makefile
  pkgs/edulaw-ai-backend/README.md
Due: none

edulaw-ai-backend: setup groq
  pkgs/edulaw-ai-backend/.env.example
  pkgs/edulaw-ai-backend/app/server.py
  pkgs/edulaw-ai-backend/pdm.lock
  pkgs/edulaw-ai-backend/pyproject.toml
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

Remove unused key
  pkgs/frontend/src/routes/+layout.ts
Due: frontend/check, frontend/lint

just redirect without throwing any errors
  pkgs/frontend/src/routes/spikes/+layout.ts
Due: frontend/check, frontend/lint

goto root page after signing out
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

extract AuthIndicator component
  pkgs/frontend/src/lib/components/AuthIndicator.svelte
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

Add crown badge to indicate superadmins
  pkgs/frontend/src/lib/components/AuthIndicator.svelte
Due: frontend/check, frontend/lint

simplify route names
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

simplify routes, move edulaw-qa to spikes
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/spikes/edulaw-qa/+page.svelte
Due: frontend/check, frontend/lint
