Repository pgflow-dev/pgflow: changes, and which lefthook commands are due for each by the changed paths.
All: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, backend/check, backend/gen-types

frontend/check:
  run: 'turbo run check --scope=frontend
  
    '

frontend/lint:
  run: 'turbo run lint --scope=frontend
  
    '

edulaw-ai-backend/check:
  run: 'turbo run check --scope=edulaw-ai-backend
  
    '

edulaw-ai-backend/test:
  run: 'turbo run test --scope=edulaw-ai-backend
  
    '

edulaw-ai-backend/isort:
  run: 'poetry run isort {staged_files} && git add {staged_files}
  
    '

backend/check:
  run: '# turbo run check --scope=supabase {staged_files}
  
    deno check {staged_files}
  
    '

backend/gen-types:
  run: 'node_modules/.bin/supabase gen types typescript --local > types.d.ts && git add types.d.ts
  
    '

cleanup supabaseChatMessageHistory
  pkgs/frontend/src/lib/supabaseChatMessageHistory.ts
Due: frontend/check, frontend/lint

add message store to supabaseChatMessageHistory
  pkgs/frontend/src/lib/components/ChatMessageList.svelte
  pkgs/frontend/src/lib/supabaseChatMessageHistory.ts
  pkgs/frontend/src/routes/spikes/supabase-memory/+page.svelte
Due: frontend/check, frontend/lint

wip update to supabase-memory
  pkgs/frontend/src/routes/spikes/supabase-memory/+page.svelte
Due: frontend/check, frontend/lint

wip createChatRunner system
  pkgs/frontend/src/lib/chatRunners.ts
  pkgs/frontend/src/routes/spikes/supabase-memory/+page.svelte
Due: frontend/check, frontend/lint

resolved problem with RunnableAssign lol
  pkgs/frontend/src/lib/chatRunners.ts
  pkgs/frontend/src/lib/supabaseChatMessageHistory.ts
  pkgs/frontend/src/routes/spikes/supabase-memory/+page.svelte
Due: frontend/check, frontend/lint

Working streaming with history
  pkgs/frontend/src/lib/chatRunners.ts
  pkgs/frontend/src/lib/supabaseChatMessageHistory.ts
  pkgs/frontend/src/routes/spikes/supabase-memory/+page.svelte
Due: frontend/check, frontend/lint

reenable chat msg list
  pkgs/frontend/src/routes/spikes/supabase-memory/+page.svelte
Due: frontend/check, frontend/lint

set proper ordering for returned messages
  pkgs/frontend/src/lib/supabaseChatMessageHistory.ts
Due: frontend/check, frontend/lint

add session clearing
  pkgs/frontend/src/lib/supabaseChatMessageHistory.ts
  pkgs/frontend/src/routes/spikes/supabase-memory/+page.svelte
Due: frontend/check, frontend/lint

add some more models to RemoteModel
  pkgs/edulaw-ai-backend/app/server.py
  pkgs/frontend/src/lib/remoteRunnables.ts
Due: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

add debug runnable that can be used in chains to print intermediate steps
  pkgs/frontend/src/lib/runnables.ts
Due: frontend/check, frontend/lint

some fiddling with inflight messages and rendering them in the list
  pkgs/frontend/src/lib/chatRunners.ts
  pkgs/frontend/src/lib/runnables.ts
  pkgs/frontend/src/lib/supabaseChatMessageHistory.ts
  pkgs/frontend/src/routes/spikes/supabase-memory/+page.svelte
Due: frontend/check, frontend/lint

remove conflict markers lol
  pkgs/frontend/src/lib/runnables.ts
Due: frontend/check, frontend/lint

working intermediate message streaming
  pkgs/frontend/src/lib/chatRunners.ts
  pkgs/frontend/src/lib/supabaseChatMessageHistory.ts
  pkgs/frontend/src/routes/spikes/supabase-memory/+page.svelte
Due: frontend/check, frontend/lint

key messages
  pkgs/frontend/src/lib/components/ChatMessageList.svelte
Due: frontend/check, frontend/lint

allow disabling auth in dev mode
  pkgs/edulaw-ai-backend/.env.example
  pkgs/edulaw-ai-backend/app/server.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

wip
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/spikes/+layout.svelte
  pkgs/frontend/src/routes/spikes/chat-layout-diy/+page.svelte
Due: frontend/check, frontend/lint

wip
  pkgs/frontend/src/routes/spikes/chat-layout-diy/+page.svelte
Due: frontend/check, frontend/lint

Rework root layout
  pkgs/frontend/src/lib/components/ChatLayout.svelte
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/spikes/+layout.svelte
  pkgs/frontend/src/routes/spikes/chat-layout-diy/+page.svelte
  pkgs/frontend/src/routes/spikes/chat-with-simple-memory/+page.svelte
  pkgs/frontend/src/routes/spikes/chat-with-vector-memory/+page.svelte
  pkgs/frontend/src/routes/spikes/edulaw-qa/+page.svelte
  pkgs/frontend/src/routes/spikes/flex-grow/+page.svelte
  pkgs/frontend/src/routes/spikes/runnable-ui/+page.svelte
  pkgs/frontend/src/routes/spikes/supabase-memory/+page.svelte
Due: frontend/check, frontend/lint

initialize Ollama only if OLLAMA_URL env is provided
  pkgs/edulaw-ai-backend/app/server.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

update fly.toml
  pkgs/edulaw-ai-backend/fly.toml
Due: none

strip trailing slashes from baseUrl
  pkgs/frontend/src/lib/remoteRunnables.ts
Due: frontend/check, frontend/lint

update langchain libs
  pkgs/frontend/package.json
  pnpm-lock.yaml
Due: frontend/check, frontend/lint

update python libs
  pkgs/edulaw-ai-backend/pdm.lock
  pkgs/edulaw-ai-backend/pyproject.toml
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

do not auto-reload http server
  pkgs/edulaw-ai-backend/package.json
Due: none

add app.test_streaming
  pkgs/edulaw-ai-backend/app/test_streaming.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

strip trailing space from remote runnable url
  pkgs/frontend/src/lib/remoteRunnables.ts
Due: frontend/check, frontend/lint

add test-streaming
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/spikes/test-streaming/+page.svelte
Due: frontend/check, frontend/lint

use RemoteModel so we have authentication
  pkgs/edulaw-ai-backend/pdm.lock
  pkgs/frontend/src/routes/spikes/test-streaming/+page.svelte
Due: frontend/check, frontend/lint

disable authorization for development
  pkgs/edulaw-ai-backend/app/server.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

Add OpenAI authenticated proxy
  .gitlab-ci.yml
  pkgs/edulaw-ai-backend/.env.example
  pkgs/edulaw-ai-backend/app/server.py
  pkgs/edulaw-ai-backend/bin/curl-stream.sh
  pkgs/edulaw-ai-backend/bin/curl.sh
  pkgs/edulaw-ai-backend/routers/chat_completions_proxy.py
  pkgs/frontend/src/lib/ProxiedChatOpenAI.ts
  pkgs/frontend/src/routes/spikes/chat-with-simple-memory/+page.svelte
  pkgs/frontend/src/routes/spikes/chat-with-vector-memory/+page.svelte
  pkgs/frontend/src/routes/spikes/runnable-ui/+page.svelte
  pkgs/frontend/src/routes/spikes/supabase-memory/+page.svelte
  pkgs/frontend/src/routes/spikes/test-streaming/+page.svelte
Due: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

update turbo and vercel
  package.json
  pnpm-lock.yaml
Due: none

fix git commit rule for .gitlab-ci.yaml
  .gitlab-ci.yml
Due: none

remove trailing slash
  pkgs/frontend/src/lib/ProxiedChatOpenAI.ts
Due: frontend/check, frontend/lint

strip slash that should be stripped
  pkgs/frontend/src/lib/ProxiedChatOpenAI.ts
Due: frontend/check, frontend/lint

Implement a runnable with manual history management
  pkgs/frontend/src/lib/ChatMessageHistoryStore.ts
  pkgs/frontend/src/lib/ProxiedChatOpenAI.ts
  pkgs/frontend/src/lib/chains/QaChain.ts
  pkgs/frontend/src/lib/components/ChatMessageList.svelte
  pkgs/frontend/src/lib/components/Debug.svelte
  pkgs/frontend/src/lib/supabaseChatMessageHistory.ts
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/spikes/chat-with-simple-memory/+page.svelte
  pkgs/frontend/src/routes/spikes/chat-with-vector-memory/+page.svelte
  pkgs/frontend/src/routes/spikes/history-runnable/+page.svelte
  pkgs/frontend/src/routes/spikes/runnable-store/+page.svelte
  pkgs/frontend/src/routes/spikes/runnable-ui/+page.svelte
  pkgs/frontend/src/routes/spikes/supabase-memory/+page.svelte
  pkgs/frontend/src/routes/spikes/test-streaming/+page.svelte
Due: frontend/check, frontend/lint

Completely working chat with history and streaming stores
  pkgs/frontend/src/lib/chains/createChainWithHistory.ts
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/spikes/flex-grow/+page.svelte
  pkgs/frontend/src/routes/spikes/history-runnable/+page.svelte
Due: frontend/check, frontend/lint

simplify messagesStore usage for derivation
  pkgs/frontend/src/routes/spikes/history-runnable/+page.svelte
Due: frontend/check, frontend/lint

fix role name for the BaseMessageList
  pkgs/frontend/src/lib/components/BaseMessageList.svelte
  pkgs/frontend/src/lib/supabaseChatMessageHistory.ts
  pkgs/frontend/src/routes/spikes/history-runnable/+page.svelte
Due: frontend/check, frontend/lint

show loading info
  pkgs/frontend/src/routes/spikes/history-runnable/+page.svelte
Due: frontend/check, frontend/lint

Path conditions:
  frontend/check: any of: *.{svelte,js,ts,html,css,json} and ^pkgs/frontend/
  frontend/lint: any of: *.{svelte,js,ts,html,css,json} and ^pkgs/frontend/
  edulaw-ai-backend/check: any of: {*pyproject.toml,*poetry.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  edulaw-ai-backend/test: any of: {*pyproject.toml,*poetry.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  edulaw-ai-backend/isort: any of: {*pyproject.toml,*poetry.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  backend/check: any of: *.ts and ^pkgs/supabase/functions/
  backend/gen-types: any of: *.sql and ^pkgs/supabase/
