Repository pgflow-dev/pgflow: changes, and which lefthook commands are due for each by the changed paths.
All: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, backend/check, backend/gen-types

frontend/check:
  run: 'turbo run check --scope=frontend
  
    '

frontend/lint:
  run: 'turbo run lint --scope=frontend
  
    '

edulaw-ai-backend/check:
  run: 'turbo run check --scope=edulaw-ai-backend
  
    '

edulaw-ai-backend/test:
  run: 'turbo run test --scope=edulaw-ai-backend
  
    '

edulaw-ai-backend/isort:
  run: 'poetry run isort {staged_files} && git add {staged_files}
  
    '

backend/check:
  run: '# turbo run check --scope=supabase {staged_files}
  
    deno check {staged_files}
  
    '

backend/gen-types:
  run: 'node_modules/.bin/supabase gen types typescript --local > types.d.ts && git add types.d.ts
  
    '

remove dead or unused pages/spikes
  pkgs/frontend/src/routes/check-sentiment/+page.svelte
  pkgs/frontend/src/routes/flexbox/+page.svelte
  pkgs/frontend/src/routes/sign-up/+page.svelte
  pkgs/frontend/src/routes/spikes/openai_runnable/+page.svelte
  pkgs/frontend/src/routes/spikes/sdxl/+page.svelte
Due: frontend/check, frontend/lint

remove deprecation warning
  pkgs/frontend/src/lib/remoteEmbeddings.ts
Due: frontend/check, frontend/lint

fix is_superadmin auth function
  pkgs/edulaw-ai-backend/app/server.py
  pkgs/edulaw-ai-backend/app/utils.py
  pkgs/supabase/migrations/20240303164641_acl.sql
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, backend/gen-types

small tweaks to the sign in page
  pkgs/frontend/src/routes/auth/sign-in/+page.svelte
Due: frontend/check, frontend/lint

make the auth really work (set token properly in edulaw backend)
  pkgs/edulaw-ai-backend/app/server.py
  pkgs/edulaw-ai-backend/app/utils.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

remove unused import
  pkgs/edulaw-ai-backend/app/server.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

extract authorize_superadmin from middleware
  pkgs/edulaw-ai-backend/app/server.py
  pkgs/edulaw-ai-backend/app/utils.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

add type annotation
  pkgs/edulaw-ai-backend/app/utils.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

Use session object instead of token to initialize RemoteChain and RemoteChatOpenAI
  pkgs/frontend/src/lib/remoteEmbeddings.ts
  pkgs/frontend/src/lib/remoteRunnables.ts
  pkgs/frontend/src/lib/runnableStore.ts
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/spikes/chat-with-simple-memory/+page.svelte
  pkgs/frontend/src/routes/spikes/chat-with-vector-memory/+page.svelte
  pkgs/frontend/src/routes/spikes/edulaw-qa/+page.svelte
  pkgs/frontend/src/routes/spikes/runnable-ui/+page.svelte
Due: frontend/check, frontend/lint

add history and Prompt
  pkgs/frontend/src/routes/spikes/runnable-ui/+page.svelte
Due: frontend/check, frontend/lint

move isSuperadmin to a hook/layout.ts
  pkgs/frontend/src/app.d.ts
  pkgs/frontend/src/hooks.server.ts
  pkgs/frontend/src/lib/components/AuthIndicator.svelte
  pkgs/frontend/src/routes/+layout.server.ts
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/+layout.ts
Due: frontend/check, frontend/lint

Pass session to AuthIndicator
  pkgs/frontend/src/lib/components/AuthIndicator.svelte
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

fix error with session being null
  pkgs/frontend/src/lib/components/AuthIndicator.svelte
Due: frontend/check, frontend/lint

pass user directly to simplify
  pkgs/frontend/src/lib/components/AuthIndicator.svelte
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

Simplify auth a lot
  pkgs/frontend/src/lib/components/AuthIndicator.svelte
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

add /auth/sign-out
  pkgs/frontend/src/routes/auth/sign-out/+server.ts
Due: frontend/check, frontend/lint

fix checkIsSuperadmin
  pkgs/frontend/src/hooks.server.ts
Due: frontend/check, frontend/lint

fix inProgress deref
  pkgs/frontend/src/routes/spikes/runnable-ui/+page.svelte
Due: frontend/check, frontend/lint

WIP use runnableStore new chat memory
  pkgs/frontend/src/lib/runnableStore.ts
  pkgs/frontend/src/routes/spikes/chat-with-simple-memory/+page.svelte
Due: frontend/check, frontend/lint

clean, properly show messages
  pkgs/frontend/src/lib/components/BaseMessageList.svelte
  pkgs/frontend/src/lib/runnableStore.ts
  pkgs/frontend/src/routes/spikes/chat-with-simple-memory/+page.svelte
  pkgs/frontend/src/routes/spikes/runnable-ui/+page.svelte
Due: frontend/check, frontend/lint

add RemoteChatGroq
  pkgs/frontend/src/lib/remoteRunnables.ts
Due: frontend/check, frontend/lint

update env var for OLLAMA_URL
  pkgs/edulaw-ai-backend/.env.example
Due: none

Fix remote embeddings
  pkgs/frontend/src/lib/remoteEmbeddings.ts
Due: frontend/check, frontend/lint

langserve: add ChatOllama endpoint
  pkgs/edulaw-ai-backend/.env.example
  pkgs/edulaw-ai-backend/app/server.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

Use RemoteModel for all the remote runnables involving models
  pkgs/frontend/src/lib/remoteRunnables.ts
  pkgs/frontend/src/routes/spikes/chat-with-simple-memory/+page.svelte
  pkgs/frontend/src/routes/spikes/chat-with-vector-memory/+page.svelte
  pkgs/frontend/src/routes/spikes/runnable-ui/+page.svelte
Due: frontend/check, frontend/lint

small tweaks to remote runnables
  pkgs/frontend/src/lib/remoteRunnables.ts
  pkgs/frontend/src/lib/runnableStore.ts
  pkgs/frontend/src/routes/spikes/chat-with-simple-memory/+page.svelte
  pkgs/frontend/src/routes/spikes/edulaw-qa/+page.svelte
Due: frontend/check, frontend/lint

add more ChatGroq models
  pkgs/edulaw-ai-backend/app/server.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

remove unnecessary icon
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

add dynamic list of models
  pkgs/frontend/src/lib/remoteRunnables.ts
  pkgs/frontend/src/routes/spikes/chat-with-simple-memory/+page.svelte
Due: frontend/check, frontend/lint

Add model selector
  pkgs/edulaw-ai-backend/app/server.py
  pkgs/frontend/src/lib/components/SelectModelId.svelte
  pkgs/frontend/src/lib/currentModelIdStore.ts
  pkgs/frontend/src/lib/remoteRunnables.ts
  pkgs/frontend/src/routes/spikes/+layout.svelte
  pkgs/frontend/src/routes/spikes/chat-with-simple-memory/+page.svelte
Due: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

Add test:focus and test:focus:watch tasks for running focusted tests
  pkgs/edulaw-ai-backend/package.json
  pkgs/edulaw-ai-backend/pyproject.toml
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

add chatHistory
  pkgs/frontend/src/lib/chatHistory.ts
Due: frontend/check, frontend/lint

simpolify layout links
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

change model to Openai
  pkgs/frontend/src/routes/spikes/runnable-ui/+page.svelte
Due: frontend/check, frontend/lint

customChatMessageHistory
  pkgs/frontend/src/lib/customChatMessageHistory.ts
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/spikes/supabase-memory/+page.svelte
Due: frontend/check, frontend/lint

show messages
  pkgs/frontend/src/lib/customChatMessageHistory.ts
  pkgs/frontend/src/routes/spikes/supabase-memory/+page.svelte
Due: frontend/check, frontend/lint

loading messages from supabase should work
  pkgs/frontend/src/lib/supabaseChatMessageHistory.ts
  pkgs/frontend/src/routes/spikes/supabase-memory/+page.svelte
  pkgs/supabase/migrations/20240314103649_chat_messages.sql
  pkgs/supabase/types.d.ts
Due: frontend/check, frontend/lint, backend/gen-types

proper migration for chat_messages
  pkgs/supabase/migrations/20240314103649_chat_messages.sql
  pkgs/supabase/types.d.ts
Due: backend/gen-types

adding messages work
  pkgs/frontend/src/lib/supabaseChatMessageHistory.ts
Due: frontend/check, frontend/lint

all methods for history working
  pkgs/frontend/src/lib/supabaseChatMessageHistory.ts
Due: frontend/check, frontend/lint

Path conditions:
  frontend/check: any of: *.{svelte,js,ts,html,css,json} and ^pkgs/frontend/
  frontend/lint: any of: *.{svelte,js,ts,html,css,json} and ^pkgs/frontend/
  edulaw-ai-backend/check: any of: {*pyproject.toml,*poetry.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  edulaw-ai-backend/test: any of: {*pyproject.toml,*poetry.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  edulaw-ai-backend/isort: any of: {*pyproject.toml,*poetry.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  backend/check: any of: *.ts and ^pkgs/supabase/functions/
  backend/gen-types: any of: *.sql and ^pkgs/supabase/
