Repository pgflow-dev/pgflow: changes, and which lefthook commands are due for each by the changed paths.
All: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, edulaw-ai-backend/docker-build, backend/check, backend/gen-types

lefthook.yml:

pre-commit:
  parallel: true
  follow: false
  commands:
    # This task is skipped by default, un-skip it to debug the inputs
    debug:
      skip: true
      run: |
        echo staged_files="{staged_files}"
        exit 1

    frontend/check:
      root: "pkgs/frontend"
      glob: "*.{svelte,js,ts,html,css,json}"
      run: |
        turbo run check --scope=frontend

    frontend/lint:
      root: "pkgs/frontend"
      glob: "*.{svelte,js,ts,html,css,json}"
      run: |
        turbo run lint --scope=frontend

    # TODO: fix glob pattern for pdm.lock
    #       the problem is that globs without asterist or other special chars
    #       does not not work, so literal 'pdm.lock' is not picked up
    #       the workaround is to prepend the literal filename with '*'
    edulaw-ai-backend/check:
      root: "pkgs/edulaw-ai-backend"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        turbo run check --scope=edulaw-ai-backend

    edulaw-ai-backend/test:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        turbo run test --scope=edulaw-ai-backend

    edulaw-ai-backend/isort:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        pdm run isort {staged_files}
      stage_fixed: true

    edulaw-ai-backend/docker-build:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*Dockerfile,*compose.yaml}"
      run: |
        docker compose build

    backend/check:
      root: "pkgs/supabase/functions/"
      glob: "*.ts"
      run: |
        # turbo run check --scope=supabase {staged_files}
        deno check {staged_files}

    backend/gen-types:
      root: "pkgs/supabase/"
      glob: "*.sql"
      run: |
        pnpm gen-types && git add types.d.ts

feat(pgflow): add createConnectionPool function for Postgres connection
  pkgs/supabase/functions/_pgflow/createConnectionPool.ts
  pkgs/supabase/functions/pgflow-pgmq/deno.json
  pkgs/supabase/functions/pgflow-pgmq/deno.lock
  pkgs/supabase/functions/pgflow-pgmq/index.ts
Due: backend/check

refactor(pgflow): encapsulate connection pool creation logic
  pkgs/supabase/functions/_pgflow/createConnectionPool.ts
Due: backend/check

refactor(pgflow): remove createConnectionPool function
  pkgs/supabase/functions/_pgflow/createConnectionPool.ts
  pkgs/supabase/functions/_pgflow/deno.json
  pkgs/supabase/functions/_pgflow/deno.lock
  pkgs/supabase/functions/_pgflow/useConnectionPool.ts
Due: backend/check

chore(deps): update supabase to version 2.0.5
  pkgs/supabase/package.json
  pnpm-lock.yaml
Due: none

feat(pgflow-worker): add Deno configuration and lock files
  pkgs/supabase/functions/pgflow-worker/deno.json
  pkgs/supabase/functions/pgflow-worker/deno.lock
  pkgs/supabase/functions/pgflow-worker/index.ts
Due: backend/check

chore: update deno.lock with new dependencies
  pkgs/supabase/functions/pgflow-worker/deno.lock
  pkgs/supabase/functions/pgflow-worker/index.ts
Due: backend/check

refactor(pgflow): simplify connection handling and logging
  pkgs/supabase/functions/_pgflow/useConnectionPool.ts
  pkgs/supabase/functions/pgflow-worker/index.ts
Due: backend/check

feat(pgflow-worker): utilize queryObject for queue creation
  pkgs/supabase/functions/_pgflow/useConnectionPool.ts
  pkgs/supabase/functions/pgflow-worker/index.ts
Due: backend/check

refactor(pgflow-worker): extract worker logic to separate module
  pkgs/supabase/functions/_pgflow/worker.ts
  pkgs/supabase/functions/pgflow-worker/index.ts
Due: backend/check

refactor(worker.ts): extract message reading logic into generator function
  pkgs/supabase/functions/_pgflow/worker.ts
Due: backend/check

feat(worker): enhance message processing with handler function
  pkgs/supabase/functions/_pgflow/worker.ts
Due: backend/check

refactor(pgflow-worker): adjust batch size and logging for message processing
  pkgs/supabase/functions/_pgflow/worker.ts
  pkgs/supabase/functions/pgflow-worker/index.ts
Due: backend/check

fix(worker.ts): uncomment console log for debugging
  pkgs/supabase/functions/_pgflow/worker.ts
Due: backend/check

chore(worker): remove debug logging and unused code
  pkgs/supabase/functions/_pgflow/worker.ts
Due: backend/check

feat(pgflow): add pubsub functionality for Postgres notifications
  pkgs/supabase/functions/_pgflow/pubsub.ts
  pkgs/supabase/functions/_pgflow/worker.ts
Due: backend/check

feat(supabase): update supabase package and add web authn fields
  pkgs/supabase/package.json
  pkgs/supabase/types.d.ts
  pnpm-lock.yaml
Due: none

fix: update import paths for supabase-js and openai in deno.json
  pkgs/supabase/functions/pgflow-3/deno.json
  pkgs/supabase/functions/pgflow-3/deno.lock
  pkgs/supabase/functions/pgflow-3/index.ts
Due: backend/check

feat(supabase): enhance test output formatting with color and structure
  pkgs/supabase/bin/test
Due: none

feat(pgflow): add function to retrieve ready dependents
  pkgs/supabase/migrations/20241027172330_pgflow_complete_step.sql
  pkgs/supabase/migrations/20241211114305_pgflow_get_ready_dependents.sql
  pkgs/supabase/types.d.ts
Due: backend/gen-types

feat(pgflow): add random errors to all demo flows
  pkgs/supabase/fixtures/Huge.sql
  pkgs/supabase/functions/_flows/AdvancedFlow.ts
  pkgs/supabase/functions/_flows/BasicFlow.ts
  pkgs/supabase/functions/_flows/HatchetFlow.ts
  pkgs/supabase/functions/_flows/MonstrousFlow.ts
  pkgs/supabase/functions/_flows/Sequential.ts
  pkgs/supabase/functions/_flows/WideFlow.ts
Due: backend/check, backend/gen-types

docs(pgflow): add initial pgflow introduction and overview
  pkgs/supabase/docs/initial_post.md
  pkgs/supabase/docs/initial_post2.md
  pkgs/supabase/docs/initial_post_fusion.md
  pkgs/supabase/docs/initial_post_rewrite.md
  pkgs/supabase/docs/initial_post_structure_prompt.md
Due: none

refactor(sql): update function definitions for pgflow
  pkgs/supabase/migrations/20241027172110_pgflow_get_root_steps.sql
  pkgs/supabase/migrations/20241027172120_pgflow_locks.sql
  pkgs/supabase/migrations/20241027172130_pgflow_finders.sql
  pkgs/supabase/migrations/20241027172203_pgflow_enqueue_step_task.sql
  pkgs/supabase/migrations/20241027172220_pgflow_enqueue_job.sql
  pkgs/supabase/migrations/20241027172230_pgflow_run_flow.sql
  pkgs/supabase/migrations/20241027172260_pgflow_start_step_task.sql
  pkgs/supabase/migrations/20241027172270_pgflow_complete_step_task.sql
  pkgs/supabase/migrations/20241027172280_pgflow_fail_step_task.sql
  pkgs/supabase/migrations/20241027172300_pgflow_start_step.sql
  pkgs/supabase/migrations/20241027172330_pgflow_complete_step.sql
  pkgs/supabase/migrations/20241122103044_pgflow_fail_step.sql
  pkgs/supabase/migrations/20241202174330_pgflow_retry_step_task.sql
  pkgs/supabase/migrations/20241209123949_pgflow_tests.sql
  pkgs/supabase/migrations/20241209190320_pgflow_call_edgefn.sql
  pkgs/supabase/migrations/20241211093503_pgflow_verify_status.sql
  pkgs/supabase/migrations/20241211114305_pgflow_get_ready_dependents.sql
Due: backend/gen-types

refactor(pgflow): update function volatility to stable
  pkgs/supabase/migrations/20241027172110_pgflow_get_root_steps.sql
  pkgs/supabase/migrations/20241027172130_pgflow_finders.sql
  pkgs/supabase/migrations/20241211093503_pgflow_verify_status.sql
  pkgs/supabase/migrations/20241211114305_pgflow_get_ready_dependents.sql
Due: backend/gen-types

feat(docs): add PGFlow conventions and overview documentation
  pkgs/supabase/docs/prompt_pgflow_conventions.md
  pkgs/supabase/docs/prompt_pgflow_overview.md
Due: none

feat(pgflow): add step_slug to start_step function
  pkgs/supabase/migrations/20241027172300_pgflow_start_step.sql
  pkgs/supabase/migrations/20241209123949_pgflow_tests.sql
  pkgs/supabase/types.d.ts
Due: backend/gen-types

feat(tests): update test coverage checklist with new recommended tests
  pkgs/supabase/tests/README.md
Due: none

feat(docs): add initial ideas for PgFlow DSL extensions
  pkgs/supabase/docs/step_ideas_output.md
  pkgs/supabase/docs/step_ideas_output2.md
  pkgs/supabase/docs/step_types_prompt.md
Due: none

feat(docs): improve code formatting and add comments in step_ideas_output2.md
  pkgs/supabase/docs/step_ideas_output2.md
Due: none

feat(pgflow): add is_valid_slug for use in CHECK constraints
  pkgs/supabase/fixtures/NlpPipeline2.sql
  pkgs/supabase/fixtures/Sequential.sql
  pkgs/supabase/fixtures/SmallNlp.dot
  pkgs/supabase/fixtures/SmallNlp.png
  pkgs/supabase/fixtures/SmallNlp.sql
  pkgs/supabase/fixtures/nlp-pipeline-2.sql
  pkgs/supabase/fixtures/small-nlp.sql
  pkgs/supabase/migrations/20241027172110_pgflow_schema.sql
  pkgs/supabase/migrations/20241211114300_pgflow_get_root_steps.sql
  pkgs/supabase/tests/is_valid_slug_test.sql
  pkgs/supabase/types.d.ts
Due: backend/gen-types

fix(migrations): allow slugs with max length of 128 characters
  pkgs/supabase/migrations/20241027172110_pgflow_schema.sql
Due: backend/gen-types

refactor(flows): refactor example flows
  pkgs/supabase/docs/initial_post_rewrite.md
  pkgs/supabase/fixtures/Advanced.sql
  pkgs/supabase/fixtures/AdvancedFlow.sql
  pkgs/supabase/fixtures/Basic.sql
  pkgs/supabase/fixtures/BasicFlow.sql
  pkgs/supabase/fixtures/FailingStep.sql
  pkgs/supabase/fixtures/FailingStepFlow.sql
  pkgs/supabase/fixtures/Hatchet.sql
  pkgs/supabase/fixtures/HatchetFlow.sql
  pkgs/supabase/fixtures/Inngest.sql
  pkgs/supabase/fixtures/InngestFlow.sql
  pkgs/supabase/fixtures/Wide.sql
  pkgs/supabase/fixtures/wide.sql
  pkgs/supabase/functions/_flows/Advanced.ts
  pkgs/supabase/functions/_flows/Basic.ts
  pkgs/supabase/functions/_flows/FailingStep.ts
  pkgs/supabase/functions/_flows/Hatchet.ts
  pkgs/supabase/functions/_flows/Inngest.ts
  pkgs/supabase/functions/_flows/Monstrous.ts
  pkgs/supabase/functions/_flows/Sequential.ts
  pkgs/supabase/functions/_flows/Wide.ts
  pkgs/supabase/functions/_flows/index.ts
  pkgs/supabase/functions/_shared/deno.json
  pkgs/supabase/functions/build.ts
  pkgs/supabase/migrations/20241209123949_pgflow_tests.sql
  pkgs/supabase/tests/happy_path.sql
Due: backend/check, backend/gen-types

feat(pgflow): add retry_stale_step_tasks function
  pkgs/supabase/DEV_JOURNAL.md
  pkgs/supabase/migrations/20241027172110_pgflow_schema.sql
  pkgs/supabase/migrations/20241027172203_pgflow_enqueue_step_task.sql
  pkgs/supabase/migrations/20241202174330_pgflow_retry_step_task.sql
  pkgs/supabase/migrations/20241209123949_pgflow_tests.sql
  pkgs/supabase/migrations/20241216154003_pgflow_retry_stale_step_tasks.sql
  pkgs/supabase/migrations/20241216162053_pgflow_monitoring.sql
  pkgs/supabase/tests/retry_stale_step_tasks_test.sql
  pkgs/supabase/tests/retry_step_task_test.sql
  pkgs/supabase/tests/test_mocking.sql
  pkgs/supabase/types.d.ts
Due: backend/gen-types

docs: update DEV_JOURNAL with coding retreat and migration strategy
  pkgs/supabase/DEV_JOURNAL.md
Due: none

feat(pgflow): add cron job to prune old job run details
  pkgs/supabase/migrations/20241216162053_pgflow_monitoring.sql
Due: backend/gen-types

feat(pgflow): setup a simple pg connection with NOTIFY in pgflow-worker
  pkgs/supabase/functions/_pgflow/sql.ts
  pkgs/supabase/functions/pgflow-worker/deno.lock
  pkgs/supabase/functions/pgflow-worker/index.ts
Due: backend/check

refactor(worker): implement the simplest interruptible queue consuming generator
  pkgs/supabase/functions/_pgflow/pubsub.ts
  pkgs/supabase/functions/_pgflow/useConnectionPool.ts
  pkgs/supabase/functions/_pgflow/worker.ts
  pkgs/supabase/functions/pgflow-worker/index.ts
Due: backend/check

feat(supabase): implement pgmq queue for improved retries logic
  pkgs/supabase/DEV_JOURNAL.md
  pkgs/supabase/functions/_pgflow/worker.ts
  pkgs/supabase/migrations/20241027172203_pgflow_enqueue_step_task.sql
Due: backend/check, backend/gen-types

docs: update DEV_JOURNAL with notes on pgmq queue implementation
  pkgs/supabase/DEV_JOURNAL.md
Due: none

refactor(pgflow): update worker to use polling mechanism
  pkgs/supabase/functions/_pgflow/worker.ts
  pkgs/supabase/functions/pgflow-worker/index.ts
Due: backend/check
