Repository pgflow-dev/pgflow: changes, and which lefthook commands are due for each by the changed paths.
All: supabase-types, eslint, prettier, pyright, poetry

supabase-types:
  run: "echo staged files = {staged_files}\necho \"Checking for Supabase type changes...\"\n\nif diff --color=always <(git show :supabase/types.d.ts) <(node_modules/.bin/supabase gen types typescript --local); then\n  echo \"No changes in types.d.ts, types were up-to-date.\"\nelse\n  echo \"Changes de
  ...

eslint:
  run: ./node_modules/.bin/eslint {staged_files}

prettier:
  run: ./node_modules/.bin/prettier --check {staged_files}

pyright:
  run: poetry run pyright {staged_files}

poetry:
  run: poetry check

enable sentiment function classifier
  supabase/functions/sentiment/index.ts
Due: none

add missing table
  frontend/src/routes/+page.svelte
Due: prettier

center table
  frontend/src/routes/+page.svelte
Due: prettier

clear input on submit
  frontend/src/routes/+page.svelte
Due: prettier

make input submittable by hitting enter
  frontend/src/routes/+page.svelte
  frontend/src/routes/SubmittableInput.svelte
Due: prettier

Focus input after submitting
  frontend/src/routes/SubmittableInput.svelte
Due: prettier

fix some dispatching quirks
  frontend/src/routes/SubmittableInput.svelte
Due: prettier

add vercel files to .gitignore
  .gitignore
Due: none

add score
  frontend/src/routes/+page.svelte
Due: prettier

setup $components and move/rename first one to Prompt
  frontend/src/lib/components/Prompt.svelte
  frontend/src/routes/+page.svelte
  frontend/svelte.config.js
Due: eslint, prettier

disable format-staged lefthook
  lefthook.yml
Due: none

Replace style of prompt
  frontend/src/lib/components/Prompt.svelte
Due: prettier

cleaned code
  frontend/src/lib/components/Prompt.svelte
Due: prettier

move sentiment to /check-sentiment, add clock on root page
  frontend/src/routes/+page.svelte
  frontend/src/routes/check-sentiment/+page.svelte
Due: prettier

add temp migration
  supabase/migrations/20240114143821_add_edulaw_schema.sql
Due: supabase-types

Create edulaw schema and tables
  supabase/migrations/20240103215448_create_chunks.sql
  supabase/migrations/20240114143821_add_edulaw_schema.sql
  supabase/types.d.ts
Due: supabase-types

add proper schema
  supabase/migrations/20240114143821_add_edulaw_schema.sql
  supabase/types.d.ts
Due: supabase-types

wip
  lefthook.yml
  supabase/migrations/20240114143821_add_edulaw_schema.sql
  supabase/types.d.ts
Due: supabase-types

all match_* fns for edulaw
  supabase/migrations/20240114143821_add_edulaw_schema.sql
  supabase/package.json
  supabase/types.d.ts
Due: supabase-types

lower dimensionality of embedding columns to 384
  supabase/migrations/20240114143821_add_edulaw_schema.sql
Due: supabase-types

migration: create_documents
  supabase/migrations/20240116091812_create_documents.sql
  supabase/types.d.ts
Due: supabase-types

setup RemoteRunnable to run the chain from python backend
  frontend/.env.example
  frontend/package.json
  frontend/src/routes/edulaw-qa/+page.svelte
  pnpm-lock.yaml
Due: prettier

improve look and feel and streaming support for edulaw-qa
  frontend/src/routes/edulaw-qa/+page.svelte
Due: prettier

measure time during execution
  frontend/src/routes/edulaw-qa/+page.svelte
Due: prettier

improve visual of measured time
  frontend/src/routes/edulaw-qa/+page.svelte
Due: prettier

supabase: sort out import_map and deno config
  supabase/functions/deno.json
  supabase/functions/embed/index.ts
  supabase/functions/import_map.json
  supabase/functions/sentiment/index.ts
Due: none

supabase: define noop check script in supabase
  supabase/package.json
Due: none

gitignore .vercel
  frontend/.gitignore
  frontend/src/routes/edulaw-qa/+page.svelte
Due: prettier

lefthook: disable some tasks for now
  lefthook.yml
Due: none

sort out public/private env vars
  frontend/src/hooks.server.ts
  frontend/src/lib/supabaseClient.ts
  frontend/src/routes/+layout.ts
Due: eslint, prettier

update env vars back to public lol
  frontend/.env.example
  frontend/src/hooks.server.ts
  frontend/src/lib/supabaseClient.ts
  frontend/src/routes/+layout.ts
Due: eslint, prettier

working v2 qa without any domtimeouts
  frontend/src/routes/edulaw-qa/+page.svelte
Due: prettier

add example question
  frontend/src/routes/edulaw-qa/+page.svelte
Due: prettier

Improve look and feel a bit
  frontend/src/routes/edulaw-qa/+page.svelte
Due: prettier

Add proper progress radial
  frontend/src/lib/components/Prompt.svelte
  frontend/src/routes/edulaw-qa/+page.svelte
Due: prettier

improve the time elapsed indicator
  frontend/src/routes/edulaw-qa/+page.svelte
Due: prettier

add flexbox page
  frontend/src/routes/flexbox/+page.svelte
Due: prettier

Setup Histoire instead of Storybook
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/.storybook/main.ts
  frontend/.storybook/preview-body.html
  frontend/.storybook/preview.ts
  frontend/histoire-setup.ts
  frontend/histoire.config.js
  frontend/package.json
  frontend/src/stories/Button.stories.ts
  frontend/src/stories/Button.svelte
  frontend/src/stories/Configure.mdx
  frontend/src/stories/Header.stories.ts
  frontend/src/stories/Header.svelte
  frontend/src/stories/Page.stories.ts
  frontend/src/stories/Page.svelte
  frontend/src/stories/Prompt.story.svelte
  frontend/src/stories/assets/accessibility.png
  frontend/src/stories/assets/accessibility.svg
  frontend/src/stories/assets/addon-library.png
  frontend/src/stories/assets/assets.png
  frontend/src/stories/assets/avif-test-image.avif
  frontend/src/stories/assets/context.png
  frontend/src/stories/assets/discord.svg
  frontend/src/stories/assets/docs.png
  frontend/src/stories/assets/figma-plugin.png
  frontend/src/stories/assets/github.svg
  frontend/src/stories/assets/share.png
  frontend/src/stories/assets/styling.png
  frontend/src/stories/assets/testing.png
  frontend/src/stories/assets/theming.png
  frontend/src/stories/assets/tutorials.svg
  frontend/src/stories/assets/youtube.svg
  frontend/src/stories/button.css
  frontend/src/stories/header.css
  frontend/src/stories/page.css
  pnpm-lock.yaml
Due: eslint, prettier

add no_to_int pg function for casting lex docs numbers
  supabase/migrations/20240124170131_create_no_to_int.sql
  supabase/types.d.ts
Due: supabase-types

skip backend-check for now
  lefthook.yml
Due: none

Path conditions:
  supabase-types: any of: supabase/migrations/*.sql and ^supabase/
  eslint: any of: frontend/*.{js,jx,ts,tsx} and ^frontend/
  prettier: any of: frontend/*.{js,jsx,ts,tsx,json,svelte,css} and ^frontend/
  pyright: any of: ai-tools/**/*.py and ^ai\-tools/
  poetry: any of: ai-tools/{pyproject.toml,poetry.lock} and ^ai\-tools/
