Repository pgflow-dev/pgflow: changes, and which lefthook commands are due for each by the changed paths.
All: frontend/prettier-fix, frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, edulaw-ai-backend/docker-build, supabase/check, supabase/test, supabase/gen-types, feed-processor/check, feed-processor/test, feed-processor/isort

lefthook.yml:

prepare-commit-msg:
  scripts:
    "generate-commit-msg.sh":
      runner: bash

commit-msg:
  commands:
    "lint commit message":
      skip: true
      run: pnpm commitlint --edit {1}

post-commit:
  commands:
    "push changes to origin":
      skip:
        - ref: main
      run: git push

pre-commit:
  commands:
    # This task is skipped by default, un-skip it to debug the inputs
    debug:
      skip: true
      run: |
        echo staged_files="{staged_files}"
        exit 1

    frontend/prettier-fix:
      root: "pkgs/frontend"
      glob: "*.{svelte,js,ts,html,css,json}"
      run: |
        prettier --write {staged_files}
      stage_fixed: true

    frontend/check:
      root: "pkgs/frontend"
      glob: "*.{svelte,js,ts,html,css,json}"
      run: |
        turbo run check --scope=frontend

    frontend/lint:
      root: "pkgs/frontend"
      glob: "*.{svelte,js,ts,html,css,json}"
      run: |
        turbo run lint --scope=frontend

    # TODO: fix glob pattern for pdm.lock
    #       the problem is that globs without asterist or other special chars
    #       does not not work, so literal 'pdm.lock' is not picked up
    #       the workaround is to prepend the literal filename with '*'
    edulaw-ai-backend/check:
      root: "pkgs/edulaw-ai-backend"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        python_staged_files=$(echo "{staged_files}" | tr ' ' '\n' | grep '\.py$')
        pnpm check $python_staged_files

    edulaw-ai-backend/test:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        turbo run test --scope=edulaw-ai-backend

    edulaw-ai-backend/isort:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        pdm run isort {staged_files}
      stage_fixed: true

    edulaw-ai-backend/docker-build:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*Dockerfile,*compose.yaml}"
      run: |
        docker compose build

    supabase/check:
      root: "pkgs/supabase/functions/"
      glob: "*.ts"
      run: |
        turbo run check --scope=backend

    supabase/test:
      root: "pkgs/supabase/"
      glob: "**/*.sql"
      run: |
        turbo run test --scope=backend

    supabase/gen-types:
      root: "pkgs/supabase/"
      glob: "*.sql"
      run: |
        pnpm gen-types && git add types.d.ts

    # TODO: fix glob pattern for pdm.lock
    #       the problem is that globs without asterist or other special chars
    #       does not not work, so literal 'pdm.lock' is not picked up
    #       the workaround is to prepend the literal filename with '*'
    feed-processor/check:
      root: "pkgs/feed-processor"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        python_staged_files=$(echo "{staged_files}" | tr ' ' '\n' | grep '\.py$')
        pnpm check $python_staged_files

    feed-processor/test:
      root: "pkgs/feed-processor/"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        turbo run test --scope=feed-processor

    feed-processor/isort:
      root: "pkgs/feed-processor/"
      glob: "{*pyproject.toml,*pdm.lock,*.py}"
      run: |
        pdm run isort {staged_files}
      stage_fixed: true

feat(pgflow): reading and parsing pgmq messages
  pkgs/supabase/DEV_JOURNAL.md
  pkgs/supabase/functions/_pgflow/worker.ts
  pkgs/supabase/functions/pgflow-worker/index.ts
  pkgs/supabase/migrations/20241027172110_pgflow_schema.sql
  pkgs/supabase/migrations/20241027172203_pgflow_enqueue_step_task.sql
  pkgs/supabase/migrations/20241217111641_pgflow_pgmq.sql
  pkgs/supabase/queries/function_in_namespace.sql
Due: supabase/check, supabase/test, supabase/gen-types

fix(worker): correct variable naming for message retrieval
  pkgs/supabase/functions/_pgflow/worker.ts
Due: supabase/check

feat(supabase): add new schemas `pgflow_pgmq` and `pgmq` to type generation
  pkgs/supabase/package.json
  pkgs/supabase/types.d.ts
Due: none

feat(worker): enhance type safety and add step task retrieval
  pkgs/supabase/functions/_pgflow/worker.ts
Due: supabase/check

feat(pgflow): simplify pgmq messages
  pkgs/supabase/functions/_pgflow/worker.ts
  pkgs/supabase/migrations/20241027172203_pgflow_enqueue_step_task.sql
  pkgs/supabase/migrations/20241027172300_pgflow_start_step.sql
  pkgs/supabase/queries/pgmq_tests.sql
Due: supabase/check, supabase/test, supabase/gen-types

try to wrap things with functions
  pkgs/supabase/functions/_pgflow/worker.ts
  pkgs/supabase/functions/pgflow-worker/index.ts
Due: supabase/check

refactor(pgflow-worker): modularize worker components
  pkgs/supabase/functions/_pgflow/worker.ts
  pkgs/supabase/functions/_pgflow/worker/createInterruptibleSleep.ts
  pkgs/supabase/functions/_pgflow/worker/createQueueGenerator.ts
  pkgs/supabase/functions/_pgflow/worker/findStepTask.ts
  pkgs/supabase/functions/_pgflow/worker/handlePgmqMessage.ts
  pkgs/supabase/functions/_pgflow/worker/index.ts
  pkgs/supabase/functions/_pgflow/worker/startWorker.ts
  pkgs/supabase/functions/pgflow-worker/index.ts
Due: supabase/check

feat(worker): integrate Supabase client into task execution
  pkgs/supabase/functions/_pgflow/worker/handlePgmqMessage.ts
Due: supabase/check

feat(pgflow): add executeTask function for handling step tasks
  pkgs/supabase/functions/_pgflow/worker/executeTask.ts
  pkgs/supabase/functions/_pgflow/worker/findStepTask.ts
  pkgs/supabase/functions/_pgflow/worker/handlePgmqMessage.ts
Due: supabase/check

refactor(pgflow): simplify task execution flow
  pkgs/supabase/functions/_pgflow/worker/executeTask.ts
  pkgs/supabase/functions/_pgflow/worker/handlePgmqMessage.ts
  pkgs/supabase/functions/_pgflow/worker/startStepTask.ts
Due: supabase/check

feat(pgflow): add complete and fail step task functions
  pkgs/supabase/functions/_pgflow/worker/completeStepTask.ts
  pkgs/supabase/functions/_pgflow/worker/executeTask.ts
  pkgs/supabase/functions/_pgflow/worker/failStepTask.ts
Due: supabase/check

chore(logging): refine console log messages in worker functions
  pkgs/supabase/functions/_pgflow/worker/completeStepTask.ts
  pkgs/supabase/functions/_pgflow/worker/createQueueGenerator.ts
  pkgs/supabase/functions/_pgflow/worker/failStepTask.ts
  pkgs/supabase/functions/_pgflow/worker/findStepTask.ts
  pkgs/supabase/functions/_pgflow/worker/handlePgmqMessage.ts
  pkgs/supabase/functions/_pgflow/worker/startStepTask.ts
  pkgs/supabase/functions/_pgflow/worker/startWorker.ts
Due: supabase/check

refactor(supabase): remove deprecated pgflow worker functions
  pkgs/supabase/migrations/20241027172200_pgflow_edgefn_worker.sql
  pkgs/supabase/migrations/20241027172210_pgflow_pgqueuer_worker.sql
Due: supabase/test, supabase/gen-types

feat(pgflow): track msg_id for pgmq messages when enqueueing tasks
  pkgs/supabase/functions/_pgflow/worker/handlePgmqMessage.ts
  pkgs/supabase/functions/_pgflow/worker/startWorker.ts
  pkgs/supabase/migrations/20241027172110_pgflow_schema.sql
  pkgs/supabase/migrations/20241027172203_pgflow_enqueue_step_task.sql
  pkgs/supabase/migrations/20241027172270_pgflow_complete_step_task.sql
  pkgs/supabase/types.d.ts
Due: supabase/check, supabase/test, supabase/gen-types

feat(pgflow): put the work on waitUntil eventloop
  pkgs/supabase/functions/_pgflow/worker/completeStepTask.ts
  pkgs/supabase/functions/_pgflow/worker/createQueueGenerator.ts
  pkgs/supabase/functions/_pgflow/worker/failStepTask.ts
  pkgs/supabase/functions/_pgflow/worker/startStepTask.ts
  pkgs/supabase/functions/_pgflow/worker/startWorker.ts
  pkgs/supabase/migrations/20241027172203_pgflow_enqueue_step_task.sql
  pkgs/supabase/migrations/20241027172270_pgflow_complete_step_task.sql
  pkgs/supabase/migrations/20241027172280_pgflow_fail_step_task.sql
Due: supabase/check, supabase/test, supabase/gen-types

chore(pgflow): reimplement the polling/wakeup using setInterval and callbacks
  pkgs/supabase/functions/_pgflow/worker/createInterruptibleSleep.ts
  pkgs/supabase/functions/_pgflow/worker/createQueueGenerator.ts
  pkgs/supabase/functions/_pgflow/worker/findStepTask.ts
  pkgs/supabase/functions/_pgflow/worker/index.ts
  pkgs/supabase/functions/_pgflow/worker/readMessages.ts
  pkgs/supabase/functions/_pgflow/worker/startWorker.ts
Due: supabase/check

docs(pgflwo): update DEV_JOURNAL
  pkgs/supabase/DEV_JOURNAL.md
Due: none

feat(pgflow): add start_edgefn_worker()
  pkgs/supabase/migrations/20241217111641_pgflow_pgmq.sql
  pkgs/supabase/types.d.ts
Due: supabase/test, supabase/gen-types

chore(pgflow): improve worker behaviour
  pkgs/supabase/functions/_pgflow/worker/readMessages.ts
  pkgs/supabase/functions/_pgflow/worker/startWorker.ts
  pkgs/supabase/functions/pgflow-worker/index.ts
Due: supabase/check

docs: add note on race condition issue with task enqueueing in DEV_JOURNAL.md
  pkgs/supabase/DEV_JOURNAL.md
Due: none

chore(pgflow): add new lock for lockign step_task
  pkgs/supabase/DEV_JOURNAL.md
  pkgs/supabase/migrations/20241027172120_pgflow_locks.sql
  pkgs/supabase/migrations/20241027172203_pgflow_enqueue_step_task.sql
  pkgs/supabase/migrations/20241027172260_pgflow_start_step_task.sql
  pkgs/supabase/migrations/20241027172270_pgflow_complete_step_task.sql
  pkgs/supabase/migrations/20241027172280_pgflow_fail_step_task.sql
  pkgs/supabase/migrations/20241202174330_pgflow_retry_step_task.sql
  pkgs/supabase/migrations/20241217111641_pgflow_pgmq.sql
  pkgs/supabase/types.d.ts
Due: supabase/test, supabase/gen-types

refactor(worker): remove commented-out code and simplify function
  pkgs/supabase/functions/_pgflow/worker/startWorker.ts
Due: supabase/check

chore: update deno.json and deno.lock for _pgflow and pgflow-worker
  pkgs/supabase/functions/_pgflow/deno.json
  pkgs/supabase/functions/_pgflow/deno.lock
  pkgs/supabase/functions/_pgflow/sql.ts
  pkgs/supabase/functions/pgflow-worker/deno.json
  pkgs/supabase/functions/pgflow-worker/deno.lock
Due: supabase/check

refactor(pgflow-worker): improve worker lifecycle management
  pkgs/supabase/functions/_pgflow/worker/startWorker.ts
  pkgs/supabase/functions/pgflow-worker/index.ts
Due: supabase/check

refactor(supabase): remove monstrous.sql fixture
  pkgs/supabase/fixtures/monstrous.sql
  pkgs/supabase/functions/_flows/Monstrous.ts
  pkgs/supabase/functions/_flows/index.ts
Due: supabase/check, supabase/test, supabase/gen-types

docs: add analysis for extracting task worker from PGFlow
  pkgs/supabase/docs/pgflow-worker.md
Due: none

docs: update DEV_JOURNAL with stopWorker implementation details
  pkgs/supabase/DEV_JOURNAL.md
Due: none

feat(pgflow-worker): add spawnNewEdgeFunction to worker module
  pkgs/supabase/functions/_flows/Wide.ts
  pkgs/supabase/functions/_pgflow/worker/index.ts
  pkgs/supabase/functions/_pgflow/worker/spawnNewEdgeFunction.ts
  pkgs/supabase/functions/pgflow-worker/index.ts
Due: supabase/check

chore(pgflow): add some pgmq query for testing
  pkgs/supabase/queries/pgmq_tests.sql
Due: supabase/test, supabase/gen-types

refactor(worker): update message reading and processing logic
  pkgs/supabase/functions/_pgflow/worker/readMessages.ts
  pkgs/supabase/functions/_pgflow/worker/startWorker.ts
Due: supabase/check

Initial commit
  .github/workflows/ci.yml
  .gitignore
  .npmrc
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  README.md
  nx.json
  package.json
  packages/.gitkeep
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.base.json
  tsconfig.json
Due: none

feat(supabase-worker): initial commit
  .vscode/extensions.json
  .vscode/settings.json
  import_map.json
  nx.json
  package.json
  packages/supabase-worker/README.md
  packages/supabase-worker/deno.json
  packages/supabase-worker/deno.lock
  packages/supabase-worker/mod.ts
  packages/supabase-worker/project.json
  packages/supabase-worker/src/supabase-worker.test.ts
  packages/supabase-worker/src/supabase-worker.ts
  pnpm-lock.yaml
Due: none

chore(ci): add denoland/setup-deno@v2 github action
  .github/workflows/ci.yml
Due: none

chore(supabase-worker): import ts code from my private monorepo
  README.md
  import_map.json
  packages/supabase-worker/project.json
  packages/supabase-worker/src/MessageExecutor.ts
  packages/supabase-worker/src/Queue.ts
  packages/supabase-worker/src/Worker.ts
  packages/supabase-worker/src/sql.ts
  packages/supabase-worker/src/startStepTask.ts
  pnpm-workspace.yaml
Due: none

chore: rename packages to pkgs
  pkgs/.gitkeep
  pkgs/supabase-worker/README.md
  pkgs/supabase-worker/deno.json
  pkgs/supabase-worker/deno.lock
  pkgs/supabase-worker/mod.ts
  pkgs/supabase-worker/project.json
  pkgs/supabase-worker/src/MessageExecutor.ts
  pkgs/supabase-worker/src/Queue.ts
  pkgs/supabase-worker/src/Worker.ts
  pkgs/supabase-worker/src/sql.ts
  pkgs/supabase-worker/src/startStepTask.ts
  pkgs/supabase-worker/src/supabase-worker.test.ts
  pkgs/supabase-worker/src/supabase-worker.ts
Due: none

chore(supabasa)
  pkgs/supabase-worker/src/startStepTask.ts
Due: none

chore(pgflow): codestyle cleanup
  pkgs/supabase-worker/src/MessageExecutor.ts
  pkgs/supabase-worker/src/types.ts
Due: none

chore(nx): use for of @nx/deno because original is deprecated
  package.json
  pnpm-lock.yaml
Due: none

chore(supabase-worker): update @nx/deno executor to new fork
  pkgs/supabase-worker/project.json
Due: none

chore(monorepo): add .envrc
  .envrc
Due: none
