Repository pgflow-dev/pgflow: changes, and which lefthook commands are due for each by the changed paths.
All: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, backend/check, backend/gen-types

lefthook.yml:

pre-commit:
  parallel: true
  follow: true
  commands:
    # This task is skipped by default, un-skip it to debug the inputs
    debug:
      skip: true
      run: |
        echo staged_files="{staged_files}"
        exit 1

    frontend/check:
      root: "pkgs/frontend"
      glob: "*.{svelte,js,ts,html,css,json}"
      run: |
        turbo run check --scope=frontend

    frontend/lint:
      root: "pkgs/frontend"
      glob: "*.{svelte,js,ts,html,css,json}"
      run: |
        turbo run lint --scope=frontend

    # TODO: fix glob pattern for poetry.lock
    #       the problem is that globs without asterist or other special chars
    #       does not not work, so literal 'poetry.lock' is not picked up
    #       the workaround is to prepend the literal filename with '*'
    edulaw-ai-backend/check:
      root: "pkgs/edulaw-ai-backend"
      glob: "{*pyproject.toml,*poetry.lock,*.py}"
      run: |
        turbo run check --scope=edulaw-ai-backend

    edulaw-ai-backend/test:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*pyproject.toml,*poetry.lock,*.py}"
      run: |
        turbo run test --scope=edulaw-ai-backend

    edulaw-ai-backend/isort:
      root: "pkgs/edulaw-ai-backend/"
      glob: "{*pyproject.toml,*poetry.lock,*.py}"
      run: |
        poetry run isort {staged_files} && git add {staged_files}

    backend/check:
      root: "pkgs/supabase/functions/"
      glob: "*.ts"
      run: |
        # turbo run check --scope=supabase {staged_files}
        deno check {staged_files}

    backend/gen-types:
      root: "pkgs/supabase/"
      glob: "*.sql"
      run: |
        node_modules/.bin/supabase gen types typescript --local > types.d.ts && git add types.d.ts

Implement scrolling and proper layout for messages view
  pkgs/frontend/package.json
  pkgs/frontend/src/app.postcss
  pkgs/frontend/src/lib/actions.ts
  pkgs/frontend/src/lib/components/BaseMessageList.svelte
  pkgs/frontend/src/lib/components/ChatLayout.svelte
  pkgs/frontend/src/lib/components/Message.svelte
  pkgs/frontend/src/lib/customChatMessageHistory.ts
  pkgs/frontend/src/lib/runnableStore.ts
  pkgs/frontend/src/lib/runnables.ts
  pkgs/frontend/src/lib/supabaseChatMessageHistory.ts
  pkgs/frontend/src/routes/auth/sign-in/+page.svelte
  pkgs/frontend/src/routes/spikes/chat-with-simple-memory/+page.svelte
  pkgs/frontend/src/routes/spikes/chat-with-vector-memory/+page.svelte
  pkgs/frontend/src/routes/spikes/edulaw-qa/+page.svelte
  pkgs/frontend/src/routes/spikes/history-runnable/+page.svelte
  pkgs/frontend/src/routes/spikes/supabase-memory/+page.svelte
  pkgs/frontend/src/routes/spikes/test-streaming/+page.svelte
  pnpm-lock.yaml
Due: frontend/check, frontend/lint

removed all unused spikes
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/spikes/chat-layout-diy/+page.svelte
  pkgs/frontend/src/routes/spikes/chat-layout/+layout.svelte
  pkgs/frontend/src/routes/spikes/chat-layout/+page.svelte
  pkgs/frontend/src/routes/spikes/chat-with-simple-memory/+page.svelte
  pkgs/frontend/src/routes/spikes/chat-with-vector-memory/+page.svelte
  pkgs/frontend/src/routes/spikes/edulaw-qa/+page.svelte
  pkgs/frontend/src/routes/spikes/runnable-store/+page.svelte
  pkgs/frontend/src/routes/spikes/runnable-ui/+page.svelte
  pkgs/frontend/src/routes/spikes/supabase-memory/+page.svelte
  pkgs/frontend/src/routes/spikes/test-streaming/+page.svelte
Due: frontend/check, frontend/lint

Remove dead code, reorganize waht was left
  pkgs/frontend/src/lib/chains/QaChain.ts
  pkgs/frontend/src/lib/chains/remoteRunnables.ts
  pkgs/frontend/src/lib/chatRunners.ts
  pkgs/frontend/src/lib/chatTypes.ts
  pkgs/frontend/src/lib/chat_histories/ChatMessageHistoryStore.ts
  pkgs/frontend/src/lib/chat_histories/SupabaseChatMessageHistory.ts
  pkgs/frontend/src/lib/chat_histories/customChatMessageHistory.ts
  pkgs/frontend/src/lib/components/ChatMessageList.svelte
  pkgs/frontend/src/lib/components/ChatPage.svelte
  pkgs/frontend/src/lib/components/SelectModelId.svelte
  pkgs/frontend/src/lib/currentModelIdStore.ts
  pkgs/frontend/src/lib/embeddings/RemoteEmbeddings.ts
  pkgs/frontend/src/lib/models/ProxiedChatOpenAI.ts
  pkgs/frontend/src/lib/runnableStore.ts
  pkgs/frontend/src/lib/userStore.ts
  pkgs/frontend/src/routes/spikes/history-runnable/+page.svelte
Due: frontend/check, frontend/lint

setup PUBLIC_URL
  pkgs/frontend/.env.example
  pkgs/frontend/src/routes/auth/sign-in/+page.svelte
Due: frontend/check, frontend/lint

extract db.ts
  pkgs/frontend/src/lib/chat_histories/SupabaseChatMessageHistory.ts
  pkgs/frontend/src/lib/db.ts
Due: frontend/check, frontend/lint

Create conversations list
  pkgs/frontend/package.json
  pkgs/frontend/src/lib/chat_histories/SupabaseChatMessageHistory.ts
  pkgs/frontend/src/lib/components/ChatLayout.svelte
  pkgs/frontend/src/lib/components/Message.svelte
  pkgs/frontend/src/lib/db.ts
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/conversations/+layout.ts
  pkgs/frontend/src/routes/conversations/+page.svelte
  pkgs/frontend/src/routes/conversations/+page.ts
  pkgs/frontend/src/routes/conversations/[conversationId]/+page.svelte
  pkgs/frontend/src/routes/conversations/[conversationId]/+page.ts
  pkgs/frontend/src/routes/conversations/[conversationId]/Page.svelte
  pkgs/frontend/src/routes/conversations/new/+page.ts
  pkgs/supabase/config.toml
  pkgs/supabase/migrations/20240314103649_chat_messages.sql
  pkgs/supabase/package.json
  pkgs/supabase/types.d.ts
  pnpm-lock.yaml
Due: frontend/check, frontend/lint, backend/gen-types

disable preloading for the whole app
  pkgs/frontend/src/app.html
Due: frontend/check, frontend/lint

Convert /conversations/new to a dedicated button
  pkgs/frontend/src/lib/components/NewConversationButton.svelte
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/conversations/+page.svelte
  pkgs/frontend/src/routes/conversations/new/+page.ts
Due: frontend/check, frontend/lint

use $session store for nested components
  pkgs/frontend/src/lib/components/NewConversationButton.svelte
  pkgs/frontend/src/lib/stores/current.ts
  pkgs/frontend/src/routes/+layout.server.ts
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/+layout.ts
  pkgs/frontend/src/routes/conversations/+layout.ts
  pkgs/frontend/src/routes/conversations/+page.svelte
  pkgs/frontend/src/routes/conversations/+page.ts
  pkgs/frontend/src/routes/conversations/[conversationId]/+page.svelte
  pkgs/frontend/src/routes/conversations/[conversationId]/+page.ts
Due: frontend/check, frontend/lint

change adapter to vercel
  pkgs/frontend/package.json
  pkgs/frontend/svelte.config.js
  pnpm-lock.yaml
Due: frontend/check, frontend/lint

update sveltejs packages
  pkgs/frontend/package.json
  pnpm-lock.yaml
Due: frontend/check, frontend/lint

make sure we use node 18.4.0
  pkgs/frontend/.envrc
  pkgs/frontend/.tool-versions
Due: none

use auto adapter
  pkgs/frontend/svelte.config.js
Due: frontend/check, frontend/lint

update vercel
  package.json
  pnpm-lock.yaml
Due: none

Allow signing in by hitting enter
  pkgs/frontend/src/routes/auth/sign-in/+page.svelte
Due: frontend/check, frontend/lint

extract useChat helper function
  pkgs/frontend/src/lib/useChat.ts
  pkgs/frontend/src/routes/conversations/[conversationId]/Page.svelte
Due: frontend/check, frontend/lint

change default langsmith project id
  pkgs/frontend/.env.example
Due: none

Add methods to history that casts it as runnable
  pkgs/frontend/src/lib/chains/createChainWithHistory.ts
  pkgs/frontend/src/lib/chat_histories/SupabaseChatMessageHistory.ts
Due: frontend/check, frontend/lint

use node 21.5.0
  pkgs/frontend/.tool-versions
Due: none

update packages
  pkgs/frontend/package.json
  pnpm-lock.yaml
Due: frontend/check, frontend/lint

fix bug with prompt for history
  pkgs/frontend/src/routes/conversations/[conversationId]/Page.svelte
Due: frontend/check, frontend/lint

remove createChainWithHistory to simplify
  pkgs/frontend/src/lib/chains/createChainWithHistory.ts
  pkgs/frontend/src/routes/conversations/[conversationId]/Page.svelte
Due: frontend/check, frontend/lint

add discord webhook to gitlab
  .gitlab-ci.yml
Due: none

gitignore .plandex folder
  .gitignore
Due: none

cleanup
  pkgs/edulaw-ai-backend/app/server.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

extract routers from app/server
  pkgs/edulaw-ai-backend/app/server.py
  pkgs/edulaw-ai-backend/routers/chains.py
  pkgs/edulaw-ai-backend/routers/chat_completions_proxy.py
  pkgs/edulaw-ai-backend/routers/models_and_embeddings.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

cleanup
  pkgs/edulaw-ai-backend/chains/hierarchical_retriever.py
  pkgs/edulaw-ai-backend/chains/qa_chain.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

Properly setup Discord webhook notification
  .gitlab-ci.yml
  README.md
Due: none

simplify
  pkgs/edulaw-ai-backend/chains/naive_retrieval.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

fix .gitlab-ci.yaml
  .gitlab-ci.yml
Due: none

add comment
  pkgs/edulaw-ai-backend/app/server.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

reorder chains
  pkgs/edulaw-ai-backend/routers/chains.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

tidy up layout a bit
  pkgs/frontend/src/routes/+layout.svelte
Due: frontend/check, frontend/lint

reorder some stuff in app/server.py
  pkgs/edulaw-ai-backend/app/server.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

remove dependencies in turbo.json, build only frontend
  turbo.json
Due: none

try other thing with turbo.json
  turbo.json
Due: none

check other variant of turbo.json
  turbo.json
Due: none

remove unused code
  pkgs/edulaw-ai-backend/app/test_streaming.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort
