Repository pgflow-dev/pgflow: changes, and which lefthook commands are due for each by the changed paths.
All: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, edulaw-ai-backend/docker-build, backend/check, backend/gen-types

frontend/check:
  run: 'turbo run check --scope=frontend
  
    '

frontend/lint:
  run: 'turbo run lint --scope=frontend
  
    '

edulaw-ai-backend/check:
  run: 'turbo run check --scope=edulaw-ai-backend
  
    '

edulaw-ai-backend/test:
  run: 'turbo run test --scope=edulaw-ai-backend
  
    '

edulaw-ai-backend/isort:
  run: 'pdm run isort {staged_files}
  
    '
  stage_fixed: true

edulaw-ai-backend/docker-build:
  run: 'docker compose build
  
    '

backend/check:
  run: '# turbo run check --scope=supabase {staged_files}
  
    deno check {staged_files}
  
    '

backend/gen-types:
  run: 'pnpm gen-types && git add types.d.ts
  
    '

feat: refactor TodoComponent to improve checkbox layout and styling
  pkgs/frontend/src/lib/components/feed/TodoComponent.svelte
Due: frontend/check, frontend/lint

fix(feed): reduce animation duration for share and entity components
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
Due: frontend/check, frontend/lint

fix: remove unnecessary pre-commit configuration options from lefthook.yml
  lefthook.yml
Due: none

feat: add JobContext to manage dependencies in feed processing
  pkgs/feed-processor/src/feed_processor/__init__.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entities/__init__.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entities/schema.py
  pkgs/feed-processor/src/feed_processor/actors/infer_type/__init__.py
  pkgs/feed-processor/src/feed_processor/models.py
Due: none

fix(feed_processor): change JobContext to dataclass
  pkgs/feed-processor/pdm.lock
  pkgs/feed-processor/pyproject.toml
  pkgs/feed-processor/src/feed_processor/models.py
Due: none

feat: reverse the feed direction
  pkgs/frontend/src/lib/components/LayoutWithHeaderAndSidebar.svelte
  pkgs/frontend/src/lib/components/feed/ChatLayout.svelte
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
Due: frontend/check, frontend/lint

WIP - extract entity by type nearly done
  pkgs/feed-processor/segmented.json
  pkgs/feed-processor/src/feed_processor/__init__.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entity_by_type/__init__.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entity_by_type/chain.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entity_by_type/prompt.py
  pkgs/feed-processor/src/feed_processor/models.py
  pkgs/feed-processor/src/feed_processor/utils.py
Due: none

feat(migrations): update mark_share_changed trigger to use enqueue_job with JSON parameters
  pkgs/supabase/migrations/20241002091329_feed.sql
Due: backend/gen-types

feat: update dev script to use file watcher for automatic execution
  pkgs/feed-processor/package.json
Due: none

feat(feed-processor): extract single entity at once
  pkgs/feed-processor/src/feed_processor/__init__.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entity_by_type/__init__.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entity_by_type/chain.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entity_by_type/prompt.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entity_by_type/schema.py
  pkgs/feed-processor/src/feed_processor/models.py
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.server.ts
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
Due: frontend/check, frontend/lint

chore: add langchain-groq and related api keys
  pkgs/feed-processor/.env.vault
  pkgs/feed-processor/pdm.lock
  pkgs/feed-processor/pyproject.toml
Due: none

feat: use groq's gemma2 because it is ultra fast
  pkgs/feed-processor/src/feed_processor/__init__.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entity_by_type/__init__.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entity_by_type/chain.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entity_by_type/prompt.py
  pkgs/feed-processor/src/feed_processor/models.py
Due: none

feat: update _create_row function to accept Bookmark type and handle multiple bookmarks
  pkgs/feed-processor/src/feed_processor/actors/extract_entity_by_type/__init__.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entity_by_type/schema.py
Due: none

refactor: use llama3 8b finetuned for tool calling
  pkgs/feed-processor/src/feed_processor/actors/extract_entity_by_type/chain.py
Due: none

feat: add description to bookmarks field in RunnableOutput model
  pkgs/feed-processor/src/feed_processor/actors/extract_entity_by_type/schema.py
Due: none

perf: increase precision by using bigger model and more precise prompt and field descriptions
  pkgs/feed-processor/src/feed_processor/actors/extract_entity_by_type/chain.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entity_by_type/prompt.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entity_by_type/schema.py
Due: none

wip
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
Due: frontend/check, frontend/lint

chore: update comments and clean up code in create_chain function
  pkgs/feed-processor/src/feed_processor/actors/extract_entity_by_type/chain.py
Due: none

feat: update create_chain function to accept input and output types
  pkgs/feed-processor/src/feed_processor/actors/extract_entity_by_type/__init__.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entity_by_type/chain.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entity_by_type/schema.py
Due: none

feat: update schema in create_chain function to use output_type instead of RunnableOutput
  pkgs/feed-processor/src/feed_processor/actors/extract_entity_by_type/chain.py
Due: none

refactor: move extract_entity_by_type module to tasks directory
  pkgs/feed-processor/src/feed_processor/__init__.py
  pkgs/feed-processor/src/feed_processor/tasks/extract_entity_by_type/__init__.py
  pkgs/feed-processor/src/feed_processor/tasks/extract_entity_by_type/chain.py
  pkgs/feed-processor/src/feed_processor/tasks/extract_entity_by_type/prompt.py
  pkgs/feed-processor/src/feed_processor/tasks/extract_entity_by_type/schema.py
Due: none

refactor: setup types in configurable way
  pkgs/feed-processor/datasets/links.txt
  pkgs/feed-processor/src/feed_processor/tasks/extract_entity_by_type/__init__.py
  pkgs/feed-processor/src/feed_processor/tasks/extract_entity_by_type/chain.py
  pkgs/feed-processor/src/feed_processor/tasks/extract_entity_by_type/schema.py
Due: none

fix: update create_chain function parameters for clarity
  pkgs/feed-processor/src/feed_processor/tasks/extract_entity_by_type/__init__.py
  pkgs/feed-processor/src/feed_processor/tasks/extract_entity_by_type/chain.py
Due: none

fix: move docstring to the entity type itself, seems to be working fine
  pkgs/feed-processor/src/feed_processor/models.py
  pkgs/feed-processor/src/feed_processor/tasks/extract_entity_by_type/__init__.py
  pkgs/feed-processor/src/feed_processor/tasks/extract_entity_by_type/chain.py
Due: none

feat: re-enable all previous types
  pkgs/feed-processor/datasets/long_o1preview2.txt
  pkgs/feed-processor/src/feed_processor/__init__.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entities/__init__.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entities/chain.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entities/prompt.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entities/schema.py
  pkgs/feed-processor/src/feed_processor/actors/extract_entities/worker.py
  pkgs/feed-processor/src/feed_processor/actors/infer_type/__init__.py
  pkgs/feed-processor/src/feed_processor/actors/infer_type/chain.py
  pkgs/feed-processor/src/feed_processor/actors/infer_type/worker.py
  pkgs/feed-processor/src/feed_processor/actors/infer_ui.py
  pkgs/feed-processor/src/feed_processor/chains/infer_ui_chain.py
  pkgs/feed-processor/src/feed_processor/tasks/extract_entity_by_type/__init__.py
  pkgs/feed-processor/src/feed_processor/tasks/extract_entity_by_type/schema.py
  pkgs/frontend/src/lib/components/feed/EntityComponent.svelte
  pkgs/frontend/src/lib/components/feed/PersonComponent.svelte
  pkgs/frontend/src/lib/db/feed.ts
  pkgs/supabase/migrations/20241002091329_feed.sql
  pkgs/supabase/migrations/20241016173049_feed_entities.sql
  pkgs/supabase/types.d.ts
Due: frontend/check, frontend/lint, backend/gen-types

fix: update ChatOpenAI model from 'gpt-4o-mini' to 'gpt-4'
  pkgs/feed-processor/src/feed_processor/tasks/extract_entity_by_type/chain.py
Due: none

feat(datasets): add a shell env var to datasets to assert it is a CodeSnippet
  pkgs/feed-processor/datasets/assert_code_snippet_plaintext.txt
Due: none

feat: add @svelte-put/shortcut package and implement keyboard shortcut in add-share page
  pkgs/frontend/package.json
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
  pkgs/frontend/src/stories/feed/BookmarkComponent.story.svelte
  pnpm-lock.yaml
Due: frontend/check, frontend/lint

feat: add anthropic support
  pkgs/feed-processor/.env.vault
  pkgs/feed-processor/pdm.lock
  pkgs/feed-processor/pyproject.toml
  pkgs/feed-processor/src/feed_processor/__init__.py
  pkgs/feed-processor/src/feed_processor/models.py
  pkgs/feed-processor/src/feed_processor/tasks/extract_entity_by_type/chain.py
Due: none

feat: add Tags component and integrate into feed components
  pkgs/frontend/.gitignore
  pkgs/frontend/histoire-setup.ts
  pkgs/frontend/src/lib/components/Tags.svelte
  pkgs/frontend/src/lib/components/feed/BookmarkComponent.svelte
  pkgs/frontend/src/lib/components/feed/CodeSnippetComponent.svelte
  pkgs/frontend/src/lib/components/feed/EventComponent.svelte
  pkgs/frontend/src/lib/components/feed/NoteComponent.svelte
  pkgs/frontend/src/lib/components/feed/PersonComponent.svelte
  pkgs/frontend/src/lib/components/feed/TodoComponent.svelte
  pkgs/frontend/src/stories/Tags.story.svelte
Due: frontend/check, frontend/lint

feat(dev): update dev script to run feed_processor in development mode
  pkgs/feed-processor/package.json
  pkgs/feed-processor/src/feed_processor/__init__.py
  pkgs/feed-processor/src/feed_processor/dev.py
Due: none

feat(supabase): add new superadmin email to seed data
  pkgs/supabase/seed.sql
Due: backend/gen-types

feat: use optimistic mode for saving new shares
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.server.ts
  pkgs/frontend/src/routes/(private)/feed/add-share/+page.svelte
Due: frontend/check, frontend/lint

docs: update Todo class documentation to clarify distinctions from events
  pkgs/feed-processor/src/feed_processor/tasks/extract_entity_by_type/schema.py
Due: none

fix(migration): reorder entity_types array in feed.sql
  pkgs/supabase/migrations/20241002091329_feed.sql
Due: backend/gen-types

chore: update prompt for entity extraction to clarify team roles and responsibilities
  pkgs/feed-processor/src/feed_processor/tasks/extract_entity_by_type/__init__.py
  pkgs/feed-processor/src/feed_processor/tasks/extract_entity_by_type/prompt.py
  pkgs/feed-processor/src/feed_processor/tasks/extract_entity_by_type/schema.py
Due: none

feat: refine Note model prompt to make sure it never extracts other types as notes
  pkgs/feed-processor/src/feed_processor/tasks/extract_entity_by_type/schema.py
  pkgs/supabase/types.d.ts
Due: none

feat(supabase): add row level security policies for pgqueuer and documents
  pkgs/supabase/migrations/20240303100100_pgqueuer_policies.sql
  pkgs/supabase/migrations/20241002083724_documents.sql
  pkgs/supabase/migrations/20241002091329_feed.sql
  pkgs/supabase/types.d.ts
Due: backend/gen-types

feat: add Events dataset documentation with time handling details
  pkgs/feed-processor/datasets/Events.md
Due: none

feat: update dev script to specify host and port for Vite
  pkgs/frontend/package.json
Due: frontend/check, frontend/lint

Path conditions:
  frontend/check: any of: *.{svelte,js,ts,html,css,json} and ^pkgs/frontend/
  frontend/lint: any of: *.{svelte,js,ts,html,css,json} and ^pkgs/frontend/
  edulaw-ai-backend/check: any of: {*pyproject.toml,*pdm.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  edulaw-ai-backend/test: any of: {*pyproject.toml,*pdm.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  edulaw-ai-backend/isort: any of: {*pyproject.toml,*pdm.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  edulaw-ai-backend/docker-build: any of: {*Dockerfile,*compose.yaml} and ^pkgs/edulaw\-ai\-backend/
  backend/check: any of: *.ts and ^pkgs/supabase/functions/
  backend/gen-types: any of: *.sql and ^pkgs/supabase/
