Repository pgflow-dev/pgflow: changes, and which lefthook commands are due for each by the changed paths.
All: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, backend/check, backend/gen-types

frontend/check:
  run: 'turbo run check --scope=frontend
  
    '

frontend/lint:
  run: 'turbo run lint --scope=frontend
  
    '

edulaw-ai-backend/check:
  run: 'turbo run check --scope=edulaw-ai-backend
  
    '

edulaw-ai-backend/test:
  run: 'turbo run test --scope=edulaw-ai-backend
  
    '

edulaw-ai-backend/isort:
  run: 'poetry run isort {staged_files} && git add {staged_files}
  
    '

backend/check:
  run: '# turbo run check --scope=supabase {staged_files}
  
    deno check {staged_files}
  
    '

backend/gen-types:
  run: 'node_modules/.bin/supabase gen types typescript --local > types.d.ts && git add types.d.ts
  
    '

simplify turbo.json
  turbo.json
Due: none

incrementaly debug turbo.json v1
  turbo.json
Due: none

remove unused test
  pkgs/edulaw-ai-backend/app/prefixed_embeddings.py
  pkgs/edulaw-ai-backend/app/remote_embeddings.py
  pkgs/edulaw-ai-backend/chains/hypothetical_answers_test.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

add middlewares first
  pkgs/edulaw-ai-backend/app/server.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

renaem as*() methods on history
  pkgs/frontend/src/lib/chat_histories/SupabaseChatMessageHistory.ts
  pkgs/frontend/src/routes/conversations/[conversationId]/Page.svelte
Due: frontend/check, frontend/lint

Create titles by summarizing first message
  .gitlab-ci.yml
  pkgs/frontend/package.json
  pkgs/frontend/src/lib/chains/createTitleizeChain.ts
  pkgs/frontend/src/lib/chat_histories/SupabaseChatMessageHistory.ts
  pkgs/frontend/src/lib/components/NewConversationButton.svelte
  pkgs/frontend/src/lib/helpers/createConversationForMessage.ts
  pkgs/frontend/src/routes/conversations/+page.svelte
  pkgs/frontend/src/routes/conversations/[conversationId]/+page.ts
  pkgs/frontend/src/routes/conversations/[conversationId]/Page.svelte
  pkgs/frontend/svelte.config.js
  pkgs/supabase/migrations/20240314103649_chat_messages.sql
  pkgs/supabase/types.d.ts
  pnpm-lock.yaml
Due: frontend/check, frontend/lint, backend/gen-types

update seeds with friends' emails
  pkgs/supabase/seed.sql
Due: backend/gen-types

remove migration for edulaw_* tables
  pkgs/supabase/migrations/20240114143821_add_edulaw_schema.sql
Due: backend/gen-types

add params to match_documents and fix syntax err
  pkgs/supabase/migrations/20240116091812_create_documents.sql
  pkgs/supabase/types.d.ts
Due: backend/gen-types

Implement useRetriever
  .gitlab-ci.yml
  pkgs/edulaw-ai-backend/app/server.py
  pkgs/edulaw-ai-backend/routers/embeddings.py
  pkgs/edulaw-ai-backend/routers/models.py
  pkgs/frontend/src/lib/chat_histories/SupabaseChatMessageHistory.ts
  pkgs/frontend/src/lib/components/Prompt.svelte
  pkgs/frontend/src/lib/db.ts
  pkgs/frontend/src/lib/prompts.ts
  pkgs/frontend/src/lib/useChat.ts
  pkgs/frontend/src/lib/useRetriever.ts
  pkgs/frontend/src/routes/auth/sign-in/+page.svelte
  pkgs/frontend/src/routes/conversations/[conversationId]/Page.svelte
  pkgs/frontend/src/stories/Prompt.story.svelte
  pkgs/supabase/migrations/20240116091812_create_documents.sql
  pkgs/supabase/package.json
  pkgs/supabase/types.d.ts
Due: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, backend/gen-types

make user message appear immediately, before retrieval
  pkgs/frontend/src/lib/chat_histories/SupabaseChatMessageHistory.ts
  pkgs/frontend/src/routes/conversations/[conversationId]/Page.svelte
Due: frontend/check, frontend/lint

fix retrieved documents view
  pkgs/frontend/src/lib/db.ts
  pkgs/frontend/src/lib/useRetriever.ts
  pkgs/frontend/src/routes/conversations/[conversationId]/Page.svelte
Due: frontend/check, frontend/lint

Implement new pipeline for embedding with summaries
  pkgs/edulaw-ai-backend/chains/question_generator.py
  pkgs/edulaw-ai-backend/lex_parser/db.py
  pkgs/edulaw-ai-backend/lex_parser/embed_summaries.py
  pkgs/edulaw-ai-backend/lex_parser/generate_summaries.py
  pkgs/edulaw-ai-backend/lex_parser/summarize_chain.py
  pkgs/edulaw-ai-backend/lex_parser/summarize_with_children.py
  pkgs/edulaw-ai-backend/pipeline/01_load.py
  pkgs/edulaw-ai-backend/pipeline/02_gen_questions.py
  pkgs/edulaw-ai-backend/pipeline/03_gen_questions.py
  pkgs/edulaw-ai-backend/pipeline/04_embed.py
  pkgs/edulaw-ai-backend/pipeline/05_save.py
  pkgs/edulaw-ai-backend/spikes/embed_questions.py
  pkgs/frontend/package.json
  pkgs/frontend/src/lib/chains/createTopicExtractorChain.ts
  pkgs/frontend/src/lib/db.ts
  pkgs/frontend/src/lib/useRetriever.ts
  pkgs/frontend/src/routes/+layout.svelte
  pkgs/frontend/src/routes/conversations/[conversationId]/Page.svelte
  pkgs/frontend/src/routes/documents/+page.svelte
  pkgs/supabase/migrations/20240116091812_create_documents.sql
  pkgs/supabase/migrations/20240419113220_embeddings.sql
  pkgs/supabase/types.d.ts
  pnpm-lock.yaml
Due: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, backend/gen-types

Convert to OpenAI embeddings for now
  pkgs/edulaw-ai-backend/lex_parser/embed.py
  pkgs/edulaw-ai-backend/pipeline/02_gen_questions.py
  pkgs/edulaw-ai-backend/pipeline/04_embed.py
  pkgs/edulaw-ai-backend/pipeline/05_save.py
  pkgs/edulaw-ai-backend/routers/embeddings.py
  pkgs/frontend/src/lib/db.ts
  pkgs/frontend/src/routes/conversations/[conversationId]/Page.svelte
  pkgs/frontend/src/routes/documents/+page.svelte
  pkgs/supabase/migrations/20240116091812_create_documents.sql
  pkgs/supabase/migrations/20240124205749_create_match_lex_docs.sql
  pkgs/supabase/migrations/20240419113220_embeddings.sql
  pkgs/supabase/types.d.ts
Due: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, backend/gen-types

gitignore pipeline outputs
  pkgs/edulaw-ai-backend/.gitignore
Due: none

Rephrasing input question
  pkgs/edulaw-ai-backend/.gitignore
  pkgs/frontend/src/lib/chains/createEntryRouterChain.ts
  pkgs/frontend/src/lib/chains/createFollowUpQuestionsChain.ts
  pkgs/frontend/src/lib/chains/createRephraseToQueryChain.ts
  pkgs/frontend/src/lib/prompts.ts
  pkgs/frontend/src/routes/conversations/[conversationId]/Page.svelte
Due: frontend/check, frontend/lint

add InlineStatusIndicator
  pkgs/frontend/src/lib/components/InlineStatusIndicator.svelte
  pkgs/frontend/src/stories/InlineStatusIndicator.story.svelte
Due: frontend/check, frontend/lint

implement standalone question preprocessing
  pkgs/frontend/src/lib/prompts.ts
  pkgs/frontend/src/routes/conversations/[conversationId]/Page.svelte
Due: frontend/check, frontend/lint

update langchain
  pkgs/frontend/package.json
  pnpm-lock.yaml
Due: frontend/check, frontend/lint

Rewrite Edulaw QA to streamEvents and full python chain
  pkgs/edulaw-ai-backend/app/utils.py
  pkgs/edulaw-ai-backend/chains/edulaw_qa_chain.py
  pkgs/edulaw-ai-backend/chains/edulaw_qa_chain_test.py
  pkgs/edulaw-ai-backend/chains/joke_chain.py
  pkgs/edulaw-ai-backend/chains/joke_chain_test.py
  pkgs/edulaw-ai-backend/prompts/chat_with_history_and_context_prompt.py
  pkgs/edulaw-ai-backend/prompts/standalone_question_prompt.py
  pkgs/edulaw-ai-backend/routers/chains.py
  pkgs/frontend/src/lib/chains/remoteRunnables.ts
  pkgs/frontend/src/lib/useChatStream.ts
  pkgs/frontend/src/routes/conversations/[conversationId]/+page.ts
  pkgs/frontend/src/routes/conversations/[conversationId]/Page.svelte
  pkgs/frontend/src/routes/conversations/old-version/[conversationId]/+page.svelte
  pkgs/frontend/src/routes/conversations/old-version/[conversationId]/Page.svelte
Due: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

setup run_name for debug fns
  pkgs/edulaw-ai-backend/chains/edulaw_qa_chain.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

use StrOutputParser for the standalone question chain
  pkgs/edulaw-ai-backend/chains/edulaw_qa_chain.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

add SITE_URL to config.toml, create .env.example
  pkgs/supabase/.env.example
  pkgs/supabase/config.toml
Due: none

first commit
  apps/hocus-docus/README.md
Due: none

cleaning up
  apps/hocus-docus/bun.lockb
Due: none

updating readme
  apps/hocus-docus/README.md
  apps/hocus-docus/src/lib/components/Hero.svelte
  apps/hocus-docus/src/routes/+layout.svelte
  apps/hocus-docus/src/routes/+page.svelte
  apps/hocus-docus/src/routes/auth/login/+page.svelte
Due: none

updating readme
  apps/hocus-docus/README.md
Due: none

updating readme+ init prod
  apps/hocus-docus/README.md
  apps/hocus-docus/package.json
  apps/hocus-docus/supabase/.temp/gotrue-version
  apps/hocus-docus/supabase/.temp/pooler-url
  apps/hocus-docus/supabase/.temp/postgres-version
  apps/hocus-docus/supabase/.temp/project-ref
  apps/hocus-docus/supabase/.temp/rest-version
  apps/hocus-docus/supabase/.temp/storage-version
Due: none

cleaning up
  apps/hocus-docus/.env.example
Due: none

init prod deployment instructions
  apps/hocus-docus/README.md
Due: none

adding profile image. cleaning up homepage
  apps/hocus-docus/src/lib/components/UpdateProfile.svelte
  apps/hocus-docus/src/routes/+page.svelte
  apps/hocus-docus/src/routes/auth/login/+page.svelte
Due: none

add info about viewing pipeline jsonl files without embeddings
  pkgs/edulaw-ai-backend/README.md
Due: none

add prompt.markdown
  pkgs/supabase/prompt.markdown
Due: none

add simple semantic router
  pkgs/edulaw-ai-backend/spikes/semantic_routing.py
Due: edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort

working full text search
  pkgs/frontend/src/routes/documents/search/+page.svelte
Due: frontend/check, frontend/lint

Add MVP notes saving
  .gitignore
  MVP.md
  pkgs/edulaw-ai-backend/spikes/openwebui_tool.py
  pkgs/edulaw-ai-backend/spikes/supabase_py_test.py
  pkgs/frontend/src/lib/db.ts
  pkgs/frontend/src/routes/mvp/+page.svelte
  pkgs/frontend/src/routes/mvp/RealtimeFeed.svelte
  pkgs/supabase/config.toml
  pkgs/supabase/migrations/20240828120414_feed.sql
  pkgs/supabase/types.d.ts
Due: frontend/check, frontend/lint, edulaw-ai-backend/check, edulaw-ai-backend/test, edulaw-ai-backend/isort, backend/gen-types

Path conditions:
  frontend/check: any of: *.{svelte,js,ts,html,css,json} and ^pkgs/frontend/
  frontend/lint: any of: *.{svelte,js,ts,html,css,json} and ^pkgs/frontend/
  edulaw-ai-backend/check: any of: {*pyproject.toml,*poetry.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  edulaw-ai-backend/test: any of: {*pyproject.toml,*poetry.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  edulaw-ai-backend/isort: any of: {*pyproject.toml,*poetry.lock,*.py} and ^pkgs/edulaw\-ai\-backend/
  backend/check: any of: *.ts and ^pkgs/supabase/functions/
  backend/gen-types: any of: *.sql and ^pkgs/supabase/
